extends config

block showContentOfConfig
  h2= "Translation Links Preview"
  - lang = layout.user.getLang(0)
  if config.json
    table.table.table-striped.table-responsive
      thead
        tr
          th="Language"
          th="Markdown Link"
          th="Preview"
      tbody
        each lang in layout.languages
          - cell = "---"
          if config.json[lang]
            - cell = config.json[lang].replace("##link##","https://www.google.de")
          tr

            td=lang
            td=cell
            td
              |!{layout.markdown.render("bla bla " + cell + ". Next bla bla")}
