extends config

block showContentOfConfig
  p
    h2= "Calendar Preview"
    - lang = layout.user.getLang(0)
    if config.json
      table#resulttable.table.table-striped.table-responsive
        thead
          tr
            th=config.json.town[lang]
            th=config.json.title[lang]
            th=config.json.date[lang]
            th=config.json.country[lang]
        tbody
          tr
            td="Munich"
            td="OpenStreetMap Default Meeting"
            td="2015-12-15"
            td="Germany"
      p
        if (config.json.footer)
          |!{config.json.footer[lang]}
