extends ../adminlayout



block content
  p.row
    h1
      |Edit Configuration
  form(name="input", action=`${layout.htmlroot}/config/${config.name}`, method="post")
    P.row
        - sizeLabel = 0
        - sizeInput = 11
        - sizeExplanation = 1
        if config.name === "ignoreforsearch"
          h2="List of URLS, that are no doublettes"
        else
          h2=config.name
    div.row      
        if config.type == "yaml"
            div.col-11
              textarea.form-control(name="yaml",id="yaml", rows=14, wrap="off" style="font-family:monospace")=config.yaml
            div.col-1.text-muted(class="col-sm-" +sizeExplanation ) Use YAML Markup Language and formatting.
        if config.type == "text"
            div.col-11
              textarea.form-control(name="text",id="text", rows=14, wrap="off" style="font-family:monospace")=config.text
            div.col-1.text-muted(class="col-sm-" + sizeExplanation) This is plain text.
    div.row
        div.col-sm-offset-11.col-sm-1
          input(name="OK" type="submit", class="btn btn-primary",value="OK")

  p.row
    

    if config.json && config.json.error
      h2="Errors"
      p.bg-danger=config.json.error
      p.bg-danger=config.json.errorMessage
    if config.json && config.json.warning && config.json.warning.length > 0
      h2="Warning"
      ul
        for w in config.json.warning
          li.text-danger= w
    


    p
      block showContentOfConfig
    

   
  p.row
    if changes
      h2
        | History
      div
        table.table.table-striped.table-responsive
          thead
            tr 
              th
               | id
              th
               | user
              th
               | what
              th
               | change

              th
               | when
          tbody
            each change, i in changes
              tr
                td
                  a(href=layout.htmlroot + '/changes/' + change.id)=change.id
                td= change.user
                td= change.property
                td(style="white-space:pre-line")
                  |!{change.htmlDiffText()}

                td= layout.moment(change.timestamp).fromNow() 
                
