extends ../adminlayout



block content
  .row
    h1
      |Edit Configuration
    form(name="input", action=`${layout.htmlroot}/config/${config.name}`, method="post")
      div.form-horizontal(role="form")
        - sizeLabel = 0
        - sizeInput = 11
        - sizeExplanation = 1
        if config.name === "ignoreforsearch"
          h2="List of URLS, that are no doublettes"
        else
          h2=config.name
        if config.type == "yaml"
          div.form-group
            div(class="col-sm-" + sizeInput)
              textarea.form-control(name="yaml",id="yaml", rows=14, wrap="off" style="font-family:monospace")=config.yaml
            div.text-muted(class="col-sm-" +sizeExplanation ) Use YAML Markup Language and formatting.
        if config.type == "text"
          div.form-group
            div(class="col-sm-" + sizeInput)
              textarea.form-control(name="text",id="text", rows=14, wrap="off" style="font-family:monospace")=config.text
            div.text-muted(class="col-sm-" + sizeExplanation) This is plain text.




      form-group
          div.col-sm-offset-11.col-sm-1
            input(name="OK" type="submit", class="btn btn-primary",value="OK")

  .row

    if config.json && config.json.error
      p.bg-danger=config.json.error
      p.bg-danger=config.json.errorMessage


    p
      block showContentOfConfig
    

   
  .row
    if changes
      h2
        | History
      div
        table.table.table-striped.table-responsive
          thead
            tr 
              th
               | id
              th
               | user
              th
               | what
              th
               | change

              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href=layout.htmlroot + '/changes/' + change.id)=change.id
                td= change.user
                td= change.property
                td
                  |!{change.htmlDiffText()}

                td= layout.moment(change.timestamp).fromNow() 
                





