extends config

block showContentOfConfig
  - lang = layout.user.getLang(0)
  if config.json
    .row
      .col-md-3
      .col-md-6
        h2="Blog"
        ul
          li="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et"
          li="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et"

        p
          if (config.json[lang])
            |!{config.json[lang].replace("##team##","Person1, Person2, Person3")}
          else
            div.alert.alert-danger="No String for language "+lang
