extends config

mixin fieldRow(field)
  tr
    td=field
    each lang in layout.activeLanguages
      - var li = config.getJSON()[lang]
      if li
        td=li[field]
      else
        td=""

mixin countryRow(country)
  tr
    td=country
    each lang in layout.activeLanguages
      - li = config.getJSON()[lang]
      if li
        if li.excludeCountries && li.excludeCountries.toLowerCase().indexOf(country.toLowerCase())>=0
          td
            i.fa.fa-mins-circle
        else if li.includeCountries && li.includeCountries.toLowerCase().indexOf(country.toLowerCase())>=0
          td
            i.fa.fa-plus-circle
        else
          td=""
      else
        td=""


block showContentOfConfig
  - lang = layout.user.getLang(0)
  - var countries = {}
  if config.getJSON()

    each l in layout.activeLanguages
      if config.getJSON()[l] && config.getJSON()[l].excludeCountries
        each c in config.getJSON()[l].excludeCountries.split(",")
          - countries[c]="exclude"
      if config.getJSON()[l] && config.getJSON()[l].includeCountries
        each c in config.getJSON()[l].includeCountries.split(",")
          - countries[c]="include"

  .row
      table#resulttable.table.table-sm
        thead
          tr
            th="Value"
            each lang in layout.activeLanguages
              th=lang
        tbody

          +fieldRow("daysAfterBlogStart")
          +fieldRow("duration")
          +fieldRow("big_duration")
          +fieldRow("useGeoNames")
          +fieldRow("enableCountryFlags")
          each l,c in countries
            +countryRow(c)
