extends config

mixin fieldRow(field)
  tr
    td=field
    - each lang in layout.activeLanguages
      - var li = config.getJSON()[lang]
      if li
        td=li[field]
      else
        td=""

mixin countryRow(country)
  tr
    td=country
    - each lang in layout.activeLanguages
      - li = config.getJSON()[lang]
      if li
        if li.excludeCountries && li.excludeCountries.toLowerCase().indexOf(country.toLowerCase())>=0
          td
            span.glyphicon.glyphicon-minus-sign
        else if li.includeCountries && li.includeCountries.toLowerCase().indexOf(country.toLowerCase())>=0
          td
            span.glyphicon.glyphicon-plus-sign
        else
          td=""
      else
        td=""


block showContentOfConfig
  - lang = layout.language
  - var countries = {}
  if config.getJSON()

    - each l in layout.activeLanguages
      if config.getJSON()[l] && config.getJSON()[l].excludeCountries
        - each c in config.getJSON()[l].excludeCountries.split(",")
          - countries[c]="exclude"
      if config.getJSON()[l] && config.getJSON()[l].includeCountries
        - each c in config.getJSON()[l].includeCountries.split(",")
          - countries[c]="include"

  .row
      table.table.table-condensed
        thead
          tr
            th="Value"
            - each lang in layout.activeLanguages
              th=lang
        tbody

          +fieldRow("date")
          +fieldRow("duration")
          +fieldRow("big_duration")
          +fieldRow("useGeoNames")
          +fieldRow("enableCountryFlags")
          - each l,c in countries
            +countryRow(c)




