extends config

mixin fieldRow(field)
  tr
    td=field
    - each lang in layout.activeLanguages
      - let li = config.getJSON()[lang]
      if li
        td=li[field]
      else
        td=""

mixin countryRow(country)
  tr
    td=country
    - each lang in layout.activeLanguages
      - li = config.getJSON()[lang]
      if li
        if li.excludeCountries.toLowerCase().indexOf(country.toLowerCase())>=0
          td
            span.glyphicon.glyphicon-minus-sign
        else
          td=""
      else
        td=""


block showContentOfConfig
  - lang = layout.language
  if config.getJSON()
    - let countries = {}
    - each l in layout.activeLanguages
      if config.getJSON()[l]
        - each c in config.getJSON()[l].excludeCountries.split(",")
          - countries[c]="exclude"

    .row
      table.table.table-condensed
        thead
          tr
            th="Value"
            - each lang in layout.activeLanguages
              th=lang
        tbody

          +fieldRow("date")
          +fieldRow("duration")
          +fieldRow("big_duration")
          +fieldRow("useGeoNames")
          +fieldRow("enableCountryFlags")
          +fieldRow("disablePrettify")
          - each l,c in countries
            +countryRow(c)




