extends config

block showContentOfConfig
  - lang = layout.user.getLang(0)
  p
    | Supported icons are "font awesome" icons.
    | See font awesome documentation.
  if config.getJSON()
    .row
      table.table.table-sm
        thead
          tr
            th="Icon"
            th="Icon Voted"
            th="At Top"
            th="Name"
            th="description"
        tbody
          each vote in config.getJSON()
            tr
              td
                span(class=vote.iconClass)
              td
                span(class=vote.iconClass style="color:" + vote.color)
              td=vote.displayAtTop
              td=vote.name
              td=vote.description
