include mixins

block all
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='/favicon.ico')
      title=layout.title
      // Bootstrap core CSS
      link(href=layout.path("bootstrap")+'/css/bootstrap.min.css', rel='stylesheet')
      link(href=layout.path("font-awesome")+"/css/font-awesome.min.css" rel='stylesheet')

    body

        // Fixed navbar
        nav.navbar.navbar-light.bg-light.navbar-expand-lg.fixed-top
          +homeButton("navbar-brand")
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarSupportedContent  
      
            if (layout.user.access === "full")
              ul.navbar-nav.mr-auto
                li.dropdown.nav-item
                  a.nav-link.dropdown-toggle#userLists(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false")
                    | UserLists
                  div.dropdown-menu(aria-labelledby="userLists")  
                    a.dropdown-item#createUser(href=layout.htmlroot + "/usert/create") Create
                    a.dropdown-header User Lists
                    a.dropdown-item(href=layout.htmlroot + "/usert/list?access=full") List Active
                    a.dropdown-item(href=layout.htmlroot + "/usert/list?access=guest") List Guest
                    a.dropdown-item(href=layout.htmlroot + "/usert/list?temporaryGuest=true") List Full User Testing Guest
                    a.dropdown-item(href=layout.htmlroot + "/usert/list?access=denied") List Denied
                    a.dropdown-item(href=layout.htmlroot + "/usert/list") List All
                    a.dropdown-item(href=layout.htmlroot + "/usert/list?access=full&sort=lastAccess&desc=true&lastAccess=!=never") Who Is Online
                  li.dropdown.nav-item
                    a.nav-link.dropdown-toggle#toolsMenu(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false")
                      | Tools
                    div.dropdown-menu(aria-labelledby="toolsMenu")  
                      a.dropdown-header Action
                      a.dropdown-item#createblog(href=layout.htmlroot+"/createblog") Create Blog

            ul.navbar-nav
              li.navbar-item.active
                +helpMenu

              +langChooser("lang")
              +userAvatar
              
          // /.nav-collapse


        .container-fluid

            p
             block content
            p

        // /container

        // Bootstrap core JavaScript
        // ==================================================
        // Placed at the end of the document so the pages load faster

        script(src=layout.path("jquery")+'/jquery.min.js')
        script(src=layout.path("bootstrap")+'/js/bootstrap.bundle.min.js')

  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href=`${layout.htmlroot}${layout.style}`)
    body
  script(nonce=cspNonce).

    // Init This Window with jQuery ready Callback
    function chooseLanguage(number,lang) {
      var data = {};
      data[number]=lang;
      jQuery.post("!{htmlroot}/language",data, function () {
        location.reload();
      }).fail(function (err) {
        console.error("Problem changing language " +  number + " " + lang);
        console.error(err);
      });
    }

  block scripts
