extends adminlayout

block content
  .row
    .col-md-4
      h1="Configuration"
      h3="Calendar"
      .row
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/calendartranslation")  Calendar Translation Texts
          p
            a(href=layout.htmlroot+"/config/calendarflags")  Flags for calendar
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/eventsfilter")  Filter for calendar
      h3="Editor Info"
      .row
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/formulation_tipDE")  Formulation Hint for DE
          p
            a(href=layout.htmlroot+"/config/formulation_tipEN")  Formulation Hint for EN
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/categorydescription")  Descriptions for Categories
          p
            a(href=layout.htmlroot+"/config/languageflags") Language Indicator Icons
      h3="Pictures"
      p
        a(href=layout.htmlroot+"/config/licenses") Picture Licensing
      h3="Blog"
      .row
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/editorstrings") Author Documentation
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/categorytranslation") Category Translation
      h3="Article"
      .row
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/automatictranslatetext") Text for Translate Links
          p
            a(href=layout.htmlroot+"/config/ignoreforsearch") Not a Doublette Link
        .col-md-6
          p
            a(href=layout.htmlroot+"/config/votes") Votes For Articles
      h3="IM Notification"
      p
        a(href=layout.htmlroot+"/config/slacknotification") Configuration of IM Channel (Slack,MM)

    .col-md-8.visible-xs
      p
        br
        - var d = new Date();
        - d= d.toISOString();
        - d= d.substring(0,7);
        a(href=layout.htmlroot+"/changes/log?table=config&date="+d) [changes]
    .col-md-8.hidden-xs
      .row
        h4="Long Absent"
        p
          table.table
            tr
              td
                for user,i in longAbsent
                  span
                    a(href=layout.htmlroot + "/usert/" + user.OSMUser)=user.OSMUser
                    span=", "
      .row
        if changes
          h4="Last Changes "
            - var d = new Date();
            - d= d.toISOString();
            - d= d.substring(0,7);
            a(href=layout.htmlroot+"/changes/log?date="+d)  (more)
          div
            table.table.table-striped.table-condensed.table-responsive
              thead
                tr
                  th=""
                  th
                   | blog
                  th
                   | user
                  th
                   | table
                  th
                   | what
                  th
                   | Change
                  th
                   | when
              tbody
                each change, i in changes
                  tr
                    td
                      a(href=layout.htmlroot+'/changes/' + change.id)
                        span.glyphicon.glyphicon-info-sign
                    td= change.blog
                    td= change.user
                    td= change.table
                    td= change.property
                    td
                      |!{change.htmlDiffText(40)}
                    td= layout.moment(change.timestamp).fromNow()
          div
            p
              |only displaying changes
              span.osmbc-inserted
                |inserted text
              span.osmbc-deleted
                |removed text

  .row
    .col-md-8
    .col-md-4
      if layout.style!="style.css"
        a(href=layout.htmlroot+"/osmbc.html?tempstyleOff=true") Switch Development Color off for this session.

  div.footer