extends adminlayout

block content
  .row
    .col-md-4
    .col-md-8.hidden-xs
      if changes
        h4="Last Changes "
          - var d = new Date();
          - d= d.toISOString();
          - d= d.substring(0,7);
          a(href="#{layout.htmlroot}/changes/log?date="+d)  (more)
        div
          table.table.table-striped.table-condensed.table-responsive
            thead
              tr 
                th
                 | 
                th
                 | blog
                th
                 | user
                th
                 | table
                th
                 | what
                th
                 | Change
                th
                 | when
            tbody
              each change, i in changes
                tr
                  td
                    a(href='#{layout.htmlroot}/changes/' + change.id) 
                      span.glyphicon.glyphicon-info-sign
                  td= change.blog
                  td= change.user
                  td= change.table
                  td= change.property
                  td
                    :verbatim
                      !{change.htmlDiffText(40)}
                  td= layout.moment(change.timestamp).fromNow()
        div
          p
            |only displaying changes 
            span.osmbc-inserted
              |inserted text 
            span.osmbc-deleted
              |removed text

  .row
    .col-md-8
    .col-md-4
      if layout.style!="style.css"
        a(href="#{layout.htmlroot}/osmbc.html?tempstyleOff=true") Switch Development Color off for this session.

  div.footer