extends adminlayout

block content
  .row
    .col-md-4
      h1="Configuration"
      h3="Calendar"
      
      p
        a(href=layout.htmlroot+"/config/calendartranslation")  Calendar Translation Texts
      p
        a(href=layout.htmlroot+"/config/calendarflags")  Flags for calendar
      p
        a(href=layout.htmlroot+"/config/eventsfilter")  Filter for calendar
      h3="Editor Info"
      p
        a(href=layout.htmlroot+"/config/formulation_tipDE")  Formulation Hint for DE
      p
        a(href=layout.htmlroot+"/config/formulation_tipEN")  Formulation Hint for EN
      p
        a(href=layout.htmlroot+"/config/categorydescription")  Descriptions for Categories
      p
        a(href=layout.htmlroot+"/config/languageflags") Language Indicator Icons
      p
        a(href=layout.htmlroot + "/config/helpmenu") Configure Help Menu
        
      h3="Pictures"
      p
        a(href=layout.htmlroot+"/config/licenses") Picture Licensing
      h3="Blog"
      p
        a(href=layout.htmlroot+"/config/editorstrings") Author Documentation
      p
        a(href=layout.htmlroot+"/config/categorytranslation") Category Translation
      p
        a(href=layout.htmlroot+"/config/newArticles") Empty Articles To Create
      h3="Article"
      p
        a(href=layout.htmlroot+"/config/automatictranslatetext") Text for Translate Links
      p
        a(href=layout.htmlroot+"/config/ignoreforsearch") Not a Doublette Link
      p
        a(href=layout.htmlroot+"/config/votes") Votes For Articles
      h3="IM Notification"
      p
        a(href=layout.htmlroot+"/config/slacknotification") Configuration of IM Channel (Slack,MM)

    .col-md-8
      div.d-none.d-xs-none
        p
          br
          - var d = new Date();
          - d= d.toISOString();
          - d= d.substring(0,7);
          a(href=layout.htmlroot+"/changes/log?table=config&date="+d) [changes]
      div
        h4="Long Absent"
        p
          table.table
            tr
              td
                for user,i in longAbsent
                  span
                    a(href=layout.htmlroot + "/usert/" + user.OSMUser)=user.OSMUser
                    span=", "
        if deeplUsage
          h4="DeeplUsage"
          p="Used Characters: " + deeplUsage.character_count
          p="Limit Characters: " + deeplUsage.character_limit
          p="Usage Percent: " + deeplUsage.character_percent
          
        if changes
          h4="Last Changes "
            - var d = new Date();
            - d= d.toISOString();
            - d= d.substring(0,7);
            a(href=layout.htmlroot+"/changes/log?date="+d)  (more)
          div
            table.table.table-striped.table-sm.table-responsive
              thead
                tr
                  th=""
                  th
                   | blog
                  th
                   | user
                  th
                   | table
                  th
                   | what
                  th
                   | Change
                  th
                   | when
              tbody
                each change, i in changes
                  tr
                    td
                      a(href=layout.htmlroot+'/changes/' + change.id)
                        i.fa.fa-info-circle
                    td= change.blog
                    td= change.user
                    td= change.table
                    td= change.property
                    td
                      |!{change.htmlDiffText(40)}
                    td= layout.moment(change.timestamp).fromNow()
          div
            p
              |only displaying changes
              span.osmbc-inserted
                |inserted text
              span.osmbc-deleted
                |removed text

  

  div.footer
