extends layout




block content
  p
    if article.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{article.lock.user} edits since #{moment(article.lock.timestamp).fromNow()}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
  


          
    if (params.edit) 
      form(name="input", action="/article/#{article.id}", method="post")
        .row
          .col-md-1
            | Blog <br>
          .col-md-4
            select(id="blog",name="blog").form-control
              option(value="WN255") WN255
              option(value="WN256") WN256
              option(value="WN257" selected) WN257
          .col-md-4
            select(id="blogEN",name="blogEN").form-control
              option(value="Weekly255") Weekly255
              option(value="Weekly256") Weekly256
              option(value="Weekly257" selected) Weekly257
          .col-md-3
            input(type="submit", class="btn btn-primary",value="OK")
            a(href="/article/#{article.id}" class="btn btn-default" role="button") Cancel


        .row
          .col-md-1
            | Category <br>
          .col-md-4
            select(id="category",name="category").form-control
              option(value="" selected="#{(typeof(article.category)=='undefined')||(article.category=='')}") #{"--"} 
              for category in categories
                option(value="#{category}" selected="#{(category==article.category)}") #{category}
          .col-md-4
            select(id="categoryEN",name="categoryEN").form-control
              option(value="" selected="#{(typeof(article.categoryEN)=='undefined')||(article.categoryEN=='')}") #{"--"} 
              for category in categories
                option(value="#{category}" selected="#{(category==article.categoryEN)}") #{category}
        .row
          .col-md-1
            | Title <br>
          .col-md-11
            textarea.form-control(name="title",rows=1) #{article.title}
               
        .row
          .col-md-1
            | Collection <br>
          .col-md-11
            textarea.form-control(name="collection",rows=7) #{article.collection}
        .row
          .col-md-1
            | Markdown DE <br>
          .col-md-11  
            textarea.form-control(
              name="markdown"
              rows=7) #{article.markdown}
        .row
          .col-md-1
            | Preview DE
          .col-md-11 
            .panel.panel-default
              .panel-body 
                :verbatim
                !{article.textHtml}
        .row
          .col-md-1
            | Markdown EN <br>
          .col-md-11  
            textarea.form-control(
              name="markdownEN"
              rows=7) #{article.markdownEN}
        .row
          .col-md-1
            | Preview EN
          .col-md-11 
            .panel.panel-default
              .panel-body 
                :verbatim
                !{article.textHtmlEN}
        .row
          .col-md-1
            | Comment <br>
          .col-md-11  
            textarea.form-control(
              name="comment"
              rows=7) #{article.comment}
    else
     .row
        .col-md-1
          | Blog <br>
        .col-md-4
          h2
            | #{article.blog}
        .col-md-4
          h2
            | #{article.blogEN}
        .col-md-3
          a(href="/article/#{article.id}?edit=true" class="btn btn-primary" role="button") Edit
      .row
        .col-md-1
          | Category <br>
        .col-md-4
          h2
            | #{article.category}
        .col-md-4
          h2
            | #{article.categoryEN}
      .row
        .col-md-1
          | Title <br>
        .col-md-11
          .panel.panel-default
              .panel-body #{article.title}
      .row
        .col-md-1
          | Collection <br>
        .col-md-11
            .panel.panel-default
              .panel-body #{article.collection}
      .row
          .col-md-1
            | Markdown DE<br>
          .col-md-11  
              .panel.panel-default
                .panel-body #{article.markdown}
         
      .row
        .col-md-1
          | Preview DE

        .col-md-11 
          .panel.panel-default
            .panel-body 
              :verbatim
              !{article.textHtml}
      .row
          .col-md-1
            | Markdown EN<br>
          .col-md-11  
              .panel.panel-default
                .panel-body #{article.markdownEN}
         
      .row
        .col-md-1
          | Preview EN

        .col-md-11 
          .panel.panel-default
            .panel-body 
              :verbatim
              !{article.textHtmlEN}
      .row
        .col-md-1
          | Comment <br>
        .col-md-11  
            .panel.panel-default
              .panel-body 
                :verbatim
                !{article.commentHtml}
  .row
    if articleReferences.count > 1
      h2
        | Links used in other Post
      div
        table.table.table-striped
          thead
            tr
              th
                | link
              th
                | article
              th
                | Blog
          tbody
            each link in articleReferences
              if (link != "count" && articleReferences[link])
                each articleItem in articleReferences[link]
                  if articleItem.id != article.id
                    tr
                      td
                        a(href='#{link}') #{link}
                      td
                        a(href='/article/'+articleItem.id) #{article.displayTitle()}
                      td= articleItem.blog




  .row
    if changes
      h2
        | History
      div
        table.table.table-striped
          thead
            tr 
              th
               | id
              th
               | user
              th
               | what
              th
               | from
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='/change/' + change.id) #{change.id} 
                td= change.user
                td= change.property
                td= util.shorten(change.from)
                td= util.shorten(change.to)
                td= moment(change.timestamp).fromNow() 
                





