extends layout




block content
  p
    if article.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{article.lock.user} edits since #{layout.moment(article.lock.timestamp).fromNow()} Version #{article.version}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
  


          
    if (params.edit && !article.isClosed) 
      form(name="input", action="#{layout.htmlroot}/article/#{article.id}", method="post")
        .row
          .col-md-1
            | Blog <br>
          .col-md-5
            select(id="blog",name="blog").form-control
              option(value="Future") Future
              if (layout.listOfOpenBlog)  
                if (layout.listOfOpenBlog.indexOf(article.blog) == -1)
                  option(value="#{article.blog}" selected) #{article.blog}
                for blog in layout.listOfOpenBlog 
                  if blog.name == article.blog         
                    option(value="#{blog.name}" selected) #{blog.name}
                  else
                     option(value="#{blog.name}" ) #{blog.name}
              if (article.blog == "Trash")
                option(value="Trash" selected) Trash
              else
                option(value="Trash" ) Trash
              if (layout.listOfHelpBlog)
                each helpblog in layout.listOfHelpBlog
                  if helpblog.name == article.blog         
                    option(value="#{helpblog.name}" selected) #{helpblog.name}
                  else
                     option(value="#{helpblog.name}" ) #{helpblog.name}
              
          .col-md-5
            .hidden
              textarea.form-control(name="version",rows=1,hide=true) #{article.version}

          .col-md-1
            input(type="submit", class="btn btn-primary",value="OK")
            a(href="#{layout.htmlroot}/article/#{article.id}?edit=false" class="btn btn-default" role="button") Cancel


        .row
          .col-md-1
            | Category <br>
          .col-md-5
            select(id="category",name="category").form-control
              for category in categories
                if (category.DE == article.category)
                  option(value="#{category.DE}" selected ) #{category.DE} / #{category.EN}
                else
                  option(value="#{category.DE}" ) #{category.DE} / #{category.EN}
          .col-md-5
            h2
              | #{article.categoryEN}

        .row
          .col-md-1
            | Title <br>
          .col-md-10
            textarea.form-control(name="title",rows=1) #{article.title}
               
        .row
          .col-md-1
            | Collection <br>
          .col-md-10
            textarea.form-control(name="collection",rows=7) #{article.collection}
        .row 
          .col-md-1
          .col-md-5
            | DE
          .col-md-5
            | EN
        .row
          .col-md-1
            | Markdown 
          .col-md-5 
            textarea.form-control(id="markdown" name = "markdown" rows=7) #{article.markdown}
          .col-md-5  
            textarea.form-control(id="markdownEN" name = "markdownEN" rows=7) #{article.markdownEN}
            | 'german only' to specify no translation wanted.
          .col-md-1

            

            img(id="Japanisch",src="http://blog.openstreetmap.de/wp-uploads//2015/10/jp.svg", class="img-responsive" ,width = 40, onclick="javascript:myclick(this.id)")
            img(id="Französisch",src="http://blog.openstreetmap.de/wp-uploads//2015/01/fr.svg", class="img-responsive" , width = 40 , onclick="javascript:myclick(this.id)")
            img(id="Spanisch",src="http://blog.openstreetmap.de/wp-uploads//2015/01/es.svg", class="img-responsive" , width = 40 , onclick="javascript:myclick(this.id)")
            img(id="Brasilianisches Portugiesisch",src="http://blog.openstreetmap.de/wp-uploads//2015/01/pt-br.svg", class="img-responsive", width = 40 ,onclick="javascript:myclick(this.id)")
            img(id="Tschechisch",src="http://blog.openstreetmap.de/wp-uploads//2015/01/cz.svg", class="img-responsive", width = 40, onclick="javascript:myclick(this.id)")
            img(id="Russisch",src="http://blog.openstreetmap.de/wp-uploads//2015/07/ru.svg", class="img-responsive", width = 40, onclick="javascript:myclick(this.id)")
            img(id="Niederländisch",src="http://blog.openstreetmap.de/wp-uploads//2015/07/nl.svg", class="img-responsive" ,width = 40 ,onclick="javascript:myclick(this.id)")



        .row
          .col-md-1
            | Preview
          .col-md-5
            .panel.panel-default
              .panel-body(id="preview")
                :verbatim
                  !{article.textHtml}
          .col-md-5
            .panel.panel-default
              .panel-body(id="previewEN")
                :verbatim
                  !{article.textHtmlEN}
        .row
          .col-md-1
            | Comment <br>
          .col-md-11  
            textarea.form-control(
              name="comment"
              rows=7) #{article.comment}
        .row
          .col-md-1
          .col-md-5
            if (article.comment && article.comment!="")
              select(id="commentStatus",name="commentStatus").form-control
                each status in ["open","solved"]
                  if article.commentStatus
                    if status == article.commentStatus
                      option(value="#{status}" selected ) #{status}
                    else
                      option(value="#{status}"  ) #{status}
                  else
                      option(value="#{status}"  ) #{status}

          
    else
     .row
        .col-md-1
          | Blog <br>
        .col-md-5
          h2
            | #{article.blog}
        .col-md-5
          h2
        .col-md-1
          a(href="#{layout.htmlroot}/article/#{article.id}?edit=true" class="btn btn-primary" role="button") Edit
      .row
        .col-md-1
          | Category <br>
        .col-md-5
          h4
            | #{article.category}
        .col-md-5
          h4
            | #{article.categoryEN}
      .row
        .col-md-1
          | Title <br>
        .col-md-10
          h3
            | #{article.title}
      .row
        .col-md-1
          | Collection <br>
        .col-md-10
            .panel.panel-default
              .panel-body
                :verbatim
                !{article.collection.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi, '<a href="$1">$1</a>')}
      .row 
        .col-md-1
        .col-md-5
          | DE
        .col-md-5
          | EN

      if (false)
        .row
          .col-md-1
              | Markdown<br>
          .col-md-5  
              .panel.panel-default
                .panel-body #{article.markdown}
          .col-md-5
              .panel.panel-default
                .panel-body #{article.markdownEN}    
      .row
        .col-md-1
          | Preview

        .col-md-5 
          .panel.panel-default
            .panel-body(id="preview")
              if (article.textHtml != "")
                :verbatim
                  !{article.textHtml}
              else
                | #{article.markdown}
        .col-md-5 
          .panel.panel-default
            .panel-body(id="previewEN")
              if (article.textHtmlEN != "")
                :verbatim
                  !{article.textHtmlEN}
              else
                | #{article.markdownEN}
        

      .row
         if (article.comment && article.comment!="")
          .col-md-1
            | Comment 
          .col-md-10 
              | (Comment is #{article.commentStatus})
              .panel.panel-default
                .panel-body
                  :verbatim
                    !{article.commentHtml}
    .row
      if articleReferences.count >= 1
        h2
          | Links used in other Post
        div
          table.table.table-striped
            thead
              tr
                th
                  | link
                th
                  | article
                th
                  | Blog
            tbody
              each array,link in articleReferences
                if (link != "count" )
                  each articleItem,index in array
                    if (articleItem.id != article.id) && (index <5)
                      tr
                        td
                          a(href='#{link}') #{link}
                        td
                          a(href='#{layout.htmlroot}/article/'+articleItem.id) #{articleItem.displayTitle()}
                        td= articleItem.blog
                    if (index == 8) 
                      tr
                        td
                          a(href='#{link}') #{link}
                        td
                          | Und #{array.length-5} weitere Artikel.
                



    .row
      if changes
        h2
          | History
        div
          table.table.table-striped
            thead
              tr 
                th
                 | id
                th
                 | user
                th
                 | what
                th
                 | from
                th
                 |  to
                th
                 | when
             tbody
              each change, i in changes
                tr
                  td
                    a(href='#{layout.htmlroot}/changes/' + change.id) #{change.id} 
                  td= change.user
                  td= change.property
                  td= layout.util.shorten(change.from)
                  td= layout.util.shorten(change.to)
                  td= layout.moment(change.timestamp).fromNow() 
 
block scripts                
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    markdown = document.getElementById("markdown");
    markdown.onchange = onchange;
    markdown.onkeyup = onchange;
    markdownEN = document.getElementById("markdownEN");
    markdownEN.onchange = onchangeEN;
    markdownEN.onkeyup = onchangeEN;
    markdownEN.onfocusout = onleaveEN;

    function onleaveEN() {
      var mdEN = document.getElementById("markdownEN").value;
      if (mdEN == "-") {
        document.getElementById("markdownEN").value = "german only";
        }
    }
   
    function convert(text) {
      converter = new showdown.Converter();

      // generate the OSMBlog Style List
      if (text.substring(0,2)!="* ") text = "* "+text;
      // convert md to html
      text = converter.makeHtml(text);
      // skip <ul> and </ul> at start and end
      text = text.substring(4,text.length-5)

      
      return text;

    }
    
    function onchange() {
      var md = document.getElementById("markdown").value;
      preview = document.getElementById("preview");
      
      preview.innerHTML = convert(md);
      var longLink = md.search(/\[[^\]]{30,}\]/g);
      if (longLink>=0) {
        preview.style.backgroundColor="#FDC6CD";
        }
      else {
         preview.style.backgroundColor="";
        }
      }
    function onchangeEN() {
      var mdEN = document.getElementById("markdownEN").value;
      previewEN = document.getElementById("previewEN");
      
      previewEN.innerHTML = convert(mdEN);
      var longLink = mdEN.search(/\[[^\]]{40,}\]/g);
      if (longLink>=0) {
        previewEN.style.backgroundColor="#FDC6CD";
        }
      else {
         previewEN.style.backgroundColor="";
        }
      }

      var myclick = function (id) {
        image = document.getElementById(id);
        src = image.src;
        src = "![("+id+")]("+src+")";
        clip(src);
        alert(id+ " flag is copied to clipboard");
        

               }






