extends layout




block content

  row
    div
      table.table.table-striped
        thead
          tr 
            th
             | title
            th
             | blog
            th
             | category
            th
             | collection
            th
             | markdown
         tbody
          each article in articles
            tr
              td
                a(href='/article/' + article.id) #{(article.displayTitle())}
              td= article.blog
              td= article.category
              td= util.shorten(article.collection) 
              td= util.shorten(article.markdown) 
               


  