extends layout




block content

  row
    div
      table.table.table-striped.table-responsive
        thead
          tr 
            th
             | title
            th
             | blog
            th
             | category
            th
             | collection
            th=layout.user.language
         tbody
          each article in articles
            tr
              td
                a(href='#{layout.htmlroot}/article/' + article.id) #{(article.displayTitle())}
              td= article.blog
              td= article.categoryEN
              td= layout.util.shorten(article.collection) 
              td= layout.util.shorten(article["markdown"+layout.user.language]) 
               


  