extends layout




block content
  p
    if article.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{article.lock.user} edits since #{layout.moment(article.lock.timestamp).fromNow()} Version #{article.version}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
  


          
    if (params.edit && !article.isClosed) 
      form(name="input", action="#{layout.htmlroot}/article/#{article.id}", method="post")
        .row
          .col-md-1
            | Blog <br>
          .col-md-5
            select(id="blog",name="blog").form-control
              option(value="Future") Future
              if (layout.listOfOpenBlog)  
                for blog in layout.listOfOpenBlog 
                  if blog.name == article.blog         
                    option(value="#{blog.name}" selected) #{blog.name}
                  else
                     option(value="#{blog.name}" ) #{blog.name}
              option(value="Trash") Trash
          .col-md-5
            .hidden
              textarea.form-control(name="version",rows=1,hide=true) #{article.version}

          .col-md-1
            input(type="submit", class="btn btn-primary",value="OK")
            a(href="#{layout.htmlroot}/article/#{article.id}?edit=false" class="btn btn-default" role="button") Cancel


        .row
          .col-md-1
            | Category <br>
          .col-md-5
            select(id="category",name="category").form-control
              if (blog.categories)
                for category in blog.categories
                  if (category.DE == article.category)
                    option(value="#{category.DE}" selected ) #{category.DE} / #{category.EN}
                  else
                    option(value="#{category.DE}" ) #{category.DE} / #{category.EN}
              else
                for category in layout.categories
                  if (cateogry.DE == article.category)
                    option(value="#{category.DE}" selected) #{category.DE} / #{category.EN}
                  else
                    option(value="#{category.DE}" ) #{category.DE} / #{category.EN}
          .col-md-5
            h2
              | #{article.categoryEN}

        .row
          .col-md-1
            | Title <br>
          .col-md-10
            textarea.form-control(name="title",rows=1) #{article.title}
               
        .row
          .col-md-1
            | Collection <br>
          .col-md-10
            textarea.form-control(name="collection",rows=7) #{article.collection}
        .row
          .col-md-1
            | Markdown 
          .col-md-5  
            textarea.form-control(
              name="markdown"
              rows=7) #{article.markdown}
          .col-md-5  
            textarea.form-control(
              name="markdownEN"
              rows=7) #{article.markdownEN}
            | 'german only' to specify no translation wanted.
          
        .row
          .col-md-1
            | Preview
          .col-md-5
            .panel.panel-default
              .panel-body 
                :verbatim
                  !{article.textHtml}
          .col-md-5
            .panel.panel-default
              .panel-body 
                :verbatim
                  !{article.textHtmlEN}
        .row
          .col-md-1
            | Comment <br>
          .col-md-11  
            textarea.form-control(
              name="comment"
              rows=7) #{article.comment}
    else
     .row
        .col-md-1
          | Blog <br>
        .col-md-5
          h2
            | #{article.blog}
        .col-md-5
          h2
        .col-md-1
          a(href="#{layout.htmlroot}/article/#{article.id}?edit=true" class="btn btn-primary" role="button") Edit
      .row
        .col-md-1
          | Category <br>
        .col-md-5
          h2
            | #{article.category}
        .col-md-5
          h2
            | #{article.categoryEN}
      .row
        .col-md-1
          | Title <br>
        .col-md-10
          .panel.panel-default
              .panel-body #{article.title}
      .row
        .col-md-1
          | Collection <br>
        .col-md-10
            .panel.panel-default
              .panel-body #{article.collection}
      .row
        .col-md-1
            | Markdown<br>
        .col-md-5  
              .panel.panel-default
                .panel-body #{article.markdown}
        .col-md-5 
              .panel.panel-default
                .panel-body #{article.markdownEN}    
      .row
        .col-md-1
          | Preview

        .col-md-5 
          .panel.panel-default
            .panel-body 
              :verbatim
                !{article.textHtml}
        .col-md-5 
          .panel.panel-default
            .panel-body 
              :verbatim
                !{article.textHtmlEN}
        

      .row
        .col-md-1
          | Comment <br>
        .col-md-10 
            .panel.panel-default
              .panel-body 
                :verbatim
                  !{article.commentHtml}
    .row
      if articleReferences.count >= 1
        h2
          | Links used in other Post
        div
          table.table.table-striped
            thead
              tr
                th
                  | link
                th
                  | article
                th
                  | Blog
            tbody
              each array,link in articleReferences
                if (link != "count" )
                  each articleItem,index in array
                    if (articleItem.id != article.id) && (index <5)
                      tr
                        td
                          a(href='#{link}') #{link}
                        td
                          a(href='#{layout.htmrroot}/article/'+articleItem.id) #{articleItem.displayTitle()}
                        td= articleItem.blog
                    if (index == 8) 
                      tr
                        td
                          a(href='#{link}') #{link}
                        td
                          | Und #{array.length-5} weitere Artikel.
                



    .row
      if changes
        h2
          | History
        div
          table.table.table-striped
            thead
              tr 
                th
                 | id
                th
                 | user
                th
                 | what
                th
                 | from
                th
                 |  to
                th
                 | when
             tbody
              each change, i in changes
                tr
                  td
                    a(href='#{layout.htmlroot}/changes/' + change.id) #{change.id} 
                  td= change.user
                  td= change.property
                  td= layout.util.shorten(change.from)
                  td= layout.util.shorten(change.to)
                  td= layout.moment(change.timestamp).fromNow() 
 
                





