extends config

block showContentOfConfig
  h2= "Translation Links Preview"
  - lang = layout.language
  if config.json
    table.table.table-striped.table-responsive
      thead
        tr
          th="Language"
          th="Markdown Link"
      tbody
        each lang in layout.languages
          tr
            td=lang
            td="("+config.json[lang]+"https://www.google.de/translatelink)"

