extends layout

mixin navbutton(userstyle,style)
  if (userstyle==style) 
    li.active:  a(href="#{layout.htmlroot}/blog/#{blog.id}?style=#{userstyle}") #{userstyle}
  else
    li:  a(href="#{layout.htmlroot}/blog/#{blog.id}?style=#{userstyle}") #{userstyle}
  
 
"#{layout.htmlroot}/blog/#{blog.id}?style=#{userstyle}"

block content
  .row
    .col-md-4
      h2
        | Wochennotiz #{blog.name}
    .col-md-4
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
              | #{blog.status}
              span.caret   
            ul.dropdown-menu(name="category",role="menu")
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=open") open 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=review") review 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=published") published 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=trash") trash  
    
    .col-md-4    
     if (blog.status == "review")
        .row
         .col-md-12
               form.form-horizontal(name="review", action="#{layout.htmlroot}/blog/#{blog.id}", method="get")
                .form-group
                  .col-sm-10
                    input(type="text",class="form-control",name ="reviewComment",id="reviewComment") 

                  .col-sm-2
                    button.btn.btn-large.btn-primary(type="submit",id="reviewButton") Review#{left_lang}
  .row
    .col-md-6
      - reviewCommentsLeft = blog["reviewComment"+left_lang];
      if (blog.status == "review" || blog.status == "published")
          if (reviewCommentsLeft && reviewCommentsLeft.length>0)
            h3
              | Review #{left_lang}
            table.table.table-condensed.table-responsive
              tbody
              each comment in reviewCommentsLeft
                tr
                  td=comment.user
                  td=comment.text
                  td=layout.moment(comment.timestamp).fromNow()
    .col-md-6
      - reviewCommentsRight = blog["reviewComment"+right_lang];
      if (blog.status == "review" || blog.status == "published")
          if (reviewCommentsRight && reviewCommentsRight.length>0)
            h3
              | Review #{right_lang}
            table.table.table-condensed.table-responsive
              tbody
              each comment in reviewCommentsRight
                tr
                  td=comment.user
                  td=comment.text
                  td=layout.moment(comment.timestamp).fromNow()
    
  .row
    .col-md-12
      ul.nav.nav-tabs
        if (layout.user.blogSetting0)
          - style0 = layout.user.blogSetting0+layout.user.blogLanguages0
          +navbutton(style0,style)
        if (layout.user.blogSetting1)
          - style1 = layout.user.blogSetting1+layout.user.blogLanguages1
          +navbutton(style1,style)
        if (layout.user.blogSetting2)
          - style2 = layout.user.blogSetting2+layout.user.blogLanguages2
          +navbutton(style2,style)
        if (layout.user.blogSetting3)
          - style3 = layout.user.blogSetting3+layout.user.blogLanguages3
          +navbutton(style3,style)
        if (layout.user.blogSetting4)
          - style4 = layout.user.blogSetting4+layout.user.blogLanguages4
          +navbutton(style4,style)
        li
          a(href="#{layout.htmlroot}/blog/#{blog.id}/preview?lang=#{left_lang}") 
            span.glyphicon.glyphicon-export
            | #{left_lang}
        if (right_lang != "--")
          li
            a(href="#{layout.htmlroot}/blog/#{blog.id}/preview?lang=#{right_lang}") 
              span.glyphicon.glyphicon-export
              | #{right_lang}
        li
          a(href="#{layout.htmlroot}/usert/#{layout.user.id}") 
            span.glyphicon.glyphicon-cog
           

    
        
             
  .row
      :verbatim
        <br><br> 
        !{main_text}
  .row
    .col-md-10
    .col-md-2
      p
        a(href="#{layout.htmlroot}/blog/edit/#{blog.id}") [Edit Blog Detail]




  .row
    if changes
      div
        table.table.table-striped
          thead
            tr 
              th
               | user
              th
               |  what
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) #{change.user} 
                td= change.property
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 



block scripts                
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    reviewButton = document.getElementById("reviewButton");
    reviewComment = document.getElementById("reviewComment");
    reviewComment.onchange = onchange;
    reviewComment.onkeyup = onchange;

    reviewButton.disabled = true;
    
    function onchange() {
      
      reviewButton.disabled = (review.comment == "");
    }
  





