extends layout




block content
  .row
    .col-md-6
      .row
        .col-md-9 
          
            div.btn-group
              if style == 'overview'
                button.btn.btn-primary(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=overview","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=overview","_blank")')
                  | Overview
              else
                button.btn.btn-default(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=overview","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=overview","_blank")')
                  | Overview
              if style == 'preview'
                button.btn.btn-primary(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=preview","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=preview","_blank")')

                  | Full
              else
                button.btn.btn-default(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=preview","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=preview","_blank")')
                  | Full
              if style == 'previewEN'
                button.btn.btn-primary(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=previewEN","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=previewEN","_blank")')
                  | Full EN
              else
                button.btn.btn-default(
                  onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=previewEN","_self")'
                  onDblClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=previewEN","_blank")')
                  | Full EN
            div.btn-group
              button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}/preview","_self")')
                | View Preview
              button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}/preview?lang=EN","_self")')
                | View Preview EN 
         
        .col-md-3
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
              | #{blog.status}
              span.caret   
            ul.dropdown-menu(name="category",role="menu")
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=open") open 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=review") review 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=published") published 
              li
                a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=trash") trash      
    .col-md-6
      if (blog.status == "review")
        .row
         .col-md-12
               form.form-horizontal(name="review", action="#{layout.htmlroot}/blog/#{blog.id}", method="get")
                .form-group
                  .col-sm-10
                    input(type="text",class="form-control",name ="reviewComment") 

                  .col-sm-2
                    button.btn.btn-large.btn-primary(type="submit") Review

      if (blog.status == "review" || blog.status == "published")
        .row
          if (blog.reviewComment && blog.reviewComment.length>0)
            h3
              | Freigabe
            table.table.table-condensed
              tbody
              each comment in blog.reviewComment
                tr
                  td=comment.user
                  td=comment.text
                  td=layout.moment(comment.timestamp).fromNow()
  
  .row
    p
      h2
        | Wochennotiz #{blog.name}
      :verbatim
        !{main_text}
  .row
    .col-md-10
    .col-md-2
      p
        a(href="#{layout.htmlroot}/blog/edit/#{blog.id}") [Edit Blog Detail]




  .row
    if changes
      div
        table.table.table-striped
          thead
            tr 
              th
               | user
              th
               |  what
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) #{change.user} 
                td= change.property
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 



  