extends layout




block content

  row
    .col-md-8
      h1= blog.name
      div.btn-group
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          | #{blog.status}
          span.caret   
        ul.dropdown-menu(name="category",role="menu")
          | #{blog.status}
          li
            a(href="/blog/#{blog.id}?setStatus=open") open 
          li
            a(href="/blog/#{blog.id}?setStatus=review") review 
          li
            a(href="/blog/#{blog.id}?setStatus=published") published 
          li
            a(href="/blog/#{blog.id}?setStatus=trash") trash 
      ul
        for category in categories
          if (articles[category])
            li= category
              ul
                for article in articles[category]
                  if (article.markdown)
                    li= article.markdown.substring(0,50)   
                      a(href="/article/#{article.id}")    Edit
                  else if (article.title)
                    li
                       a(href="/article/#{article.id}") #{article.title} 
                  else if (article.collection)
                    li
                       a(href="/article/#{article.id}") #{article.collection.substring(0,50)}
                  else 
                    li
                       a(href="/article/#{article.id}") #{article.id}
          else
            li
              a(style={color:'LightGray'}) #{category}        
                 




    .col-md-4
      | Blogs: 
      a(href="/blog/list?status=open") open
      | 
      a(href="/blog/list?status=review") review
      | 
      a(href="/blog/list?status=trash") trash
      | 
      a(href="/blog/list?status=published") published
      if changes
        div
          table.table.table-striped
            thead
              tr 
                th
                 | user
                th
                 |  what
                th
                 |  to
                th
                 | when
             tbody
              each change, i in changes
                tr
                  td
                    a(href='/change/' + change.id) #{change.id} 
                  td= change.user
                  td= change.property
                  td= change.to
                  td= moment(change.timestamp).fromNow() 



  