extends blogheader




block blogcontent

  - showNumbers = (layout.user.getOption("review","showNumbers")=="true")
  - showMail    = (layout.user.getOption("review","showMail")=="true")
  - showCollector = (layout.user.getOption("review","showCollector")=="true")
  - showEditor = (layout.user.getOption("review","showEditor")=="true")
  - showLanguages = (layout.user.getOption("review","showLanguages")=="true")

  - firstColSize = "col-md-1"
  - secondColSize = "col-md-11"

  if showLanguages || showEditor || showCollector
    - firstColSize = "col-md-2"
    - secondColSize = "col-md-10"

  .row
    div(class=firstColSize)
    div(class=secondColSize)
      :verbatim
        <br><br>
        !{renderer.subtitle(lang)}
  for c in categories
    if (articles[c.EN])
      .row
        div(class=firstColSize)
        div(class=secondColSize)
          :verbatim
            !{renderer.categoryTitle(lang,c)}
      for a in articles[c.EN]
        if a["markdown"+lang]!=="no translation"
          .row
            div(class=firstColSize)
              div
                +articleIcons(a,{showNumbers: showNumbers, showMail: showMail})
              div
                if (showCollector && a.author && a.author.collection)
                  each b in a.author.collection.split(",")
                    if (b !== layout.user.OSMUser)
                      span.label.osmbclabel-collect.small-margin=b
                    else
                      span.label.osmbclabel-user.small-margin=b
                if (showEditor && a.author && a.author["markdown" + lang])
                  each b in a.author["markdown"+lang].split(",")
                    if (b !== layout.user.OSMUser)
                      span.label.osmbclabel-markdown.small-margin=b
                    else
                      span.label.osmbclabel-user.small-margin=b
              div
                if (showLanguages)
                  +languageDisplay(a)

            div(class=secondColSize)
              div(onclick="if (!openEditor) {openEditor = document.getElementById('div#{a.id}');openEditor.classList.toggle('hidden');} else {openEditor.classList.toggle('hidden');openEditor = null;} return false;")

                ul
                  :verbatim
                    !{renderer.article(lang,a)}

              div.hidden(id="div#{a.id}")
                form(name="EditArticle",id="EditArticle#{a.id}", action="#{layout.htmlroot}/article/#{a.id}/setMarkdown/#{lang}", method="post")
                  textarea.form-control(name="markdown" id="markdown"+a.id rows=7 onchange="onLeaveText(#{a.id});") #{a["markdown"+lang]}
                  textarea.hidden.form-control(name="oldMarkdown"  id="oldMarkdown#{a.id}" rows=7 ) #{a["markdown" + lang]}
                p
                  if a.author && a.author.collection
                    span="Collected: "
                    each collector in a.author.collection.split(",")
                      if (collector != layout.user.OSMUser)
                        span.label.osmbclabel-collect.small-margin=collector
                      else
                        span.label.osmbclabel-user.small-margin=collector
                  if a.author && a.author["markdown" + lang]
                    span=" Edited: "
                    each author in a.author["markdown"+lang].split(",")
                      if (author != layout.user.OSMUser)
                        span.label.osmbclabel-markdown.small-margin=author
                      else
                        span.label.osmbclabel-user.small-margin=author

  .row
    h2="Options"


    p
      +userConfigOption("review","showNumbers",showNumbers," show editor numbers, ")
      +userConfigOption("review","showMail",showMail," show mail, ")
      +userConfigOption("review","showCollector",showCollector," show collector, " )
      +userConfigOption("review","showEditor",showEditor," show editor , ")
      +userConfigOption("review","showLanguages",showLanguages," show languages")

  .row
    +articleIconLegend




block scripts
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    var openEditor = null;
    window.onload = function() {
      
      if (typeof(Storage)!=="undefined") {
        if (window.sessionStorage.blogUrl !== window.location.href) return;
        var x = window.sessionStorage.blogX;
        var y = window.sessionStorage.blogY;
        window.scrollTo(x,y);
      }
    }


    window.onbeforeunload = function(event) {
      // store the scroll Position in the local Store
      s = {x:window.scrollX,y:window.scrollY};

      if (typeof(Storage)!=="undefined") {

        window.sessionStorage.blogUrl = window.location.href;
        window.sessionStorage.blogX = s.x;
        window.sessionStorage.blogY = s.y;
      }
    };

    function onLeaveText(id) {

      var oldValue = document.getElementById("oldMarkdown"+id).value;
      var newValue = document.getElementById("markdown"+id).value;
      if (oldValue === newValue) return;
      document.getElementById('EditArticle'+id).submit();
    }




