extends layout

mixin navbutton(userstyle,style)
  if (userstyle==style) 
    li.active:  a(href="#{layout.htmlroot}/blog/#{blog.name}?style=#{userstyle}") #{userstyle}
  else
    li:  a(href="#{layout.htmlroot}/blog/#{blog.name}?style=#{userstyle}") #{userstyle}
  


block content
  .row
    .col-md-6
      - status = blog.status
      - if (blog["reviewComment"+left_lang]) status = "Review "+left_lang;
      - if (blog["close"+left_lang]) status = "Close "+left_lang;
      if blog.status == "help"
        h2
          | #{blog.name}
      else if left_lang == "DE"
        h2
          | Wochennotiz #{blog.name} (#{status})
      else
        h2
          | Weekly #{blog.name} (#{status})
      
    .col-md-6
      if !(blog["close"+left_lang])    
        - reviewCommentsLeft = blog["reviewComment"+left_lang];
        if (reviewCommentsLeft)
          .row
            .col-md-12
               form.form-horizontal(name="review", action="#{layout.htmlroot}/blog/#{blog.name}", method="get")
                .form-group
                  .col-sm-6
                    input(type="text",class="form-control",name ="reviewComment",id="reviewComment") 

                  .col-sm-6
                    button.btn.btn-large.btn-primary(type="submit",id="reviewButton") Review#{left_lang} 
                    if (blog["exported"+left_lang])
                      button.btn.btn-large.btn-primary(type = "button" onclick ="location.href='#{layout.htmlroot}/blog/#{blog.name}?closeLang&style=#{style}';") Close #{blog.name}(#{left_lang})
                    else
                      button.btn.btn-large.btn-primary(type = "button" onclick ="location.href='#{layout.htmlroot}/blog/#{blog.name}?reviewComment=markexported&style=#{style}';") Did Export (#{left_lang})

          if (blog["exported"+left_lang])
            .row
              .alert.bg-danger.text-center.bold
                | <strong>Blog is exported, please do the last Review in WordPress</strong>
      
        else
          if blog.status=="open"
            button.btn.btn-large.btn-primary(onclick ="location.href='#{layout.htmlroot}/blog/#{blog.name}?setStatus=edit';") Close #{blog.name} for new articles
          else 
            button.btn.btn-large.btn-primary(onclick ="location.href='#{layout.htmlroot}/blog/#{blog.name}?reviewComment=startreview&&style=#{style}';") Set #{blog.name}(#{left_lang}) ready for review

  .row
    .col-md-6
      - reviewCommentsLeft = blog["reviewComment"+left_lang];
        if (reviewCommentsLeft && reviewCommentsLeft.length>0)
          h3
            | Review #{left_lang}
          table.table.table-condensed.table-responsive
            tbody
            each comment in reviewCommentsLeft
              tr
                td=comment.user
                td=comment.text
                td=layout.moment(comment.timestamp).fromNow()
    .col-md-6
      - reviewCommentsRight = blog["reviewComment"+right_lang];
        if (reviewCommentsRight && reviewCommentsRight.length>0)
          h3
            | Review #{right_lang}
          table.table.table-condensed.table-responsive
            tbody
            each comment in reviewCommentsRight
              tr
                td=comment.user
                td=comment.text
                td=layout.moment(comment.timestamp).fromNow()
  
  .row
    .col-md-12
      ul.nav.nav-tabs
        - v = 0
        while layout.user["blogSetting"+v]
          if layout.user["blogSetting"+v]!="-"
            - style0 = layout.user["blogSetting"+v]+layout.user["blogLanguages"+v]
            +navbutton(style0,style)
          - v++
      
        li
          a(href="#{layout.htmlroot}/blog/#{blog.name}/preview?lang=#{left_lang}") 
            span.glyphicon.glyphicon-export
            | #{left_lang}
        if (right_lang != "--")
          li
            a(href="#{layout.htmlroot}/blog/#{blog.name}/preview?lang=#{right_lang}") 
              span.glyphicon.glyphicon-export
              | #{right_lang}
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.glyphicon.glyphicon-export
          ul.dropdown-menu(role='menu')
            for lang in layout.languages
              li
                a(href="#{layout.htmlroot}/blog/#{blog.name}/preview?lang=#{lang}") Export #{lang}
        li
          a(href="#{layout.htmlroot}/usert/#{layout.user.id}")
            span.glyphicon.glyphicon-cog
           

    
        
             
  .row
      :verbatim
        <br><br> 
        !{main_text}
  .row
    .col-md-9
    .col-md-1
      p
        a(href="#{layout.htmlroot}/blog/#{blog.name}/stat") [Statistic]

    .col-md-2
      p
        a(href="#{layout.htmlroot}/blog/edit/#{blog.name}") [Edit Blog Detail]




  .row.hidden-xs
    if changes
      div
        table.table.table-striped
          thead
            tr
              th 
              th
               | user
              th
               |  what
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) 
                    span.glyphicon.glyphicon-info-sign 
                td= change.user
                td= change.property
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 



block scripts                
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    reviewButton = document.getElementById("reviewButton");
    reviewComment = document.getElementById("reviewComment");
    reviewComment.onchange = onchange;
    reviewComment.onkeyup = onchange;

    reviewButton.disabled = true;
    
    function onchange() {
      
      reviewButton.disabled = (review.comment == "");
    }
  





