extends layout




block content
  row
    .col-md-8
      if (blog.status != "help")
        if (asMarkdown)
          h1= "Markdown "+blog.name
        else
          h1= "Preview " + blog.name
    .col-md-4
      div.btn-group(role="group" class="pull-right")
        button.btn.btn-default(onclick =`location.href='${returnToUrl}';`) Edit
        if (asMarkdown)
          button.btn.btn-default(onclick =`location.href='${layout.htmlroot}/blog/${blog.name}/preview?download=true&lang=${lang}&markdown=true';`) Download
        else
          button.btn.btn-default(onclick =`location.href='${layout.htmlroot}/blog/${blog.name}/preview?download=true&lang=${lang}';`) Download

  row
    .col-md-12
      if (asMarkdown)
        pre
          | #{preview}
      else
        :verbatim
          !{preview}
  row
    .col-md-9
    .col-md-3
      if (asMarkdown)
        p
          a(href=layout.htmlroot+"/blog/" + blog.name+"/preview?lang=" +lang)=blog.name+" as html"
      else
        p
          a(href=layout.htmlroot+"/blog/" + blog.name + "/preview?lang=" + lang +"&markdown=true")=blog.name + " as markdown"





  