extends layout




block content
  .row
    .col
      if (blog.status != "help")
        if (asMarkdown)
          h1= "Markdown "+blog.name
        else
          h1= "Preview " + blog.name
    .col.text-end
      button.btn.btn-secondary( onclick =`location.href='${layout.htmlroot}/blog/${blog.name}';`) Edit

  .row
    .col-md-12
      if (asMarkdown)
        pre
          | #{preview}
      else
        |!{preview}





  