extends layout




block content




  row
    div
      table.table.table-striped.table-responsive
        thead
          tr 
            th name
            th status
            for lang in layout.languages
              th= lang
            th service
         tbody
          - var onlyhelp = true
          each blog in blogs
            if blog.status != help
              -onlyhelp = false

          each blog, i in blogs
            tr
              if (onlyhelp || blog.status != "help")
                td
                  a(href='#{layout.htmlroot}/blog/' + blog.id) #{blog.name} 
                td= blog.status
                - var allclosed=true
                for lang in layout.languages
                  td
                    if blog["close"+lang]
                      | closed
                    else 
                      - allclosed = false
                      if blog["reviewComment"+lang]
                        | review
                      else 
                        a(href="#{layout.htmlroot}/article/list?markdown#{lang}=&category=!=--unpublished--&blog=#{blog.name}&style=overview#{lang}")
                          span.glyphicon.glyphicon-pencil

                td
                  if allclosed
                    a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=closed") Close Blog
                  else
                    | -



          


  