extends layout




block content




  row
    div
      table.table.table-striped.table-responsive
        thead
          tr 
            th name
            th status
            for lang in layout.languages
              th= lang
            th service
         tbody
          - var onlyhelp = true
          each blog in blogs
            if blog.status != help
              -onlyhelp = false

          each blog, i in blogs
            tr
              if (onlyhelp || blog.status != "help")
                td
                  a(href='#{layout.htmlroot}/blog/' + blog.name) #{blog.name} 
                td= blog.status
                - var allclosed=true
                for lang in layout.languages
                  td
                    if blog["close"+lang]
                      - labeltype = "label-success"
                      - urlblog = layout.htmlroot+"/blog/"+blog.name+"?style=fullfinal"+lang
                    else 
                      if lang!="PT"
                        - allclosed = false
                      if blog["reviewComment"+lang]
                        - labeltype = "label-primary"
                        - urlblog =  layout.htmlroot+"/blog/"+blog.name+"?style=fullfinal"+lang

                      else 
                        - labeltype = "label-danger"
                        - urlblog = layout.htmlroot+"/article/list?markdown"+lang+"=&category=!=--unpublished--&blog="+blog.name
                       
                    a(href="#{urlblog}")
                      span.label.label-default
                        |#{blogNumber(blog,lang)}
                    a(href="#{urlblog}")
                      span.label(class="#{labeltype}")
                       |#{blogCount(blog,lang)} 

                td
                  if allclosed
                    a(href="#{layout.htmlroot}/blog/#{blog.name}?setStatus=closed") Close Blog
                  else
                    | -
  row
    p
      | Click on any label to edit the articles or view the blog.
    p
      span.label.label-default
        | missing
      span.label.label-success
        | total
      |  Closed Blog

    p
      span.label.label-default
        | missing
      span.label.label-primary
        | total
      |  Reviewed Blog
    p
      span.label.label-default
        | missing
      span.label.label-danger
        | total
      |  Open Blog

  row.hidden-xs
    div(id="additionalText")
      if additionalText
        :verbatim
          !{additionalText}


          


  