extends blogheader



block blogcontent

  - showColoredUser = (layout.user.getOption("overview","showColoredUser")=="true")
  - showNumbers = (layout.user.getOption("overview","showNumbers")=="true")
  - showMail    = (layout.user.getOption("overview","showMail")=="true")
  - showCollector = (layout.user.getOption("overview","showCollector")=="true")
  - showEditor = (layout.user.getOption("overview","showEditor")=="true")
  - showLanguages = (layout.user.getOption("overview","showLanguages")=="true")
  - showVisibleLanguages = (layout.user.getOption("overview","showVisibleLanguages")=="true")
  - disableOwnCollection = (layout.user.getOption("overview","disableOwnCollection")=="true")
  - disableOtherCollection = (layout.user.getOption("overview","disableOtherCollection")=="true")
  - disableWritten = (layout.user.getOption("overview","disableWritten")=="true")
  - disableNewerMarkdown = (layout.user.getOption("overview","disableNewerMarkdown")=="true")

  if disableOwnCollection
    p.bg-danger
      | Collections of #{layout.user.OSMUser} are disabled
  if disableOtherCollection
    p.bg-danger
      | Collections not done by #{layout.user.OSMUser} are disabled
  if disableWritten
    p.bg-danger
      | Written markdown is disabled

  table
    tr
      td
      td
      td
        :verbatim
          <br><br>
          !{renderer.subtitle(lang)}
    for c in categories
      - predecessorId = "0"
      if (articles[c.EN])
        tr
          td
          td.hidden-xs
          td
            :verbatim
              !{renderer.categoryTitle(lang,c)}
          td.hidden-xs
          td.hidden-xs
        for a in articles[c.EN]
          - enable = true;
          - if (disableWritten  && a["markdown"+lang]) enable = false;
          - if (a.author && a.author.collection &&  disableOwnCollection && a.author.collection.split(",").indexOf(layout.user.OSMUser)>=0) enable = false;
          - if (a.author && a.author.collection && disableOtherCollection && a.author.collection.split(",").indexOf(layout.user.OSMUser)<0) enable = false;
          - if (disableNewerMarkdown && a._lastChange && a._lastChange["markdown"+left_lang] && a._lastChange["markdown"+right_lang] && (a._lastChange["markdown"+left_lang] >= a._lastChange["markdown"+right_lang])) enable = false;
          - if (disableNewerMarkdown && a["markdown"+left_lang] && !a["markdown"+right_lang]) enable = false;
          if enable
            tr
              td
                +articleIcons(a,{showNumbers:showNumbers,showMail:showMail,predecessorId:predecessorId})
                - predecessorId = a.id
              td.hidden-xs
                if showVisibleLanguages
                  +languageDisplay(a,{short:true})
                  


              td
                div(onclick="if (!openEditor) {openEditor = document.getElementById('div#{a.id}');openEditor.classList.toggle('hidden');} else {openEditor.classList.toggle('hidden');openEditor = null;} return false;")
                  div(class=(a["markdown"+lang])?"":"mark")
                    ul.no-margin
                      :verbatim
                        !{renderer.articleTitle(lang,a)}
              td.hidden-xs
                if (showCollector && a.author && a.author.collection)
                  each b in a.author.collection.split(",")
                    +userLabel(b,"osmbclabel-collect")
                if (showEditor && a.author && a.author["markdown"+lang])
                  each b in a.author["markdown"+lang].split(",")
                    +userLabel(b,"osmbclabel-markdown")

              td.hidden-xs
                if (showLanguages)
                  +languageDisplay(a)



            tr
              td
              td.hidden-xs
              td
                div.panel.panel-default.hidden(id="div#{a.id}")
                  div.panel-heading
                    ul(id="preview#{a.id}")
                  div.panel-body
                    form(name="EditArticle",id="EditArticle#{a.id}", action="#{layout.htmlroot}/article/#{a.id}/setMarkdown/#{lang}", method="post")
                      textarea.form-control(name="markdown" id="markdown"+a.id rows=7 onchange="onLeaveText(#{a.id});" onkeyup="onchangeMarkdown(#{a.id})") #{a["markdown"+lang]}
                      textarea.hidden.form-control(name="oldMarkdown"  id="oldMarkdown#{a.id}" rows=7 ) #{a["markdown" + lang]}
                    p
                      if a.author && a.author.collection
                        span="Collected: "
                        each collector in a.author.collection.split(",")
                          +userLabel(collector,"osmbclabel-collect")
                      if a.author && a.author["markdown"+lang]
                        span=" Edited: "
                        each author in a.author["markdown"+lang].split(",")
                          +userLabel(author,"osmbclabel-markdown")
                      if a._lastChange && a._lastChange["markdown" + lang]
                        span=" Time: "+layout.moment(a._lastChange["markdown" + lang]).fromNow()


    if futureArticles
      tr
        td
        td.hidden-xs
        td
          h1="Future Articles"
      each a in futureArticles
        tr
          td
            +articleIcons(a,{showNumbers: showNumbers, showMail: showMail})
          td.hidden-xs
            if showVisibleLanguages
              +languageDisplay(a,{short: true})


          td
            ul.no-margin
              :verbatim
                !{renderer.articleTitle(lang,a)}
          td.hidden-xs
            if (showCollector && a.author && a.author.collection)
              each b in a.author.collection.split(",")
                if (b !== layout.user.OSMUser)
                  span.label.osmbclabel-collect.small-margin=b
                else
                  span.label.osmbclabel-user.small-margin=b
            if (showEditor && a.author && a.author["markdown" + lang])
              each b in a.author["markdown"+lang].split(",")
                if (b !== layout.user.OSMUser)
                  span.label.osmbclabel-markdown.small-margin=b
                else
                  span.label.osmbclabel-user.small-margin=b

          td.hidden-xs
            if (showLanguages)
              +languageDisplay(a)



  .row
    h2="Options"


    .row
      .col-md-1
        p="Left Col.: "
      .col-md-11
        div.hidden-xs
          +userConfigOption("overview","showNumbers",showNumbers," show editor numbers, ")
        +userConfigOption("overview","showMail",showMail," show mail, ")
        div..hidden-xs
          +userConfigOption("overview","showVisibleLanguages",showVisibleLanguages," show languages(short)" )
    .row.hidden-xs
      .col-md-1
        p="Right Col.:"
      .col-md-11
        +userConfigOption("overview","showCollector",showCollector," show collector, " )
        +userConfigOption("overview","showEditor",showEditor," show editor , ")
        +userConfigOption("overview","showColoredUser",showColoredUser," show users colored, ")
        +userConfigOption("overview","showLanguages",showLanguages," show languages")
    .row
      .col-md-1
        p="Filter: "
      .col-md-11
        +userConfigOption("overview","disableWritten",disableWritten," disable written articles, ")
        +userConfigOption("overview","disableNewerMarkdown",disableNewerMarkdown," disable more actual edits, ")
        +userConfigOption("overview","disableOwnCollection",disableOwnCollection," disable own collections, ")
        +userConfigOption("overview","disableOtherCollection",disableOtherCollection," disable other collections")




  .row
    +articleIconLegend





