extends layout




block content
  .row
    .col
      if (blog.status != "help")
        if (asMarkdown)
          h1= "Markdown "+blog.name
        else
          h1= "Preview " + blog.name
    .col.text-right
      button.btn.btn-secondary(type = "button" onclick =`location.href='${returnToUrl}';`) Edit
      if (asMarkdown)
        button.btn.btn-secondary(type = "button" onclick =`console.log("sometest");location.href='${layout.htmlroot}/blog/${blog.name}/preview?download=true&lang=${lang}&markdown=true';`) Download
      else
        button.btn.btn-secondary(type = "button" onclick =`console.log("sometest");location.href='${layout.htmlroot}/blog/${blog.name}/preview?download=true&lang=${lang}';`) Download

  .row
    .col-md-12
      if (asMarkdown)
        pre
          | #{preview}
      else
        |!{preview}
  .row
    .col-md-9
    .col-md-3
      if (asMarkdown)
        p
          a(href=layout.htmlroot+"/blog/" + blog.name+"/preview?lang=" +lang)=blog.name+" as html"
      else
        p
          a(href=layout.htmlroot+"/blog/" + blog.name + "/preview?lang=" + lang +"&markdown=true")=blog.name + " as markdown"





  