extends blogheader




block blogcontent

  .row
    .col-md-1
    .col-md-11
      :verbatim
        <br><br>
        !{renderer.subtitle(lang)}
  for c in categories
    if (articles[c.EN])
      .row
        .col-md-1
        .col-md-11
          :verbatim
            !{renderer.categoryTitle(lang,c)}
      for a in articles[c.EN]
        if a["markdown"+lang]!=="no translation"
          .row
            .col-md-1
              +articleIcons(a,{showNumbers:true,showMail:true})


            .col-md-11
              div(onclick="if (!openEditor) {openEditor = document.getElementById('div#{a.id}');openEditor.classList.toggle('hidden');} else {openEditor.classList.toggle('hidden');openEditor = null;} return false;")

                ul
                  :verbatim
                    !{renderer.article(lang,a)}

              div.hidden(id="div#{a.id}")
                form(name="EditArticle",id="EditArticle#{a.id}", action="#{layout.htmlroot}/article/#{a.id}/setMarkdown/#{lang}", method="post")
                  textarea.form-control(name="markdown" id="markdown"+a.id rows=7 onchange="onLeaveText(#{a.id});") #{a["markdown"+lang]}
                  textarea.hidden.form-control(name="oldMarkdown"  id="oldMarkdown#{a.id}" rows=7 ) #{a["markdown" + lang]}
                p
                  if a.author && a.author.collection
                    span="Collected: ["
                    for author in a.author.collection
                      span=author
                    span="] "
                  if a.author && a.author["markdown"+lang]
                    span="Edited: ["
                    for author in a.author["markdown"+lang]
                      span=author
                    span="] "
  .row
    +articleIconLegend




block scripts
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    var openEditor = null;
    window.onload = function() {
      
      if (typeof(Storage)!=="undefined") {
        if (window.sessionStorage.blogUrl !== window.location.href) return;
        var x = window.sessionStorage.blogX;
        var y = window.sessionStorage.blogY;
        window.scrollTo(x,y);
      }
    }


    window.onbeforeunload = function(event) {
      // store the scroll Position in the local Store
      s = {x:window.scrollX,y:window.scrollY};

      if (typeof(Storage)!=="undefined") {

        window.sessionStorage.blogUrl = window.location.href;
        window.sessionStorage.blogX = s.x;
        window.sessionStorage.blogY = s.y;
      }
    };

    function onLeaveText(id) {

      var oldValue = document.getElementById("oldMarkdown"+id).value;
      var newValue = document.getElementById("markdown"+id).value;
      if (oldValue === newValue) return;
      document.getElementById('EditArticle'+id).submit();
    }




