extends layout




block content
  .row
    .col-md-4
       h1= blog.name
    .col-md-8
      div.btn-group
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          | #{blog.status}
          span.caret   
        ul.dropdown-menu(name="category",role="menu")
          li
            a(href="/blog/#{blog.id}?setStatus=open") open 
          li
            a(href="/blog/#{blog.id}?setStatus=review") review 
          li
            a(href="/blog/#{blog.id}?setStatus=published") published 
          li
            a(href="/blog/#{blog.id}?setStatus=trash") trash  

  .row     
    .col-md-12 
      div.input-group
        button.btn.btn-default 
          a(href="/blog/#{blog.id}?style=overview") Overview
        button.btn.btn-default 
          a(href="/blog/#{blog.id}?style=preview") Full
        button.btn.btn-default 
          a(href="/blog/#{blog.id}?style=previewEN") Full EN
        button.btn.btn-warning 
          a(href="/blog/#{blog.id}/preview") View Preview 
        button.btn.btn-warning 
          a(href="/blog/#{blog.id}/preview?lang=EN") View Preview EN 
  
  .row
    p
      :verbatim
        !{main_text}




  .row
    if changes
      div
        table.table.table-striped
          thead
            tr 
              th
               | user
              th
               |  what
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='/change/' + change.id) #{change.user} 
                td= change.property
                td= change.to
                td= layout.moment(change.timestamp).fromNow() 



  