extends layout




block content
  .row
    .col-md-4
       h1= blog.name
    .col-md-8
      div.btn-group
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          | #{blog.status}
          span.caret   
        ul.dropdown-menu(name="category",role="menu")
          li
            a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=open") open 
          li
            a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=review") review 
          li
            a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=published") published 
          li
            a(href="#{layout.htmlroot}/blog/#{blog.id}?setStatus=trash") trash  

  .row     
    .col-md-12 
      div.btn-toolbar
        div.btn-group
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=overview","_self")')
            | Overview
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=preview","_self")') 
            | Full
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}?style=previewEN","_self")')
            | Full EN
        div.btn-group
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}/preview","_self")')
            | View Preview
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{blog.id}/preview?lang=EN","_self")')
            | View Preview EN 
  
  .row
    p
      :verbatim
        !{main_text}




  .row
    if changes
      div
        table.table.table-striped
          thead
            tr 
              th
               | user
              th
               |  what
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) #{change.user} 
                td= change.property
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 



  