extends layout




block content


  h1
    | Progress Overview

  each l in layout.languages

    - unedited = blog._countUneditedMarkdown[l];
    - notranslate = blog._countNoTranslateMarkdown[l];
    - total = blog._countExpectedMarkdown[l] 
    - ready = (total-unedited - notranslate)
    - if (total == 0) total = 1
    .row
      .col-md-1
        div.label.label-default(style="color:white")=l
      .col-md-11
        div.progress(style="margin-bottom:2px")
          div.progress-bar.progress-bar-success(style="width:#{parseInt(100*ready/total)}%")=ready
          div.progress-bar.progress-bar-danger(style="width:#{parseInt(100*unedited/total)}%")=unedited
          div.progress-bar.progress-bar-info(style="width:#{parseInt(100*notranslate/total)}%")=notranslate
    

  .row
    h1
      | Blog Statistics for #{blog.name}
 

  .row
    h1
      | Table of Collections, Edits & Review Counts
    - var field = ["collection","comment"]
    for lang in languages
      - field.push("markdown"+lang)
      - field.push("reviewComment"+lang)
      - userlist = [];

    for v in field
      - for (u in logs[v])
        -   if (userlist.indexOf(u)<0) userlist.push(u)
    - userlist.sort()
    table.table.table-striped
      thead
        tr
          th
            
          each u in userlist
            th=u
      tbody
        
        for v in field
          tr
            th=v
            each u in userlist
              if logs[v]
                td
                  a(href="#{layout.htmlroot}/article/list?blog=#{blog.name}&user=#{u}&property=#{v}") #{logs[v][u]}
              else
                td
                  | 

  row
    h2
      | Hint for the statistic table
    p
      | This table counts the number of property changes for an article in a blog. 
      | The referenced links show the articles (may be less than edits), that were
      | changed by the user with the property.

 


  