extends blogheader


block blogcontent

  - showNumbers = (layout.user.getOption("full","showNumbers")=="true")
  - showMail    = (layout.user.getOption("full","showMail")=="true")
  - showCollector = (layout.user.getOption("full","showCollector")=="true")
  - showEditor = (layout.user.getOption("full","showEditor")=="true")
  - showLanguages = (layout.user.getOption("full","showLanguages")=="true")
  - disableOwnCollection = (layout.user.getOption("full","disableOwnCollection")=="true")
  - disableOtherCollection = (layout.user.getOption("full","disableOtherCollection")=="true")
  - disableWritten = (layout.user.getOption("full","disableWritten")=="true")

  - firstColSize = "col-md-1"
  - secondColSize = "col-md-11"

  if showLanguages || showEditor || showCollector
    - firstColSize = "col-md-2"
    - secondColSize = "col-md-10"


  if disableOwnCollection
    p.bg-danger
      | Collections of #{layout.user.OSMUser} are disabled
  if disableOtherCollection
    p.bg-danger
      | Collections not done by #{layout.user.OSMUser} are disabled
  if disableWritten
    p.bg-danger
      | Written markdown is disabled

  .row
    div(class=firstColSize)
    div(class=secondColSize)
      :verbatim
        <br><br>
        !{renderer.subtitle(left_lang)}
  for c in categories

    if (articles[c.EN])
      - predecessorId = "0"
      .row
        div(class=firstColSize)
        div(class=secondColSize)
          .row
            div(class=columnLeftSize)
              :verbatim
                !{renderer.categoryTitle(left_lang,c)}
            div(class=columnRightSize)
              :verbatim
                !{renderer.categoryTitle(right_lang,c)}

      for a in articles[c.EN]
        - enable = true;
        - if (disableWritten  && a["markdown"+lang]) enable = false;
        - if (a.author && a.author.collection &&  disableOwnCollection && a.author.collection.split(",").indexOf(layout.user.OSMUser)>=0) enable = false;
        - if (a.author && a.author.collection && disableOtherCollection && a.author.collection.split(",").indexOf(layout.user.OSMUser)<0) enable = false;
        if enable
          .row
            div(class=firstColSize)
              div
                +articleIcons(a,{showNumbers:showNumbers,showMail:showMail,predecessorId:predecessorId})
                - predecessorId = a.id
              div
                if (showCollector && a.author && a.author.collection)
                  each b in a.author.collection.split(",")
                    if (b !== layout.user.OSMUser)
                      span.label.osmbclabel-collect.small-margin=b
                    else
                      span.label.osmbclabel-user.small-margin=b
                if (showEditor && a.author && a.author["markdown" + lang])
                  each b in a.author["markdown"+lang].split(",")
                    if (b !== layout.user.OSMUser)
                      span.label.osmbclabel-markdown.small-margin=b
                    else
                      span.label.osmbclabel-user.small-margin=b
              div
                if (showLanguages)
                  +languageDisplay(a)

            div(class=secondColSize)
              .row
                div(class=columnLeftSize)
                  div(onclick="if (!openEditor) {openEditor = document.getElementById('ldiv#{a.id}');openEditor.classList.toggle('hidden');} else {openEditor.classList.toggle('hidden');openEditor = null;} return false;")
                    div(class=(a["markdown" + lang]) ? "" : "mark")
                      ul
                        :verbatim
                          !{renderer.article(left_lang,a)}
                  div.hidden(id="ldiv#{a.id}")
                    form(name="lEditArticle",id="lEditArticle#{a.id}", action="#{layout.htmlroot}/article/#{a.id}/setMarkdown/#{left_lang}", method="post")
                      textarea.form-control(name="markdown" id="lmarkdown" + a.id rows=7 onchange="onLeaveText('l',#{a.id});") #{a["markdown" + left_lang]}
                      textarea.hidden.form-control(name="oldMarkdown"  id="loldMarkdown#{a.id}" rows=7 ) #{a["markdown" + left_lang]}
                    p
                      if a.author && a.author.collection
                        span="Collected: "
                        each collector in a.author.collection.split(",")
                          if (collector != layout.user.OSMUser)
                            span.label.osmbclabel-collect.small-margin=collector
                          else
                            span.label.osmbclabel-user.small-margin=collector
                      if a.author && a.author["markdown" + left_lang]
                        span=" Edited: "
                        each author in a.author["markdown"+left_lang].split(",")
                          if (author != layout.user.OSMUser)
                            span.label.osmbclabel-markdown.small-margin=author
                          else
                            span.label.osmbclabel-user.small-margin=author
                div(class=columnRightSize)
                  if right_lang
                    div(onclick="if (!openEditor) {openEditor = document.getElementById('rdiv#{a.id}');openEditor.classList.toggle('hidden');} else {openEditor.classList.toggle('hidden');openEditor = null;} return false;")
                      div(class=(a["markdown" + lang]) ? "" : "mark")
                        ul
                          :verbatim
                            !{renderer.article(right_lang,a)}
                    div.hidden(id="rdiv#{a.id}")
                      form(name="rEditArticle",id="rEditArticle#{a.id}", action="#{layout.htmlroot}/article/#{a.id}/setMarkdown/#{right_lang}", method="post")
                        textarea.form-control(name="markdown" id="rmarkdown" + a.id rows=7 onchange="onLeaveText('r',#{a.id});") #{a["markdown" + right_lang]}
                        textarea.hidden.form-control(name="oldMarkdown"  id="roldMarkdown#{a.id}" rows=7 ) #{a["markdown" + right_lang]}
                      p
                        if a.author && a.author.collection
                          span="Collected: "
                          each collector in a.author.collection.split(",")
                            if (collector != layout.user.OSMUser)
                              span.label.osmbclabel-collect.small-margin=collector
                            else
                              span.label.osmbclabel-user.small-margin=collector
                        if a.author && a.author["markdown" + right_lang]
                          span=" Edited: "
                          each author in a.author["markdown"+right_lang].split(",")
                            if (author != layout.user.OSMUser)
                              span.label.osmbclabel-markdown.small-margin=author
                            else
                              span.label.osmbclabel-user.small-margin=author
  .row
    h2="Options"


    p
      +userConfigOption("full","showNumbers",showNumbers," show editor numbers, ")
      +userConfigOption("full","showMail",showMail," show mail, ")
      +userConfigOption("full","showCollector",showCollector," show collector, " )
      +userConfigOption("full","showEditor",showEditor," show editor , ")
      +userConfigOption("full","showLanguages",showLanguages," show languages, ")
      +userConfigOption("full","disableWritten",disableWritten," disable written articles, ")
      +userConfigOption("full","disableOwnCollection",disableOwnCollection," disable own collections, ")
      +userConfigOption("full","disableOtherCollection",disableOtherCollection," disable other collections")

  +articleIconLegend




block scripts
  script(src='https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )
  script.
    var openEditor = null;
    window.onload = function() {
      
      if (typeof(Storage)!=="undefined") {
        if (window.sessionStorage.blogUrl !== window.location.href) return;
        var x = window.sessionStorage.blogX;
        var y = window.sessionStorage.blogY;
        window.scrollTo(x,y);
      }
    }


    window.onbeforeunload = function(event) {
      // store the scroll Position in the local Store
      s = {x:window.scrollX,y:window.scrollY};

      if (typeof(Storage)!=="undefined") {

        window.sessionStorage.blogUrl = window.location.href;
        window.sessionStorage.blogX = s.x;
        window.sessionStorage.blogY = s.y;
      }
    };

    function onLeaveText(column,id) {

      var oldValue = document.getElementById(column+"oldMarkdown"+id).value;
      var newValue = document.getElementById(column+"markdown"+id).value;
      if (oldValue === newValue) return;
      form = document.getElementById(column + 'EditArticle' + id);
      form.submit();
    }




