extends layout




block content
  row
    .col-md-8
      h1= "Preview "+blog.name
    .col-md-4
      div.btn-group(role="group" class="pull-right")
        if (edit) 
          button.btn.btn-default.btn-lg
            a(href="/blog/#{blog.id}/preview") Edit Off
        else
          button.btn.btn-default.btn-lg
            a(href="/blog/#{blog.id}/preview?edit=true") Edit 
        button.btn.btn-default.btn-lg
          a(href="/blog/#{blog.id}/preview?download=true") Download

  row
    .col-md-12
      if (preview)
        :verbatim
        !{preview}
 




  