extends layout

mixin userTable(userList)

    table.table.table-header-rotated(style="width:auto")
      thead
        tr
          th
          each u in userList
            th.column.criterion.rotate-45
              div
                span=u
      tbody
        for v in field
          - rowNeeded = false;
          each u in userList
            - if (logs[v]) rowNeeded = true;
          if rowNeeded
            tr
              th.row-header=v
              each u in userList
                if logs[v]
                  td
                    a(href=`${layout.htmlroot}/article/list?blog=${blog.name}&user=${u}&property=${v}%`)=logs[v][u]
                else
                  td=""


block content

  h1
    | Progress Overview

  each l in layout.languages
    if layout.usedLanguages[l]

      - unedited = blog._countUneditedMarkdown[l];
      - notranslate = blog._countNoTranslateMarkdown[l];
      - total = blog._countExpectedMarkdown[l]
      - ready = (total-unedited - notranslate)
      - if (total == 0) total = 1
      .row
        .col-md-1
          div.label.label-default(style="color:white")=l
        .col-md-11
          div.progress(style="margin-bottom:2px")
            div.progress-bar.progress-bar-success(style=`width:${parseInt(100*ready/total)}%`)=ready
            div.progress-bar.progress-bar-danger(style=`width:${parseInt(100*unedited/total)}%`)=unedited
            div.progress-bar.progress-bar-info(style=`width:${parseInt(100*notranslate/total)}%`)=notranslate


  .row
    h1=`Blog Statistics for ${blog.name}`
 

  .row
    - var field = ["collection","comment"]
    for lang in languages
      if layout.usedLanguages[lang]
        - field.push("markdown"+lang)
        - field.push("reviewComment"+lang)
    - userListFull = [];
    - userListGuest = [];

    for v in field
      - for (u in logs[v])
        - ul = userListFull;
        - if (userMap[u] && userMap[u].access === "guest") ul = userListGuest;
        -   if (ul.indexOf(u)<0) ul.push(u)
    - userListFull.sort()
    - userListGuest.sort();
    h1="Table of Collections, Edits & Review Counts Full User"
    +userTable(userListFull)
    h1="Table of Collections, Edits & Review Counts Guests"
    +userTable(userListGuest)




  row
    h2
      | Hint for the statistic table
    p
      | This table counts the number of property changes for an article in a blog. 
      | The referenced links show the articles (may be less than edits), that were
      | changed by the user with the property.

 


  