doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')
    title OSMBC Calendar Preview
    // Bootstrap core CSS
    link(href=layout.path("bootstrap")+'/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

block content
  .container
    h1
      | Current OpenStreetMap Events
    p="This is a calendar preview from OSMBC, the tool used by the "
      a(href="https://weeklyosm.eu") WeeklyOSM
      span=" and "
      a(href="https://blog.openstreetmap.de") Wochennotiz
      |  team to publish
      | the news and the calender of OpenStreetMap on a weekly basis.
      | This list shows the next 200 days.
    p
      | If you would like to see your events in WeeklyOSM or Wochennotiz, please control the information here and
      | correct it in the
      a(href="http://wiki.openstreetmap.org/wiki/Current_events")  wiki
      |.
    p
      | To display Town and country the following information is expected.
    pre
      | {{cal|social}} || {{dm|DATE}} || Description with Wiki or HTML Link, TOWN, COUNTRY {{SmallFlag|flag}}
      | {{cal|social}} || {{dm|Month Day|Month Day}} || Description with Wiki or HTML Link, TOWN, COUNTRY {{SmallFlag|Country}}
    p
      | Please use Comma as separator. Town and country can be a wiki reference or plain text.
    p="You can find more information about OSMBC on "
      a(href="https://github.com/TheFive/osmbc") Github
      span=". Please put your bug reports and improvements there. If you interested in the 'rudimentary' parser, contact the Author."

    if (errors)
      h2
        |Error during convert
      p="Please check @ wiki.openstreetmap.org"
      pre(cols=200)=errors
    h2
     | Parsed Calendar
    p
      :verbatim
        !{preview}





doctype html
html
  head
    title= title
    link(rel='stylesheet', href='#{layout.htmlroot}#{layout.style}')
  body

block scripts

  :verbatim
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.thefive.info/calendar/preview"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//thefive.info/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//thefive.info/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->




