extends layout




block content

  table.table.table-striped.table-responsive
    thead
      tr 
        th
          | Field
        th
          | Value
    tbody
      tr
        th
          | user
        td= change.user
      tr
        th
          | Timestamp
        td= change.timestamp +" (" +layout.moment(change.timestamp).fromNow()+")"
      tr
        th
          | table
        td= change.table
      tr
        th 
         | oid
        td
          a(href='#{layout.htmlroot}/#{change.table}/' + change.oid) #{change.oid} 
      tr
        th 
         | Property
        td= change.property
      tr
        th 
         | From
        td= change.from
      tr
        th
          | To
        td= change.to




  