extends layout




block content
  h1
   |Dataset Log

  table.table.table-striped.table-responsive
    thead
      tr 
        th
          | Field
        th
          | Value
        th
          | Description
    tbody
      tr
        th
          | blog
        td= change.blog
        td
          | Which blog was changed
      tr
        th
          | user
        td= change.user
        td
          | User who did the change
      tr
        th
          | Timestamp
        td= change.timestamp +" (" +layout.moment(change.timestamp).fromNow()+")"
        td
          | When was the change done
      tr
        th
          | table
        td= change.table
        td
          | Single Article or Blog Change
      tr
        th 
         | oid
        td
          a(href='#{layout.htmlroot}/#{change.table}/' + change.oid) #{change.oid} 
        td
          | Click here to go to changed object
      tr
        th 
         | Property
        td= change.property
        td
          | Which Property was changed
      tr
        th 
         | From
        td= change.from
        td 
          | From Value
      tr
        th
          | To
        td= change.to
        td
          | To Value

      tr
        th
          | Changes
        td
          :verbatim
            !{coloredChange}
        td
          p
            |changes 
            span.osmbc-inserted-inverted
              |inserted 
            span.osmbc-deleted-inverted
              |removed
      if change.property.substring(0,8)==="markdown"
        tr
          th="Preview From"
          td
            :verbatim
              !{layout.md_render(change.from)}
        tr
          th="Preview To"
          td
            :verbatim
              !{layout.md_render(change.to)}




  