extends layout

block additionalMenuRight  
  +langMenu(2)




block content
  
  div
    - var action = layout.htmlroot+"/article/searchandcreate";
    - if (!showCollect) action = layout.htmlroot+"/article/search";
      form(name="search", action=action, method="get")
        div.row
          div.col-3
          div.col-6
            input#searchField(type="text",class="form-control",name ="search",value=search)
            if showCollect
              if (layout && layout.user && layout.user.access === "guest")
                p.osmbc-help-text(align="center") Please check your link for duplicates before submit it.
              else
                p.osmbc-help-text(align="center") Please check your link for duplicates before collect it.
          div.col
            button.btn.btn-large.btn-primary(name="SearchNow" type="submit") Search


  .row
    if (foundArticles)
      - if (show === "all") show = foundArticles.length;
      - show = parseInt(show);

      if (foundArticles.length>0)
        p#articleCounter
          a(style={color:'Gray'}) 
            | Displaying #{(show>foundArticles.length)?foundArticles.length:show} of #{foundArticles.length} results.
          if (show < foundArticles.length)
            a(href=action + "?search=" + search + "&show=all&edit=showCollect")   Show All
        table.table.table-striped.table-sm.table-responsive
          thead
            tr 
              th="Blog"
              th="Title"
              th.hidden-xs="Cat (EN)"
              if (layout && layout.user && layout.user.access === "guest")
                th.hidden-xs="Submission"
              else
                th.hidden-xs="Collection"
          tbody
            each  article,count in foundArticles
              if (count < show)
                tr(onclick=`$('.class_${article.id}').toggleClass('d-none');`)
                  td
                    i.fa.fa-caret-right(class="class_" + article.id)
                    i.fa.fa-caret-down.d-none(class="class_" + article.id)
                    a(href=layout.htmlroot+"/blog/" + article.blog)=article.blog
                  td
                    a(href=layout.htmlroot+"/article/" + article.id)=((article.title)?article.title:"No Title")
                  td.hidden-xs=article.categoryEN
                  td.pre=article.collection
                tr.d-none(class="class_" + article.id)
                  td
                  td(colspan=1)
                    |!{layout.md_render(article["markdown"+layout.user.getLang(0)])}
                  td(colspan=2)
                    |!{layout.md_render(article["markdown"+layout.user.getLang(1)])}

           
      else
        p
          a(style={color:'Gray'}) 
            | No Articles found for search '#{search}'
      if (showCollect)
        form(name="input",id="input" action=layout.htmlroot+"/article/create", method="post")
          h2 
            | Create Article 
          .row
            .col-md-6
              div 

                .row
                  .col-md-2
                    | Blog <br>
                  .col-md-10
                    +blogSelector
                .row
                  .col-md-2
                    | Category <br>
                  .col-md-10
                    select(id="categoryEN",name="categoryEN").form-control
                      for category in categories
                        option(value=category.EN ) #{category[layout.user.getLang(0)]} / #{category[layout.user.getLang(1)]}
          
     

            .col-md-6
              .row
                .col-md-7
                  p.osmbc-help-text(id="categoryDisplay")
                .col-md-5
                  input.btn.btn-large.btn-primary(type="submit", id="OK",value="OK")
                  a(href=layout.htmlroot+`/article/create` class="btn btn-secondary" role="button") Cancel

          .row
            .col-md-1
              | Title <br>
            .col-md-11
              textarea.form-control(id = "title",name="title",placeholder="Please enter a title with at last 6 characters",rows=1, autofocus)=title
                 
          .row
            .col-md-1
              if (layout && layout.user && layout.user.access === "guest")
                | Submission <br>
              else
                | Collection <br>
            .col-md-11
              textarea.form-control(name="collection",rows=7,placeholder="put your link or info here")=collection

block append scripts_to_load                
  script(src=layout.path("markdown-it")+'/markdown-it.min.js')

block append scripts_to_execute
  script(nonce=cspNonce).
    window.onload = init;
    var placeholder = !{JSON.stringify(placeholder.categories)};
    var catArray = !{JSON.stringify(categories)};
    var noCategorie = "no categorie";
    if (catArray && catArray[0] && catArray[0].EN ) noCategorie = catArray[0].EN;


    function init() {


      categoryDisplay = document.getElementById("categoryDisplay");
      categoryEN = document.getElementById("categoryEN");
      if (categoryEN) categoryEN.onchange = onchangeCategory;
      okButton = document.getElementById("OK");
      title = document.getElementById("title");
      if (title) title.onchange = onchangeTitle;
      if (title) title.onkeyup = onchangeTitle;
      onchangeTitle();
      onchangeCategory();
      if (title) title.select();
    }

    function onchangeCategory() {
      if (!categoryEN) return;
      var c = categoryEN.value;
      if (c === noCategorie) {
        categoryEN.style.backgroundColor = "#FDC6CD";
      } else {
        categoryEN.style.backgroundColor = "";
      }
      if (placeholder[c]) {
         categoryDisplay.innerHTML = placeholder[c];    
        }
    }

    function onchangeTitle() {
      if (!title) return;
      var t = title.value.trim();
      okButton.disabled = true;
      if (t.length>5) {
        okButton.disabled=false;
      }
    }
   
 
           
                
