extends layout




block content


  p
    if blog.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{blog.lock.user} edits since #{layout.moment(blog.lock.timestamp).fromNow()} Version #{blog.version}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
  

          
    if (params && params.edit) 
      form(name="input", action=layout.htmlroot+"/blog/edit/#{blog.id}", method="post")
        .row
          .col-md-2
            | Name 
          .col-md-6
            input(type="text",class="form-control",name ="name",value="#{blog.name}") 
          .col-md-4
            input(type="submit", class="btn btn-primary",value="OK")
            a(href=layout.htmlroot+"/blog/edit/#{blog.name}?edit=false" class="btn btn-default" role="button") Cancel
        .row
          .col-md-2
            | Period 
          .col-md-3
            input(type="text",class="form-control",name ="startDate",value="#{blog.startDate}") 
          .col-md-3
            input(type="text",class="form-control",name ="endDate",value="#{blog.endDate}") 
 
        .row
          .col-md-2
            | Status
          .col-md-6
            select(id="status",name="status").form-control
              option(value="#{blog.status}" selected) #{blog.status}
              option(value="open") open
              option(value="edit") edit
              option(value="close") closed
              option(value="trash") trash
 
        .row
          .col-md-2
            | Categories 
          .col-md-6
            textarea.form-control(name="categories_yaml",rows=30) #{blog._categories_yaml}

 

    else
      .row
        .col-md-2
          p
            | Name
        .col-md-3
          h2
            | #{blog.name}
        .col-md-6
        .col-md-1
          a.btn.btn-primary#edit(href=layout.htmlroot+"/blog/edit/#{blog.name}?edit=true" role="button") Edit
      .row
        .col-md-2
          | Period 
        .col-md-3

          p
            |#{layout.moment(blog.startDate).tz("Europe/Berlin").locale(layout.user_locale).format("LLLL z")}
        .col-md-3
          p
            | #{layout.moment(blog.endDate).tz("Europe/Berlin").locale(layout.user_locale).format("LLLL z")}
      .row
        .col-md-2
          | Status 
        .col-md-6
          .panel.panel-default
            .panel-body #{blog.status}
      .row
        .col-md-2
        .col-md-6
          table.table-condensed
            tr
              th lang
              th review
              th exported
              th close
            each lang in layout.languages
              tr
                td
                 | #{lang}
                td
                 | #{(blog["reviewComment"+lang])?"review":"-"}
                td
                 | #{(blog["exported"+lang])?"exported":"-"}
                td
                  if blog["close"+lang]
                    | close  
                    td
                      form(id="startReview" name="reopenlang", action=layout.htmlroot+"/blog/#{blog.name}/setLangStatus", method="post")
                        input.hidden(type="text",name="lang" value = lang)
                        input.hidden(type="text",name ="action" value = "editlang")
                        button.btn.btn-xs.btn-warning(id="closebutton" type = "submit" ) Reopen


                  else 
                    | -
                

      .row
        .col-md-2
          | Show Articles
        .col-md-10
          p 
            a(href=layout.htmlroot+"/article/list?blog=#{blog.name}") List of all articles
          p="Use this link to go to 'unlinked' articles."
      .row
        .col-md-2

          | Categories
        .col-md-8
              :verbatim
                <pre>
                !{blog._categories_yaml}
                </pre>
  
 





