extends layout




block content


  p
    if blog.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{blog.lock.user} edits since #{layout.moment(blog.lock.timestamp).fromNow()} Version #{blog.version}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}



    if (params && params.edit)
      form(name="input", action=layout.htmlroot+"/blog/edit/" + blog.id, method="post")
        .row
          .col-md-2
            | Name
          .col-md-6
            input(type="text",class="form-control",name ="name",value=blog.name)
          .col-md-4
            input(type="submit", class="btn btn-primary",value="OK")
            a(href=`${layout.htmlroot}/blog/edit/${blog.name}?edit=false` class="btn btn-default" role="button") Cancel
        .row
          .col-md-2
            | Period
          .col-md-3
            input(type="text",class="form-control",name ="startDate",value=blog.startDate)
          .col-md-3
            input(type="text",class="form-control",name ="endDate",value=blog.endDate)

        .row
          .col-md-2
            | Status
          .col-md-6
            select(id="status",name="status").form-control
              option(value=blog.status selected)=blog.status
              option(value="open") open
              option(value="edit") edit
              option(value="close") closed
              option(value="trash") trash

        .row
          .col-md-2
            | Categories
          .col-md-6
            textarea.form-control(name="categories_yaml",rows=30)=blog._categories_yaml



    else
      .row
        .col-md-2
          p
            | Name
        .col-md-3
          h2
            | #{blog.name}
        .col-md-6
        .col-md-1
          a.btn.btn-primary#edit(href=`${layout.htmlroot}/blog/edit/${blog.name}?edit=true` role="button") Edit
      .row
        .col-md-2
          | Period
        .col-md-3

          p
            |#{layout.moment(blog.startDate).tz("Europe/Berlin").locale(layout.user_locale).format("LLLL z")}
        .col-md-3
          p
            | #{layout.moment(blog.endDate).tz("Europe/Berlin").locale(layout.user_locale).format("LLLL z")}
      .row
        .col-md-2
          | Status
        .col-md-6
          .panel.panel-default
            .panel-body=blog.status
      .row
        .col-md-2
        .col-md-6
          table.table-condensed
            tr
              th="Language"
              th="Status"
              th="Review Start"
              th="Review Start Time"
              th="Review"
              th="Download"
              th="Close"

              th="Special"
            each lang in layout.languages
              tr
                //- Language Column
                td=lang
                //- Status Column
                td
                  if (blog["close" + lang])
                    div.label.osmbclabel-closedblog
                      span.glyphicon.glyphicon-ok
                  else if (blog["reviewComment" + lang])
                    div.label.osmbclabel-reviewblog=(blog["reviewComment" + lang].length - 1)
                  else
                    div.label.osmbclabel-editblog=blog._countUneditedMarkdown[lang]
                //- Review Start Column
                td
                  if (!blog["close" + lang] && blog["reviewComment"+lang] && blog["reviewComment"+lang].length>0)
                    span.label.small-margin(class="osmbclabel-reviewblog")= blog["reviewComment"+lang][0].user
                  
                //- Review Start time
                td
                  if (!blog["close" + lang] && blog["reviewComment"+lang] && blog["reviewComment"+lang].length>0)
                    if (layout.moment().diff(blog["reviewComment" + lang][0].timestamp,'days') < 7)
                      div=layout.moment(blog["reviewComment" + lang][0].timestamp).format("ddd LT")
                    else 
                      div=layout.moment(blog["reviewComment" + lang][0].timestamp).format("L")    
                //- Review by Column
                td
                  if (!blog["close" + lang] && blog["reviewComment"+lang] && blog["reviewComment"+lang].length>0)
                    each val in blog["reviewComment"+lang]
                      if (val.text != "startreview")
                        span.label.small-margin(class="osmbclabel-reviewblog")=val.user
                //- Download Column
                td
                  div.glyphicon.glyphicon-export(onclick =`location.href='${layout.htmlroot}/blog/${blog.name}/preview?download=true&lang=${lang}';`)
                  if !(blog._countUneditedMarkdown && blog._countUneditedMarkdown[lang] == 0)
                    span=" "
                    span.glyphicon.glyphicon-alert
                //- Close Column
                td
                  form(id="startReview" name="startReview", action=layout.htmlroot+"/blog/" + blog.name + "/setLangStatus", method="post")
                    input.hidden(type="text",name="lang" value = lang)
                    if (!blog["close"+lang] && (blog["exported"+lang] || reviewInWP.indexOf(lang)<0 ))
                      input.hidden(type="text",name ="action" value = "closelang")
                      button.btn.btn-xs.btn-warning(id="closebutton" type = "submit" ) Close #{blog.name}(#{lang})
                //- Special Column
                td
                  if (blog["close" + lang])
                    form(id="startReview" name="reopenlang", action=layout.htmlroot + "/blog/" + blog.name + "/setLangStatus", method="post")
                      input.hidden(type="text",name="lang" value = lang)
                      input.hidden(type="text",name ="action" value = "editlang")
                      button.btn.btn-xs.btn-warning(id="closebutton" type = "submit" ) Reopen
                  else if (blog["reviewComment" + lang])
                    form(id="deleteReview" name="deleteReview", action=layout.htmlroot + "/blog/" + blog.name + "/setLangStatus", method="post")
                      input.hidden(type="text",name="lang" value = lang)
                      input.hidden(type="text",name ="action" value = "deleteallreviews")
                      button.btn.btn-xs.btn-warning(id="deletereviewbutton" type = "submit" ) Delete Review
                  else if (copyLanguageFromAnother[lang])
                    form(id="copyArticle" name="copyArticle", action=layout.htmlroot + "/blog/" + blog.name + "/copy/"+copyLanguageFromAnother[lang]+"/"+lang, method="post")
                      button.btn.btn-xs.btn-warning(id="copyArticlebutton" type = "submit" )=(copyLanguageFromAnother[lang] === "no_translation") ? "Set empty articles to no translation" :" Copy From " + copyLanguageFromAnother[lang]




      .row
        .col-md-2
          | Show Articles
        .col-md-10
          p
            a(href=layout.htmlroot + "/article/list?blog=" + blog.name) List of all articles
          p="Use this link to go to 'unlinked' articles."
      .row
        .col-md-2

          | Categories
        .col-md-8
            <pre>
            |!{blog._categories_yaml}
            </pre>
