extends layout




block content
  .row
    p.bg-info="This is your new Inbox, all comments addressed to you, are shown."

  - var bloglist = [];
  - bloglist = bloglist.concat(layout.listOfOpenBlog)
  - bloglist = bloglist.concat(layout.listOfEditBlog)
  - bloglist = bloglist.concat(layout.listOfReviewBlog)

  .row
    h3= "Inbox Direct Mention: " + layout.user.OSMUser

  for blog in bloglist
    if blog._userMention.length>0
      h4=blog.name +
      ul
        for article in blog._userMention
            :verbatim
              !{article.getPreview("overview")}
  .row
    h3= "Inbox Indirect Mention: " + layout.user.OSMUser

  for blog in bloglist
    if blog._langMention.length > 0
      h4=blog.name
      ul
        for article in blog._langMention
          :verbatim
            !{article.getPreview("overview")}
