extends layout




block content
  .row
    p.bg-info="This is your new inbox. All comments with mentions are shown here. Use the envelope in the article view to mark a comment as read."

  - var bloglist = [];
  - bloglist = bloglist.concat(layout.listOfOpenBlog)
  - bloglist = bloglist.concat(layout.listOfEditBlog)
  - bloglist = bloglist.concat(layout.listOfReviewBlog)

  .row
    .col-md-1
    .col-md-11
      h4= "Inbox Direct Mention:"

  for blog in bloglist
    if blog._userMention.length>0
      .row
        .col-md-1
        .col-md-11
          h5=blog.name
        for article in blog._userMention
          .row
            .col-md-1
              +articleIcons(article)
            .col-md-11
              ul
                :verbatim
                  !{renderer.articleTitle(left_lang,article)}

  .row
    .col-md-1
    .col-md-11
      h4= "Inbox Indirect Mention:"

  for blog in bloglist
    if blog._mainLangMention.length > 0
      .row
        .col-md-1
        .col-md-11
          h5=blog.name
        for article in blog._mainLangMention
          .row
            .col-md-1
              +articleIcons(article)
            .col-md-11
              ul
                :verbatim
                  !{renderer.articleTitle(left_lang,article)}
    if blog._secondLangMention.length > 0
      .row
        .col-md-1
        .col-md-11
          h5=blog.name
        for article in blog._secondLangMention
          .row
            .col-md-1
              +articleIcons(article)
            .col-md-11
              ul
                :verbatim
                  !{renderer.articleTitle(left_lang,article)}