extends layout


mixin displayArticle(article,lang)
  - upToComment = null
  - if (article.commentRead) upToComment = article.commentRead[layout.user.OSMUser]
  - if (!upToComment) upToComment = -1;
  if ((upToComment < article.commentList.length - 1) || showRead)
    .row
      .col-md-1
        +articleIcons(article,{showMail: true})
      .col-md-11
        .panel.panel-default
          .panel-heading
            ul
              :verbatim
                !{renderer.articleTitle(lang,article)}
          if (article.commentList)
            .panel-body
                each comment,i in article.commentList
                  if (showRead || (i > upToComment))
                    .row
                      .col-md-12
                        b
                          if (i > upToComment)
                            a(href=layout.htmlroot+"/article/#{article.id}/markCommentRead?index=#{i}")
                              span.glyphicon.glyphicon-envelope
                            span=" "
                          span=comment.user
                        span=" "
                        span.text-muted.small=layout.moment(comment.timestamp).fromNow()
                        if (comment.editstamp)
                          span=" "
                          i.text-muted.small="edit: " + layout.moment(comment.editstamp).fromNow()
                        p
                          :verbatim
                            !{layout.md_render(comment.text)}


block content
  - left_lang = layout.language
  - right_lang = layout.language2

  - showRead = (layout.user.getOption("inbox","showRead")=="true")
  .row
    p.osmbc-help-text="This is your inbox. All comments with mentions are shown here. Use the envelope in the article view to mark a comment as read."

  - var bloglist = [];
  - bloglist = bloglist.concat(layout.listOfOpenBlog)
  - bloglist = bloglist.concat(layout.listOfEditBlog)
  - bloglist = bloglist.concat(layout.listOfReviewBlog)


  .row
    .col-md-1
    .col-md-11
      h2= "Inbox Direct Mention:"

  for blog in bloglist
    if blog._userMention && blog._userMention.length>0
      .row
        .col-md-1
        .col-md-11
          h4=blog.name+" "+blog.getStatus(layout.left_lang)
          p="User mentions: "+blog._userMention.length
        for article in blog._userMention
          +displayArticle(article,left_lang)

  .row
    .col-md-1
    .col-md-11
      h2= "Inbox Indirect Mention:"

  for blog in bloglist
    if blog._mainLangMention && blog._mainLangMention.length > 0
      .row
        .col-md-1
        .col-md-11
          h4=blog.name+" "+blog.getStatus(layout.left_lang)
          p=left_lang+" mentions: "+blog._mainLangMention.length
        for article in blog._mainLangMention
              +displayArticle(article,left_lang)

    if blog._secondLangMention && blog._secondLangMention.length > 0
      .row
        .col-md-1
        .col-md-11
          h4=blog.name+" "+blog.getStatus(layout.right_lang)
          p=right_lang+" mentions: "+blog._secondLangMention.length
        for article in blog._secondLangMention
              +displayArticle(article,left_lang)

  .row
    h2="Options"
    +userConfigOption("inbox","showRead",showRead," show read messages")