extends layout

block content
  .row
    .col-md-8
      h2.hidden-xs="Welcome to OSM BC"
      h2.visible-xs="OSM BC"
      .row
        p.osmbc-help-text
          span="You are logged in as guest. Please refer to "
          a(href="http://www.weeklyosm.eu/this-news-should-be-in-weeklyosm")="How to use OSMBC guest mode"
          span=" to get more information."
      h2="Your Articles"
      table.table.table-condensed
        for a in articles
          tr
            td=a.blog
            td
              p=a.categoryEN
              p
                a(href=layout.htmlroot+"/article/"+a.id)=a.displayTitle()
              if (a.categoryEN ==="--unpublished--")
                p="unpublish reason: "+a.unpublishReason+" ( "+a.unpublishReference+" ) "



    .col-md-4
      .row
        h3="Current Production Status"
        +blogStatusTable(false)
        row
          p
            | Click on any label to edit the articles or view the blog.
          p
            span.label.osmbclabel-closedblog
              | total
            |  Blog is closed for a language

          p
            span.label.osmbclabel-reviewblog
              | total
            |  Blog is undergoing review
          p
            span.label.osmbclabel-editblog
              | total
            |  Blog is open for editing
          p
            span.label.osmbclabel-openblog
              | total
            |  Blog is used for submissions




  div.footer