extends layout

block additionalMenuRight  
  +langMenu(2)

block content
  .row
    .col
      h2.d-none.d-sm-block="Welcome to OSM BC"
      h2.d-block.d-sm-none="OSM BC"
      p.osmbc-help-text
        span="You are logged in as guest. Please refer to "
        a(href="https://www.weeklyosm.eu/this-news-should-be-in-weeklyosm")="How to use OSMBC guest mode"
        span=" to get more information."
      h2="Your Articles"
      table.table.table-sm
        for a in articles
          tr
            td=a.blog
            td
              p=a.categoryEN
              p
                a(href=layout.htmlroot+"/article/"+a.id)=a.displayTitle()
                if (a.categoryEN ==="--unpublished--")
                  p=a.unpublishReason
                  if a.unpublishReference
                    p=a.unpublishReference



    .col-md-4
      .row
        h3="Current Production Status"
      div
        +blogStatusTable(true, true)
      .mt-1.mb-2
        small.osmbc-help-text Badge legend
        table.table.table-sm.w-auto.mb-0
          tbody
            tr
              td.text-center.align-middle
                span.badge.osmbc-label-openblog open
              td.text-start.align-middle 
                span.osmbc-help-text number of pending articles in open blogs
            tr
              td.text-center.align-middle
                span.badge.osmbc-not-formulated edit
              td.text-start.align-middle.osmbc-help-text 
                span.osmbc-help-text number of pending articles in edit blogs
            tr
              td.text-center.align-middle
                span.badge.osmbc-automated-translation auto
              td.text-start.align-middle.osmbc-help-text 
                span.osmbc-help-text number of automated translations
            tr
              td.text-center.align-middle
                span.badge.osmbc-label-reviewblog review
              td.text-start.align-middle.osmbc-help-text 
                span.osmbc-help-text number of reviews
            tr
              td.text-center.align-middle
                span.badge.osmbc-label-closedblog
                  i.fa.fa-check
              td.text-start.align-middle.osmbc-help-text 
                span.osmbc-help-text language is closed




  div.footer
