extends layout

block content
  div.top
    h2
      | Welcome to OSM BC
  div.container
    .row 
      button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/article/Create","_self")')
        | Collect
      button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/article/list?status=open","_self")')
        | Open Blog
      button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/article/list?status=review","_self")')
        | Review Blog
    .row
      h2
        | Actual Open Blog
      if (layout.listOfOpenBlog)
        for openBlog in layout.listOfOpenBlog
          button.btn.btn-default(onClick='javascript:window.open("#{layout.htmlroot}/blog/#{openBlog.id}","_self")')
            | #{openBlog.name}



  div.footer