doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')
    title OSMBC
    // Bootstrap core CSS
    link(href='#{layout.bootstrap}/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.pull-left
          a.navbar-brand(href='#{layout.htmlroot}/osmbc.html') OSMBC 
        .navbar-header
          ul.nav.navbar-nav.pull-left
            li
              a(href='#{layout.htmlroot}/article/create') Collect
          button.navbar-toggle.pull-right(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-left
            if (layout.listOfOpenBlog && layout.listOfOpenBlog.length>0)
              li
                a(href='#{layout.htmlroot}/blog/#{layout.listOfOpenBlog[0].id}') #{layout.listOfOpenBlog[0].name}
            if (layout.listOfEditBlog && layout.listOfEditBlog.length>0)
              li
                a(href='#{layout.htmlroot}/blog/#{layout.listOfEditBlog[0].id}') #{layout.listOfEditBlog[0].name}
            if (layout.listOfReviewBlog && layout.listOfReviewBlog.length>0)
              li
                a(href='#{layout.htmlroot}/blog/#{layout.listOfReviewBlog[0].id}') #{layout.listOfReviewBlog[0].name}
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Article 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#{layout.htmlroot}/article/search') Search
                li.dropdown-header Special Search
                if (layout.listOfOpenBlog && layout.listOfOpenBlog.length>0)
                  li.dropdown-header Special Search Current #{layout.listOfOpenBlog[0].name}
                  li
                     a(href='#{layout.htmlroot}/article/list?markdownDE=&category=!=--unpublished--&blog=#{layout.listOfOpenBlog[0].name}') No Text 
                  li
                     a(href='#{layout.htmlroot}/article/list?markdownEN=&category=!=--unpublished--&blog=#{layout.listOfOpenBlog[0].name}') No Translation 
                if (layout.listOfReviewBlog && layout.listOfReviewBlog.length>0)
                  li.dropdown-header Special Search Review #{layout.listOfReviewBlog[0].name}
                  li
                     a(href='#{layout.htmlroot}/article/list?markdownDE=&category=!=--unpublished--&blog=#{layout.listOfReviewBlog[0].name}') No Text 
                  li
                     a(href='#{layout.htmlroot}/article/list?markdownEN=&category=!=--unpublished--&blog=#{layout.listOfReviewBlog[0].name}') No Translation 
                li.dropdown-header Special Search All
                li
                  a(href='#{layout.htmlroot}/article/list?markdownDE=&category=!=--unpublished--') No Text 
                li
                  a(href='#{layout.htmlroot}/article/list?markdownEN=&category=!=--unpublished--') No Translation
                li
                  a(href='#{layout.htmlroot}/article/list') All
                li.divider
                li.dropdown-header Orphaned Article
                if (layout.listOfOrphanBlog) 
                  for blog in layout.listOfOrphanBlog
                    li
                      a(href="#{layout.htmlroot}/article/list?blog=#{blog}") #{blog}
                li
                  a(href='#{layout.htmlroot}/article/list?blog=') No Blog
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | WN 
                span.caret
              ul.dropdown-menu(role='menu')
                if (layout.listOfOpenBlog && layout.listOfOpenBlog.length>0)
                  li.dropdown-header open
                  for o  in layout.listOfOpenBlog
                    li
                      a(href="#{layout.htmlroot}/blog/#{o.id}") #{o.name}
                if (layout.listOfEditBlog && layout.listOfEditBlog.length>0)
                  li.dropdown-header edit
                  for edit in layout.listOfEditBlog
                    li
                      a(href="#{layout.htmlroot}/blog/#{edit.id}") #{edit.name}
                if (layout.listOfReviewBlog && layout.listOfReviewBlog.length>0)
                  li.dropdown-header review #{layout.user.language}
                  for review in layout.listOfReviewBlog
                    li
                      a(href="#{layout.htmlroot}/blog/#{review.id}") #{review.name}



                li.dropdown-header List
                li
                  a(href="#{layout.htmlroot}/blog/list?status=open") open
                li
                  a(href="#{layout.htmlroot}/blog/list?status=!=closed") all open
                li
                  a(href="#{layout.htmlroot}/blog/list?status=edit") edit
                li 
                  a(href="#{layout.htmlroot}/blog/list?status=trash") trash
                li 
                  a(href="#{layout.htmlroot}/blog/list?status=closed") closed
                li.divider
                li.dropdown-header Action
                li
                  a(href="#{layout.htmlroot}/blog/create") Create Blog
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | User 
                span.caret
              ul.dropdown-menu(role='menu')
                li.dropdown-header List
                li
                  a(href="#{layout.htmlroot}/usert/create") Create
                li
                  a(href="#{layout.htmlroot}/usert/list?access=full") List Active      
                li
                  a(href="#{layout.htmlroot}/usert/list?access=denied") List Denied      
                li
                  a(href="#{layout.htmlroot}/usert/list?access=full&sort=lastAccess&desc=true&lastAccess=!=never") Who Is Online
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Tool 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href="#{layout.htmlroot}/tool/calender2markdown") OSM Calender2Markdown
       
          ul.nav.navbar-nav.navbar-right  
            li.dropdown 
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Help 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href="https://github.com/TheFive/osmbc/blob/master/CHANGELOG.md") Version #{layout.osmbc_version} 
                li
                  a(href="#{layout.htmlroot}/help/OSMBC") OSMBC   
                li
                  a(href="#{layout.htmlroot}/help/Beginner's How To") Beginner's How To                    
            if layout.user
                li 
                  a(href='http://www.openstreetmap.org/user/#{layout.user.displayName}') #{layout.user.displayName}
              else
                li  
                  a(href='./') Anonymous
        // /.nav-collapse
  

    .container
        
        p
         block content
        p
          
    // /container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    link(rel='stylesheet', href='#{layout.bootstrap}/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='#{layout.bootstrap}/js/bootstrap.min.js')

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='#{layout.htmlroot}/stylesheets/#{layout.style}')
  body
    
block scripts


