extend mixins

block all

  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='/favicon.ico')
      title=layout.title
      // Bootstrap core CSS
      link(href='#{layout.bootstrap}/css/bootstrap.min.css', rel='stylesheet')
      // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
      //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body

      // Fixed navbar
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header.pull-left
            if layout.osmbc_version === layout.user.lastChangeLogView
              a.navbar-brand(href='#{layout.htmlroot}/osmbc.html') #{layout.appName}
            else
              a.navbar-brand.bg-success(href='#{layout.htmlroot}/changelog') Whats New?
            ul.nav.navbar-nav.pull-left
              li
                a(href='#{layout.htmlroot}/article/create') Collect
            ul.nav.navbar-nav.pull-left

              li
                a(href='#{layout.htmlroot}/usert/inbox')="Inbox "
                  if (layout.userMentions>0)
                    span.badge.osmbcbadge-user=layout.userMentions
                  if (layout.mainLangMentions>0)
                    span.badge.osmbcbadge-lang=layout.mainLangMentions
                  if (layout.secondLangMentions>0)
                    span.badge.osmbcbadge-lang2=layout.secondLangMentions


          .navbar-header
            button.navbar-toggle.pull-right(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse
            - function blogNumber(blog,language) {return ((blog && blog._countUneditedMarkdown)?blog._countUneditedMarkdown[language]:"?") }
            - function blogCount(blog,language) {return ((blog && blog._countExpectedMarkdown)?blog._countExpectedMarkdown[language]:"?") }

            ul.nav.navbar-nav.navbar-left
              if blogNumber(layout.tbc,layout.language)>0
                li
                  a(href='#{layout.htmlroot}/blog/TBC')
                    | #{layout.tbc.name}
                    span.badge.osmbcbadge-lang
                      | #{blogNumber(layout.tbc, layout.language)}
                    if layout.language2
                      span.badge.osmbcbadge-lang2.hidden-xs
                        | #{blogNumber(layout.tbc, layout.language2)}
              if (layout.listOfOpenBlog && layout.listOfOpenBlog.length > 0)
                li
                  a(href='#{layout.htmlroot}/blog/#{layout.listOfOpenBlog[0].name}')
                    | #{layout.listOfOpenBlog[0].name}
                    span.badge.osmbcbadge-lang
                      | #{blogNumber(layout.listOfOpenBlog[0], layout.language)}
                    if layout.language2
                      span.badge.osmbcbadge-lang2.hidden-xs
                        | #{blogNumber(layout.listOfOpenBlog[0], layout.language2)}

              if (layout.listOfEditBlog && layout.listOfEditBlog.length>0)
                li
                  a(href='#{layout.htmlroot}/blog/#{layout.listOfEditBlog[0].name}')
                    |#{layout.listOfEditBlog[0].name}
                    span.badge.osmbcbadge-lang
                      |#{blogNumber(layout.listOfEditBlog[0],layout.language)}
                    if layout.language2
                      span.badge.osmbcbadge-lang2
                        |#{blogNumber(layout.listOfEditBlog[0],layout.language2)}
              if (layout.listOfReviewBlog && layout.listOfReviewBlog.length>0)
                li
                  a(href='#{layout.htmlroot}/blog/#{layout.listOfReviewBlog[0].name}')
                    |#{layout.listOfReviewBlog[0].name}
                    span.badge.osmbcbadge-lang
                      |#{blogNumber(layout.listOfReviewBlog[0],layout.language)}
                    if layout.language2
                      span.badge.osmbcbadge-lang2
                        |#{blogNumber(layout.listOfReviewBlog[0],layout.language2)}
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Lists
                  span.caret
                ul.dropdown-menu(role='menu')
                  li.dropdown-header Articles
                  li
                    a(href='#{layout.htmlroot}/article/search') Search
                    a(href='#{layout.htmlroot}/article/list?myArticles=true') My Collections
                  li.dropdown-header Orphaned Article
                    if (layout.listOfOrphanBlog)
                      for blog in layout.listOfOrphanBlog
                        if blog
                          li
                            a(href="#{layout.htmlroot}/article/list?blog=#{blog}") #{blog}
                    li
                      a(href='#{layout.htmlroot}/article/list?blog=') No Blog


              li.dropdown.hidden-xs
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Tool
                  span.caret
                ul.dropdown-menu(role='menu')
                  li.dropdown-header Markdown Helper
                  li
                    a(href="#{layout.htmlroot}/tool/calender2markdown") OSM Calender2Markdown
                  li
                    a(href="#{layout.htmlroot}/tool/picturetool") Picture Tool
                  li.divider
                  li.dropdown-header About The Team
                    li
                      a(href="https://docs.google.com/spreadsheets/d/1LAoVqxf3GkE3a-P6zmrT7_D-Q7SMIAFXoK4MizoMThM/edit?usp=sharing") Google List of Skills

            ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Help
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href="https://github.com/TheFive/osmbc/blob/master/CHANGELOG.md") Version #{layout.osmbc_version}
                    li.divider
                    li
                      a(href="#{layout.htmlroot}/help/OSMBC") OSMBC
                    li
                      a(href="#{layout.htmlroot}/help/How To Integrate A Picture") How To Integrate A Picture
                    li
                      a(href="#{layout.htmlroot}/help/Notification") Using OSMBC Notifications
                    li
                      a(href="#{layout.htmlroot}/help/The Blog Views") The Blog Views
                    li
                      a(href="#{layout.htmlroot}/help/Beginner's How To") Beginner's How To
                    li
                      a(href="#{layout.htmlroot}/help/Categories") Which Category to use ?
                    li.divider
                    li
                      a(href="http://wiki.openstreetmap.org/wiki/Wochennotiz") Wochennotitz in OSM Wiki
                    li
                      a(href="http://wiki.openstreetmap.org/wiki/WeeklyOSM") Weekly in OSM Wiki

                li.dropdown
                  a.btn.dropdown-toggle.osmbcbadge-lang(href='#', style="color:white", data-toggle='dropdown')
                    |#{layout.language}
                    span.caret
                  ul.dropdown-menu(role='menu')
                    each l in layout.languages
                      if layout.usedLanguages[l]
                        li
                          a(href='#{layout.htmlroot}/language?lang=#{l}') #{l}
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle.osmbcbadge-lang2(href='#',style="color:white", data-toggle='dropdown')
                    |#{(layout.language2)?layout.language2:"--"}
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#{layout.htmlroot}/language?lang2=none') none
                    each l in layout.languages
                      if layout.usedLanguages[l]
                        li
                          a(href='#{layout.htmlroot}/language?lang2=#{l}') #{l}
                if layout.user
                    li
                      a(href='#{layout.htmlroot}/usert/#{layout.user.id}') #{layout.user.displayName}
                  else
                    li
                      a(href='./') Anonymous
            // /.nav-collapse


      .container-fluid

          p
           block content
          p

      // /container

      // Bootstrap core JavaScript
      // ==================================================
      // Placed at the end of the document so the pages load faster
      //link(rel='stylesheet', href='#{layout.bootstrap}/css/bootstrap.min.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='#{layout.bootstrap}/js/bootstrap.min.js')

  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href='#{layout.htmlroot}/stylesheets/#{layout.style}')
    body

  block scripts


