include mixins

mixin homeButton(addclass)
  if !layout || layout.osmbc_version === layout.user.lastChangeLogView
    a(href=htmlroot+'/osmbc.html' class=addclass)=appName
  else
    a.bg-success(href=layout.htmlroot+'/changelog' class=addclass) Whats New?


mixin firstBlogOfList(list,count,c)
  - if (!count) count = 1
  if (list.length > 0)
    each blog,i in list
      if i<count
        li
          a(href=layout.htmlroot+'/blog/#{blog.name}')=blog.name
            span.badge.osmbcbadge-lang=blogNumber(blog, layout.language)
            if layout.language2
              span.badge.osmbcbadge-lang2=blogNumber(blog, layout.language2)

mixin collectMenu
  ul.nav.navbar-nav.pull-left
    li
      a#collect(href=htmlroot + '/article/create') Collect

mixin myGuestArticleMenu
  ul.nav.navbar-nav.pull-left
    li
      a#myArticles(href=htmlroot + '/osmbc.html') My Articles


mixin tbcMenu
  if blogNumber(layout.tbc, layout.language) > 0
    - dynamicHide = ""
    if (layout.tbc._tbcOwnArticleNumber == 0)
      - dynamicHide = "hidden-xs"
    ul.nav.navbar-nav.pull-left(class=dynamicHide)
      li
        a(href=layout.htmlroot+'/blog/TBC')=layout.tbc.name
        if (layout.tbc._tbcOwnArticleNumber > 0)
          span.badge.osmbcbadge-user=layout.tbc._tbcOwnArticleNumber

mixin inboxMenu
 ul.nav.navbar-nav.pull-left
   li
     a#inbox(href=layout.htmlroot + '/usert/inbox')="Inbox "
       if (layout.userMentions > 0)
         span.badge.osmbcbadge-user=layout.userMentions
       if (layout.user.access === "full")
         if (layout.mainLangMentions > 0)
           span.badge.osmbcbadge-lang=layout.mainLangMentions
         if (layout.secondLangMentions > 0)
           span.badge.osmbcbadge-lang2=layout.secondLangMentions

mixin articleMenu
  li#article.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Lists
      span.caret
    ul.dropdown-menu(role='menu')
      li.dropdown-header Articles
      li
        a(href=layout.htmlroot + '/article/search') Search
        a(href=layout.htmlroot + '/article/list?myArticles=true') My Empty Collections
      li.dropdown-header Orphaned Article

        for blog in layout.listOfOrphanBlog
          if blog
            li
              a(href=layout.htmlroot + "/article/list?blog=#{blog}") #{blog}
        li
          a(href=layout.htmlroot + '/article/list?blog=') No Blog

mixin toolMenu
  li.dropdown#tool.hidden-xs
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Tool
      span.caret
    ul.dropdown-menu(role='menu')
      li.dropdown-header Markdown Helper
      for integration, name in layout.calendarInterface
        li
          a(href=layout.htmlroot + "/tool/calendarAllLang/" + name)="Calendar Tool (" + name + ")"
      li
        a(href=layout.htmlroot + "/tool/picturetool") Picture Tool
      li.divider
      li.dropdown-header About The Team
        li
          a(href="https://docs.google.com/spreadsheets/d/1LAoVqxf3GkE3a-P6zmrT7_D-Q7SMIAFXoK4MizoMThM/edit?usp=sharing") Google List of Skills

mixin helpMenu
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Help
      span.caret
    ul.dropdown-menu(role='menu')
      li.dropdown-header OSMBC
      li
        a(href="https://github.com/TheFive/osmbc/blob/master/CHANGELOG.md") Version #{layout.osmbc_version}
      li
        a(href="https://osmbc.openstreetmap.de/osmww/wiki/OSMBC-Help") Help
      li.divider
      li.dropdown-header WeeklyOSM & Wochennotiz
      li
        a(href="https://osmbc.openstreetmap.de/osmww/wiki/Vision-%26-Rules") Vision & Rules
      li
        a(href="https://osmbc.openstreetmap.de/osmww/wiki/Editorial-Meeting") Editorial Meetings
      li
        a(href="http://wiki.openstreetmap.org/wiki/Wochennotiz") Wochennotitz in OSM Wiki
      li
        a(href="http://wiki.openstreetmap.org/wiki/WeeklyOSM") Weekly in OSM Wiki

mixin langChooser(langString)
  - let l = "language"
  - let label = "osmbcbadge-lang"
  if (langString === "lang2")
    - l = "language2"
    - label = "osmbcbadge-lang2"
  if (langString === "lang3")
    - l = "language3"
    - label = "label-default"
  if (langString === "lang4")
    - l = "language4"
    - label = "label-default"

  li.dropdown
    a.btn.dropdown-toggle(class=label, href='#', style="color:white", data-toggle='dropdown')
      |#{(layout[l])?layout[l]:"--"}
      span.caret
    ul.dropdown-menu(role='menu')
      if (langString !== "lang")
        li
          a(href=layout.htmlroot + '/language?'+langString+'=none') none
      each litem in layout.languages
        if layout.usedLanguages[litem]
          li
            a(href=layout.htmlroot + '/language?'+langString+'=#{litem}') #{litem}

mixin userAvatar
  if layout.user
    li
      img(src=layout.user.getAvatar() onclick="location.href='" + layout.htmlroot + "/usert/#{layout.user.id}';" style="height:50px;width:50px")
  else
    li
      a(href='./') Anonymous

block all
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='/favicon.ico')
      title=(layout)?layout.title:appName
      // Bootstrap core CSS
      link(href=path("bootstrap")+'/css/bootstrap.min.css', rel='stylesheet')
      link(href=path("font-awesome")+"/css/font-awesome.min.css" rel='stylesheet')

    body
      - function blogNumber(blog,language) {return ((blog && blog._countUneditedMarkdown)?blog._countUneditedMarkdown[language]:"?") }
      - function blogCount(blog,language) {return ((blog && blog._countExpectedMarkdown)?blog._countExpectedMarkdown[language]:"?") }


      // Fixed navbar
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header.pull-left
            //- generate a list of all blogs for Menu
            - var listall = []
            if (layout)
              - listall = [].concat(layout.listOfReviewBlog)
              - listall = listall.concat(layout.listOfEditBlog)
              - listall = listall.concat(layout.listOfOpenBlog)

            +homeButton("navbar-brand hidden-xs")
            +collectMenu
            if (layout && layout.user.access === "full")
              +tbcMenu
            if (layout)
              +inboxMenu
            if (layout && layout.user.access === "guest")
              +myGuestArticleMenu

            if (layout && layout.user.access === "full")
              ul.nav.navbar-nav.pull-left.visible-xs
                +firstBlogOfList(listall)




          .navbar-header
            button.navbar-toggle.pull-right(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-left
              li.show-xs
                +homeButton("visible-xs")
              if (layout && layout.user.access === "full")
                +firstBlogOfList(listall,2)
                +articleMenu
                +toolMenu
            if (layout)
              ul.nav.navbar-nav.navbar-right
                +helpMenu
                +langChooser("lang")
                +langChooser("lang2")
                - for (i = 3; params && params.columns && i<= params.columns;i++)
                  +langChooser("lang"+i)
                +userAvatar


            // /.nav-collapse


      .container-fluid
        if (layout && layout.user && layout.user.emailInvalidation)

          p
          div.alert.alert-danger
            span="Waiting for email verification, have a look at the mail with the title '[OSMBC] Welcome to OSMBC' in your inbox or change the request in your "
            a.alert-link(href=layout.htmlroot+"/usert/self") User Configuration

        p
         block content
        p

      // /container

      // Bootstrap core JavaScript
      // ==================================================
      // Placed at the end of the document so the pages load faster
      script(src=path("jquery")+'/jquery.min.js')
      script(src=path("bootstrap")+'/js/bootstrap.min.js')

  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href='#{htmlroot}#{stylesheet}')
    body

  block scripts


