include mixins


mixin firstBlogOfList(list,count,c)
  - if (!count) count = 1
  if (layout && layout.user && layout.user.hasFullAccess())
    if (list.length > 0)
      each blog,i in list
        if i<count
          li.navbar-item.active.d-xs-block
            a.nav-link(href=`${layout.htmlroot}/blog/${blog.name}`)=blog.name
              span.badge.badge-pill.osmbcbadge-lang=blogNumber(blog, layout.user.getLang(0))
              if layout.user.getLang(1)
                span.badge.badge-pill.osmbcbadge-lang2=blogNumber(blog, layout.user.getLang(1))



mixin collectMenu
  li.navbar-item.active
    if (layout && layout.user && layout.user.hasFullAccess())
      a.nav-link#collect(href=htmlroot + '/article/create') Collect
    else
      a.nav-link#collect(href=htmlroot + '/article/create') Submit Link


mixin myGuestArticleMenu
  if (layout && layout.user && layout.user.access === "guest")
    li.navbar-item.active
      a.nav-link#myArticles(href=htmlroot + '/osmbc.html') My Articles

// This should be removed, when bootstrap4 is running
// To Be Collected (the insterims stage) is not needed any longer 
// TheFive Jan 2020 

mixin tbcMenu
  if (layout && layout.user && layout.user.hasFullAccess())
    li.navbar-item.active
      if blogNumber(layout.tbc, layout.user.getLang(0)) > 0
        - dynamicHide = ""
        if (layout.tbc._tbcOwnArticleNumber == 0)
          - dynamicHide = "hidden-xs"
        ul.nav.navbar-nav.pull-left(class=dynamicHide)
          li.nav-item
            a.nav-link(href=layout.htmlroot+'/blog/TBC')=layout.tbc.name
              if (layout.tbc._tbcOwnArticleNumber > 0)
                span.badge.badge-pill.osmbcbadge-user=layout.tbc._tbcOwnArticleNumber

mixin inboxMenu
  if (layout && layout.user)
    li.navbar-item.active
      a.nav-link#inbox(href=layout.htmlroot + '/usert/inbox')="Inbox "
        if (layout.userMentions > 0)
          span.badge.badge-pill.osmbcbadge-user=layout.userMentions
        if (layout.user.hasFullAccess())
          if (layout.mainLangMentions > 0)
            span.badge.badge-pill.badge-pill.osmbcbadge-lang=layout.mainLangMentions
          if (layout.secondLangMentions > 0)
            span.badge.badge-pill.osmbcbadge-lang2=layout.secondLangMentions

mixin articleMenu
  if (layout && layout.user && layout.user && layout.user.hasFullAccess())
    li.dropdown.nav-item.active
      a.nav-link.dropdown-toggle#articleMenuDropdown(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false") Search
      div.dropdown-menu(aria-labelledby="articleMenuDropdown")
        a.dropdown-header Articles
        a.dropdown-item#articleMenuSearch(href=layout.htmlroot + '/article/search') Search
        a.dropdown-item#articleMenuEmpty(href=layout.htmlroot + '/article/list?myArticles=true') My Empty Collections
        div.dropdown-divider
        a.dropdown-header Orphaned Article
        a.dropdown-item#articleMenuTrash(href=layout.htmlroot + '/article/list?blog=Trash') Trash
        a.dropdown-item#articleMenuTBC(href=layout.htmlroot + '/article/list?blog=TBC') TBC
        a.dropdown-item#articleMenuFuture(href=layout.htmlroot + '/article/list?blog=Future') Future
        a.dropdown-item#articleMenuNoBlog(href=layout.htmlroot + '/article/list?blog=') No Blog

mixin toolMenu
  if (layout && layout.user && layout.user.hasFullAccess())
    li.dropdown.nav-item.active
      a.nav-link.dropdown-toggle#toolsMenuDropdown(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false") Tools
      div.dropdown-menu(aria-labelledby="toolsMenuDropdown")
        if (layout.scriptUser === "full" || (Array.isArray(layout.scriptUser) && layout.scriptUser.indexOf(layout.user.OSMUser)>=0))
          div.dropdown-divider
          a.dropdown-header="Script Plugins (TEST PHASE)"
          a.dropdown-item(href=layout.htmlroot + "/tool/scripts/execute")="Execute Scripts"
          a.dropdown-item(href=layout.htmlroot + "/tool/scripts/log")="Script Results"

        div.dropdown-divider
        a.dropdown-header Editorial Tools
        a.dropdown-item(href="https://mattermost.openstreetmap.de") Mattermost for Editorial Team
        
        div.dropdown-divider
        a.dropdown-header About The Team
        a.dropdown-item(href="https://docs.google.com/spreadsheets/d/1LAoVqxf3GkE3a-P6zmrT7_D-Q7SMIAFXoK4MizoMThM/edit?usp=sharing") Google List of Skills



block all
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='/favicon.ico')
      title=(layout)?layout.title:appName
      // Bootstrap core CSS
      link(href=layout.htmlroot + "/stylesheets/bootstrap.min.css", rel='stylesheet')
      link(href=layout.htmlroot + "/stylesheets/bootstrap-select.min.css", rel='stylesheet')
      link(href=layout.htmlroot + "/stylesheets/font-awesome.min.css" rel='stylesheet')

    body
      - function blogNumber(blog,language) {return ((blog && blog._countUneditedMarkdown)?blog._countUneditedMarkdown[language]:"?") }
      - function blogCount(blog,language) {return ((blog && blog._countExpectedMarkdown)?blog._countExpectedMarkdown[language]:"?") }


      // Fixed navbar
      nav.navbar.navbar-light.bg-light.navbar-expand-lg.fixed-top#fixedNavbar
        - var listall = []
        if (layout)
          - listall = [].concat(layout.listOfReviewBlog)
          - listall = listall.concat(layout.listOfEditBlog)
          - listall = listall.concat(layout.listOfOpenBlog)

        
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        +homeButton("navbar-brand")  
        ul.navbar-nav.mr-auto
        div.collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.mr-auto
            +collectMenu
            +inboxMenu
            
            +tbcMenu
            +myGuestArticleMenu
            +firstBlogOfList(listall,2)
            +articleMenu    
            +toolMenu
            block additionalMenuMain    
          ul.navbar-nav
            +helpMenu
            block additionalMenuRight
            +userAvatar


      .container-fluid
        if (layout && layout.user && layout.user && layout.user.emailInvalidation)
          p
            div.alert.alert-danger.text-center#mailalert
              p="Waiting for email verification, have a look at the email with the title '[OSMBC] Welcome to OSMBC' in your inbox."
              p
                a.alert-link(href=layout.htmlroot+"/usert/self")=" Goto User Configuration"
        if (layout && layout.user && layout.user && !layout.user.email && !layout.user.emailInvalidation)
          p
            div.alert.alert-danger.text-center#mailalert
              p="Please enter your email to receive comments and feedback here:"
              p
                a.alert-link(href=layout.htmlroot + "/usert/self")=" Goto User Configuration"

        p
         block content

      // /container

      // Bootstrap core JavaScript
      // ==================================================
      // Placed at the end of the document so the pages load faster
      script(src=layout.htmlroot + "/javascripts/jquery.min.js")
      script(src=layout.htmlroot + "/javascripts/bootstrap.bundle.min.js")
      script(src=layout.htmlroot + "/javascripts/bootstrap-select.min.js")
      script(src=layout.htmlroot + "/javascripts/osmbc_staff.js")
  

  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href=`${htmlroot}${stylesheet}`)
    body
  script(nonce=cspNonce).

    // Init This Window with jQuery ready Callback
    $(document).ready(init2);
    window.htmlroot = "!{layout.htmlroot}";
    function init2() {
      $("#mailalert").animate({height: '200px',fontSize: "40px"},1000)
    }
    
    
    

  block scripts_to_load 

  block scripts_to_execute
