
extends layout

block content
  // Full Access Index Page
  h1="OSMBC"
  p Welcome to OSMBC, the tool for the weeklyOSM / Wochennotizteam to collect, write and publish OpenStreetMaps weekly news.

  p If you already have an account, please use the OSM Login button at the end of the page.

  p If you would like to report a post for the next issue, and are not an editor, you still can login and use our guest module of OSMBC.
  p The guest module gives you access to all YOUR articles, including their translation in all languages.
  p It also offers the possiblity to keep you informed via email about comments on that article.

  p To register to OSMBC you just have to login with your OpenStreetMap user account, and you will be added to our user database as guest.
     
  div.btn-group-vertical
    if layout.auth.openstreetmap.enabled
      div
        a.btn.btn-primary#login(href=htmlroot+"/auth/openstreetmap")="Login with OpenStreetMap"
    if layout.auth.openstreetmap_oauth20.enabled
      div
        a.btn.btn-primary#login(href=htmlroot+"/auth/openstreetmap_oauth20")="Login with OpenStreetMap OAuth 2.0"
    if layout.auth.htaccess.enabled
      div
        a#htaccesLoginButton.btn.btn-primary(href=htmlroot+"/htaccess/login")="Login with Local Passwort" 
        

  li 
    p More Information
    p You can find a short manual for guest users:

  a(href="http://www.weeklyosm.eu/this-news-should-be-in-weeklyosm")="How to use OSMBC guest mode"

  h2="Data Protection Remark"
  p All your changes are logged with your OSMBC user name, similar the logging of changesets in OpenStreetMap.








  div.footer