extends layout


block content
  h1
    | Outgoing Mail Log
  row
      table
        thead
          tr 
            th user
            th address
            th subject
            th timestamp
            th response
         tbody
          if (maillog)
            each mail in maillog
              tr
                td=mail.user
                td=mail.to
                td=mail.subject
                td=mail.timestamp
                td=mail.response
             

          


  