- sizeLabel =2
- sizeInput = 4
- sizeExplanation = 6


mixin labeledInput(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            input.form-control(name="#{name}",id="#{name}",value = "#{value}")
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            select(id="#{name}",name="#{name}").form-control
                each v,i in values
                    if (value ==v)
                        option(value="#{v}" selected) #{displayValues[i]}
                    else
                        option(value="#{v}" ) #{displayValues[i]}
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledMultiSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            each v,i in values
                if (value.indexOf(v)>=0)
                    label.checkbox-inline
                        input(type="checkbox" value="#{v}" name="#{name}" checked="checked")
                        |#{displayValues[i]}
                else
                    label.checkbox-inline
                        input(type="checkbox" name="#{name}" value="#{v}")
                        |#{displayValues[i]}
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledText(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            input.form-control(name="#{name}",id="#{name}",value = "#{value}" readonly)
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation

mixin languageDisplay(article)
  each lang in layout.languages
    if layout.usedLanguages[lang]
      if (article["markdown" + lang])
          if (article["markdown" + lang] !== "no translation")
              span.label.osmbclabel-markdown=lang
          else
              span.label.osmbclabel-no-translation=lang
      else
        if (article.collection)
          span.label.osmbclabel-collect=lang
        else
          span.label.osmbclabel-no-markdown=lang

mixin articleIcons(a,options)
    - numCol = 0;
    - if (a.author && a.author.collection) numCol = a.author.collection.split(",").length;
    - numEd = 0;
    - if (a.author && a.author["markdown"+lang]) numEd = a.author["markdown"+lang].split(",").length;
    if (a.author && options.showNumbers)
      span.label.osmbclabel-collect.small-margin=numCol
      span.label.osmbclabel-markdown.small-margin=numEd
    if options.showMail
      if a.getCommentMention()
        - shown = false
        if a.isMentioned(layout.user.OSMUser)
            span.glyphicon.glyphicon-comment.small-margin.osmbccolor-user
            - shown=true
        if a.isMentioned(layout.user.getMainLang())
            span.glyphicon.glyphicon-comment.small-margin.osmbccolor-lang
            - shown=true
        if layout.user.getSecondLang() && a.isMentioned(layout.user.getSecondLang())
            span.glyphicon.glyphicon-comment.small-margin.osmbccolor-lang2
            - shown=true
        if !shown
          span.glyphicon.glyphicon-comment.small-margin(style="color:grey")
        if !a.getCommentRead(layout.user.OSMUser)
          span.glyphicon.glyphicon-envelope.small-margin
    a(href="#{layout.htmlroot}/article/#{a.id}")
      span.glyphicon.glyphicon-open.small-margin
    if a.predecessorId && options.predecessorId
      if (a.predecessorId == options.predecessorId)
        span.glyphicon.glyphicon-pushpin.small-margin
      else
        span.glyphicon.glyphicon-stop.small-margin.text-warning


block all