- sizeLabel =2
- sizeInput = 4
- sizeExplanation = 6
- MIXIN_INCLUDE=true


mixin voteButton(vote,article)
  - vb_listVotes = null
  - if (article.votes) vb_listVotes = article.votes[vote.name]
  - vb_numVotes = 0
  - vb_voted = false;
  - if (vb_listVotes) vb_numVotes=vb_listVotes.length;
  - if (vb_listVotes) vb_voted=(vb_listVotes.indexOf(layout.user.OSMUser)>=0)
  - vb_displayClass = "osmbc-btn-not-voted"
  - vb_voteAction = "setVote"
  - vb_voteStyle = ""
  - if (vb_listVotes && vb_listVotes.length>0)  vb_displayClass = "osmbc-btn-voted"
  - if (vb_voted)  {vb_displayClass = "osmbc-btn-voted";vb_voteStyle = "color:"+vote.color+";"}
  - if (vb_voted)  vb_voteAction = "unsetVote"
  button.btn(type="button" class = vb_displayClass onclick="callAndRedraw('/article/" + article.id + "/" + vb_voteAction +"." + vote.name + "','/article/" + article.id +"/votes')" style=vb_voteStyle)
    i(class=vote.iconClass)
    if (!vote.iconClass)
      span=vote.name
    span="  "+vb_numVotes

mixin voteLabel(vote,article)
  - vb_listVotes = null
  - if (article.votes) vb_listVotes = article.votes[vote.name]
  - vb_numVotes = 0
  - vb_voted = false;
  - if (vb_listVotes) vb_numVotes=vb_listVotes.length;
  - if (vb_numVotes === 0) vb_numVotes = " "
  - if (vb_listVotes) vb_voted=(vb_listVotes.indexOf(layout.user.OSMUser)>=0)
  - vb_displayClass = "osmbc-btn-not-voted"
  - vb_voteAction = "setVote"
  - vb_voteStyle = ""
  - if (vb_listVotes && vb_listVotes.length>0)  vb_displayClass = "osmbc-btn-voted"
  - if (vb_voted)  {vb_displayClass = "osmbc-btn-voted";vb_voteStyle = "color:"+vote.color+";"}
  - if (vb_voted)  vb_voteAction = "unsetVote"
  span.label(id = "vote_" + vote.name + "_"  + article.id class = vb_displayClass onclick="callAndRedraw('/article/" + article.id +"/" + vb_voteAction +"." + vote.name +"','/article/" + article.id +"/" + vote.name +"')" style=vb_voteStyle)
    i(class=vote.iconClass)
    if (!vote.iconClass)
      span=vote.name
    span="  "+vb_numVotes


mixin labeledInput(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-" + sizeLabel for=name)=label
        div(class="col-sm-" + sizeInput)
            input.form-control(name=name,id=name,value = value)
        div.text-muted(class="col-sm-" + sizeExplanation)=explanation
mixin labeledSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-" + sizeLabel for=name)=label
        div(class="col-sm-" + sizeInput)
            select(id=name,name=name).form-control
                each v,i in values
                    if (value ==v)
                        option(value=v selected)=displayValues[i]
                    else
                        option(value=v )=displayValues[i]
        div.text-muted(class="col-sm-" + sizeExplanation)=explanation
mixin labeledMultiSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-" + sizeLabel for=name)=label
        div(class="col-sm-" + sizeInput)
            each v,i in values
                if (value.indexOf(v)>=0)
                    label.checkbox-inline
                        input(type="checkbox" value=v name=name id=name +"_" + v checked="checked")
                        |#{displayValues[i]}
                else
                    label.checkbox-inline
                        input(type="checkbox" name=name id=name +"_" + v value=v)
                        |#{displayValues[i]}
        div.text-muted(class="col-sm-" + sizeExplanation)=explanation


mixin labeledText(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-" + sizeLabel for=name)=label
        div(class="col-sm-" + sizeInput)
            input.form-control(name=name,id=name,value = value readonly)
        div.text-muted(class="col-sm-" + sizeExplanation)=explanation



mixin languageDisplay(article,options)
  - langList = layout.activeLanguages
  - onClick = ""
  - if (options && options.short) {
  -  langList = [layout.language];
  -  if (layout.language2) langList.push(layout.language2);
  -  if (layout.language3) langList.push(layout.language3);
  -  if (layout.language4) langList.push(layout.language4);
  - }
  each lang in langList
    - if (options && options.func) onClick = options.func+"('"+lang+"')"
    - var style = ""
    - if (!article.isChangeAllowed("markdown"+lang)) style="color:black"
    if (article && article["markdown" + lang])
        if (article["markdown" + lang] !== "no translation")
            span.label.osmbclabel-markdown(onclick=onClick style=style)=lang
        else
            span.label.osmbclabel-no-translation(onclick=onClick style=style)=lang
    else
      if (article && article.collection)
        span.label.osmbclabel-collect(onclick=onClick style=style)=lang
      else
        span.label.osmbclabel-no-markdown(onclick=onClick style=style)=lang

mixin voteDisplay(article,options)
  each vote in votes
    if (options[vote.name])
      +voteLabel(vote,article)


mixin articleIcons(a,options)
  - numCol = 0;
  - if (a.author && a.author.collection) numCol = a.author.collection.split(",").length;
  - numEd = 0;
  - if (a.author && a.author["markdown"+lang]) numEd = a.author["markdown"+lang].split(",").length;
  if (a.author && options.showNumbers)
    span.hidden-xs.label.osmbclabel-collect.small-margin=numCol
    span.hidden-xs.label.osmbclabel-markdown.small-margin=numEd
  if options.showMail
    if a.getCommentMention()
      - shown = false
      if a.isMentioned(layout.user.OSMUser)
          span.glyphicon.glyphicon-comment.small-margin.osmbccolor-user
          - shown=true
      if a.isMentioned(layout.user.getMainLang())
          span.glyphicon.glyphicon-comment.small-margin.osmbccolor-lang
          - shown=true
      if layout.user.getSecondLang() && a.isMentioned(layout.user.getSecondLang())
          span.glyphicon.glyphicon-comment.small-margin.osmbccolor-lang2
          - shown=true
      if !shown
        span.glyphicon.glyphicon-comment.small-margin(style="color:grey")
      if !a.getCommentRead(layout.user.OSMUser)
        span.glyphicon.glyphicon-envelope.small-margin
  a(href=layout.htmlroot+"/article/" + a.id)
    span.glyphicon.glyphicon-open.small-margin
  if a.predecessorId
    if (a.predecessorId === options.predecessorId)
      span.hidden-xs.glyphicon.glyphicon-pushpin.small-margin
    else
      span.hidden-xs.glyphicon.glyphicon-stop.small-margin.text-warning


mixin navbutton(tab,activetab,addClass)
  if (tab == activetab)
    li.active(class=addClass):  a(href=layout.htmlroot+"/blog/" + blog.name + "/" + tab)=tab
  else
    li(class=addClass):  a(href=layout.htmlroot+"/blog/" + blog.name +"/"+ tab)=tab


mixin articleIconLegend(view)
  h2="Symbol Legend"
  p
    span.label.osmbclabel-collect.small-margin="X"
    span=" = number of collectors "
  p
    span.label.osmbclabel-collect.small-margin="username"
    span=" = collector of article "
  p
    span.label.osmbclabel-markdown.small-margin="X"
    span=" = number of editors in shown language"
  p
    span.label.osmbclabel-markdown.small-margin="username"
    span=" = Editor of article"
  p
    span.glyphicon.glyphicon-comment.small-margin(style="color:blue")
    span=" = there is a comment in the article"
  p
    span.glyphicon.glyphicon-comment.small-margin(style="color:red")
    span=" = there is a comment with personal mention in the article"
  p
    span.glyphicon.glyphicon-comment.small-margin(style="color:orange")
    span=" = there is a comment with language mention in the article"
  p
    a(href="#" target="_blank")
      span.glyphicon.glyphicon-open.small-margin
    span=" open the article in a new tab"
  p
    span.glyphicon.glyphicon-pushpin.small-margin
    span=" this article is successfully linked to predecessor"
  p
    span.glyphicon.glyphicon-stop.small-margin.text-warning
    span=" this article contains a non working predecessor link."
  p
    span="(*)"
    span=" Number of unsolved comments for a language (ignoring no translation comments)"
  h2="Filter Explanation"
  h4="Disable Written Articles"
  p
    |This filter disables all articles, that have already a text in the main (=left) language.
    |Use this filter to come quick to the articles, that needs to be written to be published.
  h4="Disable More Actual Edits"
  p
    |This filter disables all articles, where the markdown on the left hand is newer than the markdown on the right hand.
    |Use this, to check wether there are relevant changes in the markdown on the right column during translation.
  h4="Disable Own Collections"
  p
    |Use this to disable all collections, where you have contributed to.
  h4="Disable Other Collections"
  p
    |This can be used to focus on your own collections, so that you can easily add your
    |Ideas from collection process.



mixin userConfigOption(view,option,variable,userdesc)
  span(style="white-space: nowrap")
    if variable
      span.glyphicon.glyphicon-check(name="choose_"+option,onclick=`location.href="${layout.htmlroot}/userconfig?view=${view}&option=${option}&value=false";`)
    else
      span.glyphicon.glyphicon-unchecked(name="choose_"+option,onclick=`location.href="${layout.htmlroot}/userconfig?view=${view}&option=${option}&value=true";`)
    span=userdesc



mixin blogSelection(list,missingList,blogtype,readonly)
  for blog in list
    if article && blog.name == article.blog
      option(value=blog.name selected) #{blog.name} #{blogtype}
      - missingList.splice(0,missingList.length)
    else
      option(value=blog.name disabled=readonly) #{blog.name} #{blogtype}

mixin blogSelector(article,readonly)
    - if (readonly !== true) readonly = false
    select(id="blog",name="blog" ).form-control.af
      - var missingList = []
      - if (article) missingList = [{name:article.blog}]
      +blogSelection(layout.listOfOpenBlog,missingList,"",readonly)
      if (layout.user.access === "full")
        +blogSelection(layout.listOfEditBlog,missingList,"(Edit)",readonly)
        +blogSelection(layout.listOfReviewBlog,missingList,"(Review "+layout.language+")",readonly)
      +blogSelection([{name: "Future"}],missingList,"",readonly)
      if (article && article.categoryEN === "--unpublished--")
        +blogSelection([{name: "Trash"}],missingList,"",readonly)
      if layout.appName == "TheFiveBC"
        +blogSelection([{name: "TBC"}],missingList,"",readonly)
      +blogSelection(missingList,missingList,"",readonly)

mixin voteButtonList(votes)
  for vote,i in votes
    if (vote.displayAtTop)
      +voteButton(vote,article)

mixin blogStatusTable(blogWithLink)
  table.table.table-condensed
    tr
      td=""
      for l in layout.activeLanguages
        td=l

    for openBlog in layout.listOfOpenBlog.slice(0).reverse()
      tr
        if (blogWithLink)
          td
            a(href=layout.htmlroot+'/blog/' + openBlog.name)=openBlog.name
        else
          td=openBlog.name
        for l in layout.activeLanguages
          td
            div.label.osmbclabel-openblog=openBlog._countUneditedMarkdown[l]

    for editBlog in layout.editBlog.slice(0).reverse()
      tr
        if (blogWithLink)
          td
            a(href=layout.htmlroot+'/blog/' + editBlog.name)=editBlog.name
        else
          td=editBlog.name
        for l in layout.activeLanguages
          td
            if (editBlog["close" + l])
              div.label.osmbclabel-closedblog
                span.glyphicon.glyphicon-ok
            else if (editBlog["reviewComment" + l])
              div.label.osmbclabel-reviewblog=(editBlog["reviewComment" + l].length - 1)
            else
              div.label.osmbclabel-editblog=editBlog._countUneditedMarkdown[l]
