- sizeLabel =2
- sizeInput = 4
- sizeExplanation = 6
- MIXIN_INCLUDE=true


mixin voteButton(vote,article)
  - vb_listVotes = null
  - if (article.votes) vb_listVotes = article.votes[vote.name]
  - vb_numVotes = 0
  - vb_voted = false;
  - if (vb_listVotes) vb_numVotes=vb_listVotes.length;
  - if (vb_listVotes) vb_voted=(vb_listVotes.indexOf(layout.user.OSMUser)>=0)
  - vb_displayClass = "osmbc-btn-not-voted"
  - vb_voteAction = "setVote"
  - vb_voteStyle = ""
  - if (vb_listVotes && vb_listVotes.length>0)  vb_displayClass = "osmbc-btn-voted"
  - if (vb_voted)  {vb_displayClass = "osmbc-btn-voted";vb_voteStyle = "color:"+vote.color+";"}
  - if (vb_voted)  vb_voteAction = "unsetVote"
  button.btn(type="button" class = vb_displayClass onclick="callAndRedraw('/article/" + article.id + "/" + vb_voteAction +"." + vote.name + "','/article/" + article.id +"/votes')" style=vb_voteStyle)
    i(class=vote.iconClass)
    if (!vote.iconClass)
      span=vote.name
    span="  "+vb_numVotes

mixin voteLabel(vote,article)
  - vb_listVotes = null
  - if (article.votes) vb_listVotes = article.votes[vote.name]
  - vb_numVotes = 0
  - vb_voted = false;
  - if (vb_listVotes) vb_numVotes=vb_listVotes.length;
  - if (vb_numVotes === 0) vb_numVotes = " "
  - if (vb_listVotes) vb_voted=(vb_listVotes.indexOf(layout.user.OSMUser)>=0)
  - vb_displayClass = "osmbc-btn-not-voted"
  - vb_voteAction = "setVote"
  - vb_voteStyle = ""
  - if (vb_listVotes && vb_listVotes.length>0)  vb_displayClass = "osmbc-btn-voted"
  - if (vb_voted)  {vb_displayClass = "osmbc-btn-voted";vb_voteStyle = "color:"+vote.color+";"}
  - if (vb_voted)  vb_voteAction = "unsetVote"
  span.badge(id = "vote_" + vote.name + "_"  + article.id class = vb_displayClass onclick="callAndRedraw('/article/" + article.id +"/" + vb_voteAction +"." + vote.name +"','/article/" + article.id +"/" + vote.name +"')" style=vb_voteStyle)
    i(class=vote.iconClass)
    if (!vote.iconClass)
      span=vote.name
    span="  "+vb_numVotes


mixin labeledInput(label,name,value,explanation)
  - if (!value) value =""
  div.row.mb-3
    label.col.col-form-label(for=name)=label
    input.col-5.form-control(name=name,id=name,value = value)
    label.col.d-none.d-md-block.form-text=explanation

mixin labeledSelect(label,name,value,values,displayValues,explanation)
  - if (!value) value =""
  div.row.mb-3
    label.col.col-form-label(for=name)=label
    select.col-5(id=name,name=name).form-control
      each v,i in values
          if (value ==v)
              option(value=v selected)=displayValues[i]
          else
              option(value=v )=displayValues[i]
                  
    label.col.d-none.d-md-block.form-text=explanation

mixin labeledMultiSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.row.mb-3
      label.col.col-form-label(for=name)=label
    
      select.col-5.selectpicker(name=name multiple)
        each v,i in values
          if (value.indexOf(v)>=0)
              option(selected id = name + "_" + v value = v)=displayValues[i]
          else 
              option(id = name + "_" + v value = v)=displayValues[i]
      label.col.d-none.d-md-block.form-text=explanation


mixin labeledText(label,name,value,explanation)
    - if (!value) value =""
    div.row.mb-3
      label.col.col-form-label( for=name)=label
      input.col-5.form-control(name=name,id=name,value = value readonly)
      label.col.d-none.d-md-block.form-text=explanation



mixin languageDisplay(article,options)
  div.d-flex.flex-nowrap
    - langList = layout.activeLanguages
    - onClick = ""
    - if (options && options.short) {
    -  langList = layout.user.getLanguages()
    - }
    each lang in langList
      - if (options && options.func) onClick = options.func+"('"+lang+"')"
      - var style = ""
      - if (!article.isChangeAllowed("markdown"+lang)) style="color:black"
      if (article && article["markdown" + lang])
          if (article["markdown" + lang] !== "no translation")
              span.badge.osmbclabel-markdown(onclick=onClick style=style)=lang
          else
              span.badge.osmbclabel-no-translation(onclick=onClick style=style)=lang
      else
        if (article && article.collection)
          span.badge.osmbclabel-collect(onclick=onClick style=style)=lang
        else
          span.badge.osmbclabel-no-markdown(onclick=onClick style=style)=lang

mixin voteDisplay(article,options)
  div.d-flex.flex-nowrap
    each vote in votes
      if (options[vote.name])
        +voteLabel(vote ,article)


mixin articleIcons(a,options)
  div.d-flex.flex-nowrap
    - numCol = 0;
    - if (a.author && a.author.collection) numCol = a.author.collection.split(",").length;
    - numEd = 0;
    - if (a.author && a.author["markdown"+lang]) numEd = a.author["markdown"+lang].split(",").length;
    if (a.author && options.showNumbers)
      span.hidden-xs.badge.osmbclabel-collect.small-margin=numCol
      span.hidden-xs.badge.osmbclabel-markdown.small-margin=numEd
    if options.showMail
      if a.getCommentMention()
        - shown = false
        if a.isMentioned(layout.user.OSMUser)
            i.fa.fa-comment.small-margin.osmbccolor-user
            - shown=true
        if a.isMentioned(layout.user.getMainLang())
            i.fa.fa-comment.small-margin.osmbccolor-lang
            - shown=true
        if layout.user.getSecondLang() && a.isMentioned(layout.user.getSecondLang())
            i.fa.fa-comment.small-margin.osmbccolor-lang2
            - shown=true
        if !shown
          i.fa.fa-comment.small-margin(style="color:grey")
        if !a.getCommentRead(layout.user.OSMUser)
          i.fa.fa-envelope.small-margin
    a(href=layout.htmlroot+"/article/" + a.id)
      i.fa.fa-edit.small-margin
    if a.predecessorId
      if (a.predecessorId === options.predecessorId)
        span.hidden-xs.fa.fa-thumbtack.small-margin
      else
        span.hidden-xs.fa.fa-stop.small-margin.text-warning


mixin navbutton(tab,activetab,addClass)
  if (tab == activetab)
    li.nav-item(class=addClass)
      a.nav-link.active(href=layout.htmlroot+"/blog/" + blog.name + "/" + tab)=tab
  else
    li.nav-item(class=addClass)
      a.nav-link(href=layout.htmlroot+"/blog/" + blog.name +"/"+ tab)=tab


mixin articleIconLegend(view)
  h2="Symbol Legend"
  p
    span.badge.osmbclabel-collect.small-margin="X"
    span=" = number of collectors "
  p
    span.badge.osmbclabel-collect.small-margin="username"
    span=" = collector of article "
  p
    span.badge.osmbclabel-markdown.small-margin="X"
    span=" = number of editors in shown language"
  p
    span.badge.osmbclabel-markdown.small-margin="username"
    span=" = Editor of article"
  p
    i.fa.fa-comment.small-margin(style="color:blue")
    span=" = there is a comment in the article"
  p
    i.fa.fa-comment.small-margin(style="color:red")
    span=" = there is a comment with personal mention in the article"
  p
    i.fa.fa-comment.small-margin(style="color:orange")
    span=" = there is a comment with language mention in the article"
  p
    a(href="#" target="_blank")
      i.fa.fa-edit.small-margin
    span=" open the article in a new tab"
  p
    i.fa.fa-thumbtack.small-margin
    span=" this article is successfully linked to predecessor"
  p
    i.fa.fa-stop.small-margin.text-warning
    span=" this article contains a non working predecessor link."
  p
    span="(*)"
    span=" Number of unsolved comments for a language (ignoring no translation comments)"
  h2="Filter Explanation"
  h4="Disable Written Articles"
  p
    |This filter disables all articles, that have already a text in the main (=left) language.
    |Use this filter to come quick to the articles, that needs to be written to be published.
  h4="Disable More Actual Edits"
  p
    |This filter disables all articles, where the markdown on the left hand is newer than the markdown on the right hand.
    |Use this, to check wether there are relevant changes in the markdown on the right column during translation.
  h4="Disable Own Collections"
  p
    |Use this to disable all collections, where you have contributed to.
  h4="Disable Other Collections"
  p
    |This can be used to focus on your own collections, so that you can easily add your
    |Ideas from collection process.



mixin userConfigOption(view,option,variable,userdesc)
  span(style="white-space: nowrap")
    if variable
      div.form-group.form-check(name="choose_"+option,onclick=`window.setUserConfig({view:'${view}',option:'${option}',value:'false'});`)
        input.form-check-input#exampleCheck1(type="checkbox" checked)
        label.form-check-label(for="exampleCheck1")=userdesc
    else
      div.form-group.form-check(name="choose_"+option,onclick=`window.setUserConfig({view:'${view}',option:'${option}',value:'true'});`)
        input.form-check-input#exampleCheck1(type="checkbox" )
        label.form-check-label(for="exampleCheck1")=userdesc
    



mixin blogSelection(list,missingList,blogtype,readonly)
  for blog in list
    if article && blog.name == article.blog
      option(value=blog.name selected) #{blog.name} #{blogtype}
      - missingList.splice(0,missingList.length)
    else
      option(value=blog.name disabled=readonly) #{blog.name} #{blogtype}

mixin blogSelector(article,readonly)
    - if (readonly !== true) readonly = false
    select(id="blog",name="blog" ).form-control.af
      - var missingList = []
      - if (article) missingList = [{name:article.blog}]
      +blogSelection(layout.listOfOpenBlog,missingList,"",readonly)
      if (layout.user.access === "full")
        +blogSelection(layout.listOfEditBlog,missingList,"(Edit)",readonly)
        +blogSelection(layout.listOfReviewBlog,missingList,"(Review "+layout.user.getLang(0)+")",readonly)
      +blogSelection([{name: "Future"}],missingList,"",readonly)
      if (article && article.categoryEN === "--unpublished--")
        +blogSelection([{name: "Trash"}],missingList,"",readonly)
      if layout.appName == "TheFiveBC"
        +blogSelection([{name: "TBC"}],missingList,"",readonly)
      +blogSelection(missingList,missingList,"",readonly)

mixin voteButtonList(votes)
  for vote,i in votes
    if (vote.displayAtTop)
      +voteButton(vote,article)

mixin blogStatusTable(blogWithLink)
  table.table.table-sm
    tr
      td=""
      for l in layout.activeLanguages
        td=l

    for openBlog in layout.listOfOpenBlog.slice(0).reverse()
      tr
        if (blogWithLink)
          td
            a(href=layout.htmlroot+'/blog/' + openBlog.name)=openBlog.name
        else
          td=openBlog.name
        for l in layout.activeLanguages
          td
            div.badge.osmbclabel-openblog=openBlog._countUneditedMarkdown[l]

    for editBlog in layout.editBlog.slice(0).reverse()
      tr
        if (blogWithLink)
          td
            a(href=layout.htmlroot+'/blog/' + editBlog.name)=editBlog.name
        else
          td=editBlog.name
        for l in layout.activeLanguages
          td
            if (editBlog["close" + l])
              div.badge.osmbclabel-closedblog
                i.fa.fa-check
            else if (editBlog["reviewComment" + l])
              div.badge.osmbclabel-reviewblog=(editBlog["reviewComment" + l].length - 1)
            else
              div.badge.osmbclabel-editblog=editBlog._countUneditedMarkdown[l]
              
mixin helpMenu
  li.dropdown.nav-item
    a.nav-link.dropdown-toggle#helpDropdown(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false")
      | Help
    div.dropdown-menu(aria-labelledby="helpDropdown")
      a.dropdown-header OSMBC
      if (layout)
        a.dropdown-item(href="https://github.com/TheFive/osmbc/blob/master/CHANGELOG.md")="Version "+layout.osmbc_version
      a.dropdown-item(href="https://osmbc.openstreetmap.de/osmww/wiki/OSMBC-Help") Help
      div.dropdown-divider
      a.dropdown-header WeeklyOSM & Wochennotiz
      a.dropdown-item(href="https://osmbc.openstreetmap.de/osmww/wiki/Vision-%26-Rules") Vision & Rules
      a.dropdown-item(href="https://osmbc.openstreetmap.de/osmww/wiki/Editorial-Meeting") Editorial Meetings
      a.dropdown-item(href="http://wiki.openstreetmap.org/wiki/Wochennotiz") Wochennotiz in OSM Wiki
      a.dropdown-item(href="http://wiki.openstreetmap.org/wiki/WeeklyOSM") Weekly in OSM Wiki
      a.dropdown-item(href="https://framacalc.org/WN_DEnglisch") Glossary
      
mixin homeButton(addclass)
  if !layout || layout.osmbc_version === layout.user.lastChangeLogView
    a(href=htmlroot+'/osmbc.html' class=addclass)=appName
  else
    a.bg-success(href=layout.htmlroot+'/changelog' class=addclass) What's New?
    
mixin langChooser(langString)
  if (layout)
    - let l = 0
    - let label = "osmbcbadge-lang"
    if (langString === "lang2")
      - l = 1
      - label = "osmbcbadge-lang2"
    - let langNumber = parseInt(langString.substr(4,2))    
    if (langNumber > 2)
      - l = langNumber -1
      - label = "badge-secondary"
      

    li.dropdown.nav-item
      - lang_temp = (layout.user.getLang(l))?layout.user.getLang(l):"--"
      - label_temp = "language" + ((langNumber > 0 ) ? langNumber : "")
      a.nav-link.dropdown-toggle(id=label_temp, class=label, href='#', style="color:white", data-toggle='dropdown',aria-haspopup="true",aria-expanded="false")=lang_temp
      div.dropdown-menu(aria-labelledby=label_temp)
        if (langString !== "lang")
          a.dropdown-item(id=langString+"_none" onclick = "chooseLanguage('" + langString +"','none')" ) none
        each litem in layout.languages
          if layout.usedLanguages[litem]
            a.dropdown-item(id=langString+"_"+litem onclick = "chooseLanguage('" + langString +"','" + litem +"')")=litem 
          
mixin userAvatar
  if layout && layout.user
    li
      img(src=layout.user.getAvatar() onclick="location.href='" + layout.htmlroot + "/usert/" + layout.user.id + "';" style="height:40px;width:40px")
  else
    li
      a(href='./') Anonymous
      
      
      
