- sizeLabel =2
- sizeInput = 4
- sizeExplanation = 6


mixin labeledInput(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            input.form-control(name="#{name}",id="#{name}",value = "#{value}")
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            select(id="#{name}",name="#{name}").form-control
                each v,i in values
                    if (value ==v)
                        option(value="#{v}" selected) #{displayValues[i]}
                    else
                        option(value="#{v}" ) #{displayValues[i]}
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledMultiSelect(label,name,value,values,displayValues,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            each v,i in values
                if (value.indexOf(v)>=0)
                    label.checkbox-inline
                        input(type="checkbox" value="#{v}" name="#{name}" checked="checked")
                        |#{displayValues[i]}
                else
                    label.checkbox-inline
                        input(type="checkbox" name="#{name}" value="#{v}")
                        |#{displayValues[i]}
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation
mixin labeledText(label,name,value,explanation)
    - if (!value) value =""
    div.form-group
        label.control-label(class="col-sm-#{sizeLabel}" for="#{name}")=label
        div(class="col-sm-#{sizeInput}")
            input.form-control(name="#{name}",id="#{name}",value = "#{value}" readonly)
        div.text-muted(class="col-sm-#{sizeExplanation}")=explanation


block all