extends layout


block content

  if warning
    each w in warning
      .alert.alert-dismissable.alert-danger
        button.close( type="button", data-dismiss="alert" ) ×
        |#{w}
    
  h1
    | Generate OSMBC Picture Markdown
  p
    | An <b>experimental</b> tool for generating pictures for OSMBC. 
    | It takes a picture, checking it on size, resizes it to 800px, and puts
    | some warnings, regarding size and location.
    | If the picture is under a license, please put it in. CC0 and CC3 are with reference to their license and allow a markdown reference to the author.

  form(name="input", action=layout.htmlroot+"/tool/picturetool", method="post")
    div.form-horizontal(role="form")
      - sizeLabel =2
      - sizeInput = 6
      - sizeExplanation = 4
      - licenseLangs = ["DE","EN"]
      - licensesList = ["CC0","CC3","OSMMAP"]
      +labeledSelect("Language","pictureLanguage",pictureLanguage,licenseLangs,licenseLangs,"Choose Language for License Reference")
      +labeledInput("Alternative Text","pictureAText",pictureAText,"Alt Text used for browsers without picture display")
      +labeledInput("Picture URL","pictureURL",pictureURL,"URL of the picture for the blog.")
      +labeledInput("Subtitle Markup","pictureMarkup",pictureMarkup,"Markup for the subtitle of the picture.")
      +labeledSelect("License","pictureLicense",pictureLicense,licensesList,licensesList,"Under which license is the picture published ?")
      +labeledInput("Picture Author (MD)","pictureAuthor",pictureAuthor,"Markdown text for the author name.")
      input(type="submit", class="btn btn-primary",value="OK")


  h3
    | Markdown, for Copy
  textarea(id="markdown" rows=5 cols=500 style="font-family:monospace")=genMarkup
  h3
    | Preview
    div#preview
      |!{preview}
 

block scripts                
  script(src=layout.path("markdown-it")+'/markdown-it.min.js')



   
   


