extends layout




block content

  if (reload)
    meta(http-equiv="refresh" content="2" )

  h1="Display Script Results"
  h2=file
  if (reload)
    pre(style="background-color:black;color:white;")=text
    p="Please wait, Script is running ..."
  else
    pre=text
    a(href=layout.htmlroot + "/tool/scripts/log")="All Script Results"


  