extends layout




block content

  row
    div
      table.table.table-striped.table-responsive
        thead
          tr 
            th
              | Name
            th 
              | OSM
            th
              | WNAuthor
            th
              | OSMBC
            td
              | Email
            th
              | Collection
            th
              | AllComment
            th
              | Comment
            th
              | Status
            th
              | Language
            th
              | access
            th
              | lastAccess

        tbody
          each user in users
            tr
              td
                if (user.OSMUser  && user.OSMUser != '')
                  a(href='#{layout.htmlroot}/usert/#{user.id}') #{user.OSMUser}
                else 
                  a(href='#{layout.htmlroot}/usert/#{user.id}') Missing Name
              td
                 a(href='http://www.openstreetmap.org/user/#{user.OSMUser}') [OSM]
              td
                if user.WNAuthor
                 a(href='https://blog.openstreetmap.de/blog/author/#{user.WNAuthor}') #{(user.WNPublicAuthor)?user.WNPublicAuthor:user.WNAuthor}
              td
                a(href='#{layout.htmlroot}/changes/log?user=#{user.OSMUser}') logs
              td
                if user.email
                  span.glyphicon.glyphicon-ok
                else if user.emailInvalidation
                  span.glyphicon.glyphicon-question-sign
              td
                if user.mailNewCollection==="true" && user.email
                  span.glyphicon.glyphicon-ok
                else
                  p=" "
              td
                if user.mailAllComment==="true" && user.email
                  span.glyphicon.glyphicon-ok
                else
                  p=" "
              td= (user.email)?user.mailComment:""
              td= (user.email)?user.mailBlogLanguageStatusChange:""



              td= user.language
              td= user.access
              if (user.lastAccess)
                td= layout.moment(user.lastAccess).fromNow()
              else 
                td
                  | Never



  