extends layout




block content

  row
    div
      table.table.table-striped.table-responsive
        thead
          tr 
            th
              | Name
            th 
              | OSM
            th
              | WNAuthor
            th
              | Language
            th
              | access
            th
              | lastAccess

        tbody
          each user in users
            tr
              td
                if (user.OSMUser  && user.OSMUser != '')
                  a(href='#{layout.htmlroot}/usert/#{user.id}') #{user.OSMUser}
                else 
                  a(href='#{layout.htmlroot}/usert/#{user.id}') Missing Name
              td
                 a(href='http://www.openstreetmap.org/user/#{user.OSMUser}') [OSM]
              td
                if user.WNAuthor
                 a(href='https://blog.openstreetmap.de/blog/author/#{user.WNAuthor}') [WNAuthor]

              td= user.language
              td= user.access
              if (user.lastAccess)
                td= layout.moment(user.lastAccess).fromNow()
              else 
                td
                  | Never



  