extends layout




block content

  row
    div
      table.table.table-striped
        thead
          tr 
            th
              | Name
            th
              | access
            th
              | lastAccess

        tbody
          each user in users
            tr
              td
                if (user.OSMUser  && user.OSMUser != '')
                  a(href='#{layout.htmlroot}/usert/#{user.id}') #{user.OSMUser}
                else 
                  a(href='#{layout.htmlroot}/usert/#{user.id}') Missing Name

              td= user.access
              if (user.lastAccess)
                td= layout.moment(user.lastAccess).fromNow()
              else 
                td
                  | Never



  