extends layout

mixin labeledInput(label,name,value,explanation)
  - if (!value) value =""
  div.form-group
    label.control-label.col-sm-2(for="#{name}")=label
    div.col-sm-4
      input.form-control(name="#{name}",id="#{name}",value = "#{value}")
    div.col-sm-6.text-muted
      |#{explanation}
mixin labeledSelect(label,name,value,values,displayValues,explanation)
  - if (!value) value =""
  div.form-group
    label.control-label.col-sm-2(for="#{name}")=label
    div.col-sm-4
      select(id="#{name}",name="#{name}").form-control
        each v,i in values
          if (value ==v)
            option(value="#{v}" selected) #{displayValues[i]}
          else
            option(value="#{v}" ) #{displayValues[i]}
    div.col-sm-6.text-muted=explanation
mixin labeledMultiSelect(label,name,value,values,displayValues,explanation)
  - if (!value) value =""
  div.form-group
    label.control-label.col-sm-2(for="#{name}")=label
    div.col-sm-4
      each v,i in values
        if (value.indexOf(v)>=0)
          label.checkbox-inline
            input(type="checkbox" value="#{v}" name="#{name}" checked="checked") 
            |#{displayValues[i]}
        else
          label.checkbox-inline
            input(type="checkbox" name="#{name}" value="#{v}") 
            |#{displayValues[i]}
    div.col-sm-6.text-muted=explanation
     


block content
  h1
    |Edit OSMBC User
  form(name="input", action="#{layout.htmlroot}/usert/#{usershown.id}", method="post")
    div.form-horizontal(role="form")
      +labeledInput("OSMUser","OSMUser",usershown.OSMUser,"The OpenStreetMap user name")
      +labeledInput("EMail","email",usershown.email,"This mail is used for information about changes.")

      if (usershown.emailInvalidation)
        div.form-group
          div.col-sm-offset-2.col-sm-4
            p
              span
                |Waiting for validation of EMail 
              span.bg-info=usershown.emailInvalidation
          div.col-sm-6
            button.btn.btn-default(onclick="javascript:window.document.getElementById('email').value='resend';document.input.submit()") resend
          

      +labeledInput("WNAuthor","WNAuthor",usershown.WNAuthor,"WP user for the Wochennotiz Blog blog.openstreetmap.de")
      if (usershown.WNPublicAuthor)
        div.col-sm-offset-2.col-sm-10
          p
            | Public Author name is: #{usershown.WNPublicAuthor}



      +labeledSelect("Language",
                    "language",
                     usershown.language,
                     langlist,
                     langlist,
                     "Main Language for the user, used for default values.")
      +labeledSelect("Access",
                     "access",
                     usershown.access,
                     ["full","read","denied"],
                     ["full","read (not implemented yet)","denied"],
                     "Define Users Access to OSMBC")
      +labeledSelect("Mail a new Collection",
                     "mailNewCollection",
                     usershown.mailNewCollection,
                     ["true","false"],
                     ["on","off"],
                     "Send a mail for every new Collect.")
      +labeledSelect("Mail All Comments",
                     "mailAllComment",
                     usershown.mailAllComment,
                     ["true","false"],
                     ["on","off"],
                     "Send a mail for every change of a comment.")

    
      - var langlistWithUser = langlist.concat(usershown.OSMUser)

      +labeledMultiSelect("Mail defined comments",
                     "mailComment",
                     usershown.mailComment,
                     langlistWithUser,
                     langlistWithUser,
                     "Please check comments you are interested in.")
      +labeledMultiSelect("Mail Status Change",
                     "mailBlogLanguageStatusChange",
                     usershown.mailBlogLanguageStatusChange,
                     langlist,
                     langlist,
                     "Please choose your languagues of your interest for status information")

 





      form-group
        div.col-sm-offset-2.col-sm-10
          input(type="submit", class="btn btn-primary",value="OK")

    

    
      
    

   
  .row
    if changes
      h2
        | History
      div
        table.table.table-striped.table-responsive
          thead
            tr 
              th
               | id
              th
               | user
              th
               | what
              th
               | from
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) #{change.id} 
                td= change.user
                td= change.property
                td= layout.util.shorten(change.from)
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 
                





