extends layout




block content


  p
    if usershown.lock
      .alert.alert-dismissable.alert-info
        button.close( type="button", data-dismiss="alert" ) ×
        | #{usershown.lock.user} edits since #{layout.moment(usershown.lock.timestamp).fromNow()} Version #{user.version}
    if info
      if info.message
        if info.status == 'error'
          .alert.alert-dismissable.alert-danger
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
        if info.status == 'message'
          .alert.alert-dismissable.alert-success
            button.close( type="button", data-dismiss="alert" ) ×
            | #{info.message}
  

          
    if (params && params.edit) 
      form(name="input", action="#{layout.htmlroot}/usert/#{usershown.id}", method="post")
        .row
          .col-md-2
            | OSM Name 
          .col-md-3
            textarea.form-control(name="OSMUser",rows=1) #{usershown.OSMUser}

          .col-md-1
            input(type="submit", class="btn btn-primary",value="OK")
            a(href="#{layout.htmlroot}/usert/#{usershown.id}?edit=false" class="btn btn-default" role="button") Cancel


        .row
          .col-md-2
            | Access
          .col-md-5
            select(id="access",name="access").form-control
              option(value="#{usershown.access}" selected) #{usershown.access+'(*)'}
                option(value="full" ) full
                option(value="read" ) only collected Article (not implemented)
                option(value="denied" ) denied
        .row
          .col-md-2
            | Blog Config 0
          .col-md-3
            select(id="blogSetting0",name="blogSetting0").form-control
              option(value="#{usershown.blogSetting0}" selected) #{usershown.blogSetting0} (*)
              each setting in settings
                option(value="#{setting}" ) #{setting}
          .col-md-3
            select(id="blogLanguages0",name="blogLanguages0").form-control
              option(value="#{usershown.blogLanguages0}" selected) #{usershown.blogLanguages0} (*)
              each lang in languages
                option(value="#{lang}" ) #{lang}
        .row
          .col-md-2
            | Blog Config 1
          .col-md-3
            select(id="blogSetting1",name="blogSetting1").form-control
              option(value="#{usershown.blogSetting1}" selected) #{usershown.blogSetting1} (*)
              each setting in settings
                option(value="#{setting}" ) #{setting}
          .col-md-3
            select(id="blogLanguages1",name="blogLanguages1").form-control
              option(value="#{usershown.blogLanguages1}" selected) #{usershown.blogLanguages1} (*)
              each lang in languages
                option(value="#{lang}" ) #{lang}
        .row
          .col-md-2
            | Blog Config 2
          .col-md-3
            select(id="blogSetting2",name="blogSetting2").form-control
              option(value="#{usershown.blogSetting2}" selected) #{usershown.blogSetting2} (*)
              each setting in settings
                option(value="#{setting}" ) #{setting}
          .col-md-3
            select(id="blogLanguages2",name="blogLanguages2").form-control
              option(value="#{usershown.blogLanguages2}" selected) #{usershown.blogLanguages2} (*)
              each lang in languages
                option(value="#{lang}" ) #{lang}
        .row
          .col-md-2
            | Blog Config 3
          .col-md-3
            select(id="blogSetting3",name="blogSetting3").form-control
              option(value="#{usershown.blogSetting3}" selected) #{usershown.blogSetting3} (*)
              each setting in settings
                option(value="#{setting}" ) #{setting}
          .col-md-3
            select(id="blogLanguages3",name="blogLanguages3").form-control
              option(value="#{usershown.blogLanguages3}" selected) #{usershown.blogLanguages3} (*)
              each lang in languages
                option(value="#{lang}" ) #{lang}     
        .row
          .col-md-2
            | Blog Config 4
          .col-md-3
            select(id="blogSetting4",name="blogSetting4").form-control
              option(value="#{usershown.blogSetting4}" selected) #{usershown.blogSetting4} (*)
              each setting in settings
                option(value="#{setting}" ) #{setting}
          .col-md-3
            select(id="blogLanguages4",name="blogLanguages4").form-control
              option(value="#{usershown.blogLanguages4}" selected) #{usershown.blogLanguages4} (*)
              each lang in languages
                option(value="#{lang}" ) #{lang}
     

                
      

    else
     .row
        .col-md-2
          | OSM Name <br>
        .col-md-4
          h2
            | #{usershown.OSMUser}
        .col-md-5
        .col-md-1
          a(href="#{layout.htmlroot}/usert/#{usershown.id}?edit=true" class="btn btn-primary" role="button") Edit
      .row
        .col-md-2
          | Access <br>
        .col-md-5
          h2
            | #{usershown.access}
      .row
        .col-md-2
          | OSM <br>
        .col-md-5
          p
            a(href='http://www.openstreetmap.org/user/#{usershown.OSMUser}') #{usershown.OSMUser}
      .row
        .col-md-2
          | blog Config 0
        .col-md-5
          | #{usershown.blogSetting0 + usershown.blogLanguages0}
      .row
        .col-md-2
          | blog Config 1
        .col-md-5
          | #{usershown.blogSetting1 + usershown.blogLanguages1}
      .row
        .col-md-2
          | blog Config 2
        .col-md-5
          | #{usershown.blogSetting2 + usershown.blogLanguages2}
      .row
        .col-md-2
          | blog Config 3
        .col-md-5
          | #{usershown.blogSetting3 + usershown.blogLanguages3}
      .row
        .col-md-2
          | blog Config 4
        .col-md-5
          | #{usershown.blogSetting4 + usershown.blogLanguages4}
   
  .row
    if changes
      h2
        | History
      div
        table.table.table-striped.table-responsive
          thead
            tr 
              th
               | id
              th
               | user
              th
               | what
              th
               | from
              th
               |  to
              th
               | when
           tbody
            each change, i in changes
              tr
                td
                  a(href='#{layout.htmlroot}/changes/' + change.id) #{change.id} 
                td= change.user
                td= change.property
                td= layout.util.shorten(change.from)
                td= layout.util.shorten(change.to)
                td= layout.moment(change.timestamp).fromNow() 
                





