extends adminlayout




block content

  h1="Edit OSMBC User "+ usershown.OSMUser
  if (usershown.temporaryGuest === true)
    h1
      .badge.badge-secondary="You are testing guest feature"
  form(name="input", action=`${layout.htmlroot}/usert/${usershown.id}`, method="post")
      +labeledInput("OSMUser","OSMUser",usershown.OSMUser,"The OpenStreetMap user name")
      +labeledInput("EMail","email",usershown.email,"This mail is used for information about changes. To delete the email just submit a space for this field.")

      if (usershown.emailInvalidation)
        div.form-group
          div.col-sm-offset-2.col-sm-4
            p
              span
                |Waiting for validation of EMail
              span.bg-info=usershown.emailInvalidation
          div.col-sm-6
            button.btn.btn-secondary(onclick="javascript:window.document.getElementById('email').value='resend';document.input.submit()") resend
            button.btn.btn-secondary(onclick="javascript:window.document.getElementById('email').value='none';document.input.submit()") delete email




      +labeledSelect("Language",
                    "language",
                     usershown.language,
                     langlist,
                     langlist,
                     "Main Language for the user, used for default values.")









      form-group
        div.col-sm-offset-2.col-sm-10
          input(name="OK" type="submit", class="btn btn-primary",value="OK")






  .row
    h1=usershown.OSMUser + " Heatmap"
    p#heatmap

  .row
    .col-md-10
    .col-md-2
      if (usershown.OSMUser === layout.user.OSMUser)
        p
          a(href=layout.htmlroot+"/logout") [logout user]
        if (layout.user.temporaryGuest)
          p
            a(href=layout.htmlroot + "/usert/self?becomeFull=true") [Switch back to full]




block append scripts_to_load
  link(rel="stylesheet" type="text/css" href=layout.htmlroot + "/stylesheets/github_contribution_graph.css")
  script(src=layout.htmlroot + "/javascripts/github_contribution.js")
  script(src=layout.htmlroot + "/javascripts/moment.min.js")


block append scripts_to_execute
  script(nonce=cspNonce).
    // chart data example
    var chartData = JSON.parse('!{JSON.stringify(userHeatMapArray)}');
    let heatmapData = [];
    for (let i=0;i<chartData.length;i++) {
      let date = new Date(chartData[i].date)
      for (let c = 0; c< chartData[i].count;c ++) heatmapData.push(date.getTime());
    }
    var startDate = new Date('!{new Date().toISOString()}')
    startDate.setMonth(startDate.getMonth() - 12);
    $("#heatmap").github_graph({
      data:heatmapData,
      startDate: startDate,
      texts: ["changes","change"],
      color:[
         "#218380", "#268583", "#2A8885", "#2F8A88", "#338D8A", "#388F8D", "#3C928F", "#419492", "#469795", "#4A9997",
         "#4F9C9A", "#539E9C", "#58A19F", "#5CA3A1", "#61A6A4", "#66A8A7", "#6AABA9", "#6FADAC", "#73B0AE", "#78B2B1",
         "#7DB5B4", "#81B7B6", "#86B9B9", "#8ABCBB", "#8FBEBE", "#93C1C0", "#98C3C3", "#9DC6C6", "#A1C8C8", "#A6CBCB",
         "#AACDCD", "#AFD0D0", "#B3D2D2", "#B8D5D5", "#BDD7D8", "#C1DADA", "#C6DCDD", "#CADFDF", "#CFE1E2", "#D3E4E4",
         "#D8E6E7"]
    });
