if !MIXIN_INCLUDE
  include mixins

h3="Votes & Tags ..."
table.table.table-condensed
  tbody
    for vote ,i in votes
      tr
        td.col-md-1
          if params && params.edit
            span(class=vote.iconClass)
          else
            +voteButton(vote,article)
        td.col-md-1=vote.name
        td.col-md-5
          if article.votes && article.votes[vote.name]
            - labelclass = "osmbclabel-collect"
            each user in article.votes[vote.name]
              - if (layout.user.OSMUser === user) labelclass = "osmbclabel-user-self"
              span.label.small-margin(class=labelclass)=user
        td.col-md-5=vote.description