extends article_mixin



block content
  // FullAccessArticleView
  form#textanalyseform( method="POST",action="http://wortliga.de/textanalyse/" )
    input.form-control(type="hidden" name = "text" id ="textanalysefield")
  form(name="input",id="input", action=layout.htmlroot+"/article/#{article.id}/witholdvalues", method="post")
    .row
      // Block for Buttons in the upper right corner and on the top in mobile
      .col-md-6.col-md-push-6
        .row
          .col-md-4#voteButtons
            if (layout.user.access === "full")
              include ../voteButtons
          .col-md-1
            +doublettesButton
          .col-md-1

          .col-md-2

          .col-md-2
          .col-md-2
        .row
          .col-md-4

            +languageDisplay(article,{func: "showRL"})
            p.osmbc-help-text="Click to change left lang"
            if (layout.user.access === "full")
              +noTranslationButton
          .col-md-1
          .col-md-4
            +saveButton
            +cancelButton




          // Parallel Blog for common article Attributes
      .col-md-6.col-md-pull-6
        .row
          div.form-group
            label.col-md-2="Blog"
            div.col-md-10
              +blogSelector(article,layout.user.access !== "full" || !article.isChangeAllowed("blog"))
              textarea.hidden.form-control(id="old_blog" name="old_blog",rows=1,hide=true)=article.blog



        .row
          .form-group
            label.col-md-2="Category"
            div.col-md-10
              textarea.hidden.form-control(id="old_categoryEN" name="old_categoryEN",rows=1,hide=true)=article.categoryEN
              select(id="categoryEN",name="categoryEN" ).form-control.af
                for category in categories
                  - option = category[params.left_lang]
                  - if (params.right_lang !== null) option += " / "+category[params.right_lang]
                  if (category.EN == article.categoryEN)
                    option(value=category.EN selected )=option
                  else
                    option(value=category.EN disabled=!article.isChangeAllowed("categoryEN"))=option
        .row
          .col-md-2
          .col-md-10
            p.osmbc-help-text(id="categoryDisplay")
        // Display Predecessor Row
        if (layout.user.access === "full")
          .row
            .form-group
              label.col-md-2="Predecessor"
              .col-md-10
                textarea.hidden.form-control(id="old_predecessorId",name="old_predecessorId",rows=1,hide=true)=article.predecessorId
                select(id="predecessorId",name="predecessorId" ).form-control.af
                  if typeof(article.predecessorId)=="undefined" || article.predecessorId==""
                    option(value="" selected) None
                  else
                    option(value="" disabled= !article.isChangeAllowed("predecessorId")) None
                  if article.predecessorId === "0"
                    option(value="0" selected) First
                  else
                    option(value="0" disabled= !article.isChangeAllowed("predecessorId")) First
                  for a in articleCategories
                    if (a.id == article.predecessorId)
                      option(value=a.id selected )=a.title
                    else
                      - d= null;
                      for b in articleCategories
                        - if (b.predecessorId == a.predecessorId) {d=b;}
                      if !article.isChangeAllowed("predecessorId")
                        option(value=a.id disabled=true)=a.title+"("+d.title+")"
                      else
                        option(value=a.id )=a.title






    // Display Title Row
    .row
      .form-group
        label.col-md-1="Title"
        .col-md-10
          div.label.label-danger#title_unsaved(style="display:none")="unsaved"
          textarea.hidden.form-control(id="old_title" name="old_title",rows=1,hide=true)=article.title
          textarea.form-control.af(id="title" name="title",rows=1 readonly=!article.isChangeAllowed("title"))=article.title


    // Display Unpublish Reason Row
    .row.hidden(id="unpublishReasonRow")
      .form-group
        label.col-md-1="Unpublish Reason"
        .col-md-5
          textarea.hidden.form-control(id="old_unpublishReason",name="old_unpublishReason",rows=1,hide=true)=article.unpublishReason
          select(id="unpublishReason",name="unpublishReason" readonly=!article.isChangeAllowed("unpublishReason")).form-control.af
            for reason in ["","old","doublette","not relevant","merged into","reported earlier"]
              if (reason == article.unpublishReason)
                option(value=reason selected )=reason
              else
                option(value=reason )=reason
        .col-md-5
          textarea.hidden.form-control(id="old_unpublishReference",name="old_unpublishReference",rows=1,hide=true)=article.unpublishReference
          textarea.form-control.af(id="unpublishReference" name="unpublishReference" rows=1 readonly=!article.isChangeAllowed("unpublishReference"))=article.unpublishReference


    // Display Collection Row
    .row
      .col-md-1
      .col-md-11
        if (collectedByGuest && layout.user.access !== "guest")
          div.label.osmbclabel-guest-indicator="This article was collected by our guest user " + article.firstCollector + "."

    .row
      .form-group
        label.col-md-1="Collection"
        .col-md-10
          div.label.label-danger#collection_unsaved(style="display:none")="unsaved"
          textarea.form-control.af(id="collection" name="collection" rows=2 readonly=!article.isChangeAllowed("collection"))=article.collection
          textarea.hidden.form-control(id="old_collection" name="old_collection",rows=1,hide=true)=article.collection
    .row
      .col-md-1

      .col-md-6
        .div(id="linkArea")
      .col-md-4
        p.osmbc-help-text Drag me to a markdown field, or paste an URL into selected text to create an markdown link.


    block markdownArea








  .div#commentArea
    include commentArea

  if (layout.user.access === "full")
    .row#voteButtonsList
      include ../voteButtonsList

  #doublettes.row
    if articleReferences.count >= 1
      h3
        |Links used in other Post
      div
        table.table.table-striped.table-responsive
          thead
            tr
              th="link"
              th="article"
              th="category"
              th="blog"

          tbody
            each array,link in articleReferences
              if (link != "count" )
                each articleItem,index in array
                  if (articleItem.id != article.id) && (index <5)
                    tr
                      td
                        a(href=link) #{link.substring(0,80)+((link.length>80)?" ....":"")}
                      td
                        a(href=layout.htmlroot+'/article/'+articleItem.id)=articleItem.displayTitle()
                      td= articleItem.categoryEN
                      td= articleItem.blog
                  if (index == 8)
                    tr
                      td
                        a(href=link)=link
                      td
                        |And #{array.length-5} further articles.



    if (layout.user.access === "full")
      .row.visible-xs
        p
          br
          a(href=layout.htmlroot+"/changes/log?table=article&oid=" +article.id) [changes]
      .row.hidden-xs
        if changes
          h3
            |History
          div
            table.table.table-striped.table-responsive
              thead
                tr
                  th
                  th
                   |user
                  th
                   |what
                  th
                   |change
                  th
                   |when
              tbody
                each change, i in changes
                  tr
                    td
                     a(href=layout.htmlroot+'/changes/' + change.id)
                        span.glyphicon.glyphicon-info-sign
                    td= change.user
                    td= change.property
                    td
                      |!{change.htmlDiffText(100)}
                    td= layout.moment(change.timestamp).fromNow()
          div
            p
              |only displaying changes
              span.osmbc-inserted
                |inserted text
              span.osmbc-deleted
                |removed text



   


