extends article_mixin

block additionalMenuMain
  +translationMenu
  
block additionalMenuRight  
  - for (i = 3; layout.user.langArray && i < layout.user.langArray.length+2;i++)
    +langChooser("lang"+i)  
  


block content
  // FullAccessArticleView
  form.d-none#textanalyseform( method="POST",action="https://wortliga.de/textanalyse/" )
    input.form-control(name = "text" id ="textanalysefield")
  form.d-none#noTranslationForm(action=`${layout.htmlroot}/article/${article.id}/notranslation`, method="post", hide = true)
    textarea(type="text" name="language")
      | !{JSON.stringify(layout.activeLanguages)}
  
  form(name="input",id="input", action=`${layout.htmlroot}/article/${article.id}/witholdvalues`, method="post")
    .row
      // Block for Buttons in the upper right corner and on the top in mobile
      .col-md-6
        if (article._blog)
          div.form-group.row
            label.col-sm-2.col-form-label="Blog Date"
            label.col-md-10=layout.util.dateFormat(article._blog.startDate,"EN") + " - " +layout.util.dateFormat(article._blog.endDate,"EN")
        div.form-group.row
          a.col-sm-2.col-form-label(href=`${layout.htmlroot}/blog/${article.blog}`)="Blog"
          div.col-md-10
            +blogSelector(article,layout.user.access !== "full" || !article.isChangeAllowed("blog"))
            textarea.d-none.form-control(id="old_blog" name="old_blog",rows=1,hide=true)=article.blog
        div.form-group.row
          label.col-sm-2.col-form-label="Category"
          div.col-md-10
            textarea.d-none.form-control(id="old_categoryEN" name="old_categoryEN",rows=1,hide=true)=article.categoryEN
            select(id="categoryEN",name="categoryEN" ).form-control.af
              for category in categories
                - option = category[params.left_lang]
                - if (params.right_lang !== null) option += " / "+category[params.right_lang]
                if (category.EN == article.categoryEN)
                  option(value=category.EN selected )=option
                else
                  option(value=category.EN disabled=!article.isChangeAllowed("categoryEN"))=option
        div.form-group.row
          .col-md-2
          .col-md-10
            p.osmbc-help-text(id="categoryDisplay")
        // Display Predecessor Row
        if (layout.user.access === "full")
          
          div.form-group.row
            label.col-md-2.col-form-label="Predecessor"
            .col-md-10
              textarea.d-none.form-control(id="old_predecessorId",name="old_predecessorId",rows=1,hide=true)=article.predecessorId
              select(id="predecessorId",name="predecessorId" ).form-control.af
                if typeof(article.predecessorId)=="undefined" || article.predecessorId==""
                  option(value="" selected) None
                else
                  option(value="" disabled= !article.isChangeAllowed("predecessorId")) None
                if article.predecessorId === "0"
                  option(value="0" selected) First
                else
                  option(value="0" disabled= !article.isChangeAllowed("predecessorId")) First
                for a in articleCategories
                  if (a.id == article.predecessorId)
                    option(value=a.id selected )=a.title
                  else
                    - d= null;
                    for b in articleCategories
                      - if (b.predecessorId == a.predecessorId) {d=b;}
                    if !article.isChangeAllowed("predecessorId")
                      option(value=a.id disabled=true)=a.title+"("+d.title+")"
                    else
                      option(value=a.id )=a.title
      .col-md-6
        div.form-group.row
          .col-md-4#voteButtons
            if (layout.user.access === "full")
              include ../voteButtons
          .col-md-1
            +doublettesButton
          .col-md-1

          .col-md-2

          .col-md-2
          .col-md-2
        div.form-group.row
          .col-md-4

            +languageDisplay(article,{func: "showRL"})
            p.osmbc-help-text="green: Article is ready"
            p.osmbc-help-text="light blue: Article is empty"
            p.osmbc-help-text="grey: No Translation"
            p.osmbc-help-text="black font: language closed"
            if (layout.user.access === "full")
              +noTranslationButton
          .col-md-1
          .col-md-4
            +saveButton
            +cancelButton




                            // Parallel Blog for common article Attributes






    // Display Title Row
    div.form-group.row
      label.col-md-1="Title"
      .col-md-10
        div.badge.badge-danger#title_unsaved(style="display:none")="unsaved"
        textarea.d-none.form-control(id="old_title" name="old_title",rows=1,hide=true)=article.title
        textarea.form-control.af(id="title" name="title",rows=1 readonly=!article.isChangeAllowed("title"))=article.title


    // Display Unpublish Reason Row
    div.form-group.row.d-none#unpublishReasonRow
      label.col-md-1="Unpublish Reason"
      .col-md-5
        textarea.d-none.form-control(id="old_unpublishReason",name="old_unpublishReason",rows=1,hide=true)=article.unpublishReason
        select(id="unpublishReason",name="unpublishReason" readonly=!article.isChangeAllowed("unpublishReason")).form-control.af
          for reason in ["","old","doublette","not relevant","merged into","reported earlier"]
            if (reason == article.unpublishReason)
              option(value=reason selected )=reason
            else
              option(value=reason )=reason
      .col-md-5
        textarea.d-none.form-control(id="old_unpublishReference",name="old_unpublishReference",rows=1,hide=true)=article.unpublishReference
        textarea.form-control.af(id="unpublishReference" name="unpublishReference" rows=1 readonly=!article.isChangeAllowed("unpublishReference"))=article.unpublishReference


    // Display Collection Row
    div.form-group.row#CollectionRow
      .col-md-1
      .col-md-11
        if (collectedByGuest && layout.user.access !== "guest")
          div.badge.osmbclabel-guest-indicator="This article was collected by our guest user " + article.firstCollector + "."

    div.form-group.row
      if (layout && layout.user.access === "guest")
        label.col-md-1="Submission"
      else
        label.col-md-1="Collection"
      .col-md-10
        div.badge.badge-danger#collection_unsaved(style="display:none")="unsaved"
        textarea.form-control.af(id="collection" name="collection" rows=2 readonly=!article.isChangeAllowed("collection"))=article.collection
        textarea.d-none.form-control(id="old_collection" name="old_collection",rows=1,hide=true)=article.collection
    div.form-group.row#LinkArea
      .col-md-1

      .col-md-6
        .div(id="linkArea")
      .col-md-4
        p.osmbc-help-text Drag me to a markdown field, or paste an URL into selected text to create an markdown link.

    // display Markdown Blog
    block markdownArea
    // End Markdown Blog








  .div#commentArea
    include commentArea

  if (layout.user.access === "full")
    .row#voteButtonsList
      include ../voteButtonsList

  .row#doublettes
    if articleReferences.count >= 1
      h3
        |Links used in other Post
      div
        table.table.table-striped.table-responsive
          thead
            tr
              th="link"
              th="article"
              th="category"
              th="blog"

          tbody
            each array,link in articleReferences
              if (link != "count" )
                each articleItem,index in array
                  if (articleItem.id != article.id) && (index <5)
                    tr
                      td
                        a(href=link) #{link.substring(0,80)+((link.length>80)?" ....":"")}
                      td
                        a(href=layout.htmlroot+'/article/'+articleItem.id)=articleItem.displayTitle()
                      td= articleItem.categoryEN
                      td= articleItem.blog
                  if (index == 8)
                    tr
                      td
                        a(href=link)=link
                      td
                        |And #{array.length-5} further articles.



  if (layout.user.access === "full")
    .row.d-none.d-xs-block
      p
        br
        a(href=layout.htmlroot+"/changes/log?table=article&oid=" +article.id) [changes]
    .row.d-block.d-xs-none
      if changes
        h3
          |History
        div
          table.table.table-striped.table-responsive
            thead
              tr
                th
                th
                 |user
                th
                 |what
                th
                 |change
                th
                 |when
            tbody
              each change, i in changes
                tr
                  td
                   a(href=layout.htmlroot+'/changes/' + change.id)
                      i.fa.fa-info-circle
                  td= change.user
                  td= change.property
                  td
                    |!{change.htmlDiffText(100)}
                  td= layout.moment(change.timestamp).fromNow()
        div
          p
            |only displaying changes
            span.osmbc-inserted
              |inserted text
            span.osmbc-deleted
              |removed text



   
