extends article_new


block markdownArea

  .row
    .col-md-6
      +markdownWithPreview(params.left_lang)

    .col-md-6
      +markdownWithPreview(params.right_lang)

  .row
    .col-md-6
      +markdownWithPreview(params.lang3)
    .col-md-6
      +markdownWithPreview(params.lang4)






  .row
    i#languageFlagsShow.fa.fa-flag.fa-2x(
    onclick="$('#languageFlagsShow').hide();$('.row#languageFlags').removeClass('hidden');")

  .row#languageFlags.hidden
    - for (lang in languageFlags)
      img(id=lang,
        src=languageFlags[lang],
        class="img-thumbnail" ,
        width = 40,
        data-toggle="tooltip" data-placement="bottom" title=lang
        onclick="javascript:myclick(this.id)"
        ondragstart = "ondragstartflag(event,this.id);")
    p.osmbc-help-text="Click to copy to clipboard, or use drag and drop."












