extends ../layout


mixin leftcolumn
  if (params.right_lang === null)
    .col-md-10
      if block
        block
      else
        p No Content provided
  else
    .col-md-5
      if block
        block
      else
        p No Content provided

mixin rightcolumn
  if (params.right_lang !== null)
    .col-md-5
      if block
        block
      else
        p No Content provided
  else
    .col-md-5.d-none
      if block
        block
      else
        p No Content provided

mixin articleMarkdown(lang,disabled)
  - var d = disabled
  - var p=""
  if placeholder.markdown[lang]
    - p = placeholder.markdown[lang];
  if (article.categoryEN === "Upcoming Events")
    - p = "Calendar will be generated from OSMCAL when starting review."  
  textarea.markdownEdit.form-control.af(id="markdown" +lang placeholder = p spellcheck = "true" lang=lang name = "markdown" +lang rows = 6 readonly = d)=article["markdown" + lang]
  p.osmbc-help-text="'no translation' or '-' to specify no translation wanted."
  if (!d && article.categoryEN === "Upcoming Events")
    div.btn.btn-info(onclick=`window.getEventTable("${lang}",${"markdown" + lang},this);`) (Re)Generate Calendar
  
  div.alert.markdownMessage.alert-danger(id="text"+lang lang=lang style="display:none" )="Default Error Message"


mixin articlePreview(lang)
  .card.card-body.preview(id="preview" + lang, lang = lang)
    |!{article["textHtml"+lang]}



mixin articleTextanalyse(lang)
  if (lang === "DE") && (article["markdown" + lang])
    a(href="#" onClick ="taform = document.getElementById('textanalyseform');taf = document.getElementById('textanalysefield');taf.value = document.getElementById('previewDE').innerText; taf.parentElement.submit();") WORTLIGA Analyse (Aufruf einer externen Seite)

mixin articleTranslateButton(langFrom,langTo)
  if (article["markdown" + langFrom] && !article["markdown" + langTo] && article.isChangeAllowed("markdown" + langTo))
    button.btn.btn-small.btn-primary(
         class="translate"+langFrom+langTo name = "translate"+langFrom+langTo
         onClick =`window.translate('${langFrom}','${langTo}',window.mainTranslationService);return false;`
       ) Translate #{langFrom} -> #{langTo}
    button.btn.btn-small.btn-warning.d-none(class="translateWait"+langFrom+langTo)
      i.fa.fa-sync
      span=" Please Wait"
    button.btn.btn-small.btn-danger.d-none(class="translateError"+langFrom+langTo)
      span="Error occured"



mixin saveButton
  button.btn.btn-large.btn-primary#saveButton(type = "button" onclick ="window.saveButton()") Save

mixin doublettesButton
  if articleReferences.count >= 1
    a(href="#doublettes")
      div.button.btn.btn-large.btn-danger=articleReferences.count + " doub."



mixin cancelButton
  button.btn.btn-large.btn-secondary#cancelButton(type = "button" onclick =`disableUnchanged(); location.href='${layout.htmlroot}/article/${article.id}?edit=false';`) last Version


mixin noTranslationButton
  div#notranslationArea
    - open = false
    each lang in layout.activeLanguages
      if (article["markdown" + lang] || !article.isChangeAllowed("markdown" + lang))
      else
        - open = true;
    if open
      p
        button.btn.btn-small.btn-secondary#noTranslationButton(type = "button" onclick =" window.setNoTranslation(); ") no translation to rest

mixin markdownWithPreview(lang)
  - labelClass = ""
  - if (params.left_lang === lang) labelClass = "osmbclabel-lang";
  - if (params.right_lang === lang) labelClass = "osmbclabel-lang2";
  span.badge.badge-secondary(
      class=labelClass
      draggable="true"
      data-toggle="tooltip" data-placement="left" title="Drag me for copy full text"
      ondragstart=`ondragstartLangLabel(event,'${lang}');`)="  " + lang + "  "
  span.badge.badge-danger(style="display:none" id="markdown" + lang + "_unsaved" )="unsaved"


  textarea.d-none.form-control(id="old_markdown" + lang, name="old_markdown" + lang,rows=1,hide=true)=article["markdown" + lang]
  +articleMarkdown(lang,!article.isChangeAllowed("markdown" + lang))
  +articlePreview(lang)
  +articleTextanalyse(lang)

mixin articleTranslateMenu(langFrom,langTo,service)
  if (article["markdown" + langFrom] && !article["markdown" + langTo] && article.isChangeAllowed("markdown" + langTo))
    a.dropdown-item(
        class="translate"+langFrom+langTo name = "translate"+langFrom+langTo
        onClick =`window.translate('${langFrom}','${langTo}','${service}');return false;`
        )="Translate " + langFrom+  "->" +langTo
    a.dropdown-item.bg-warning.d-none(class="translateWait" + langFrom + langTo)=" Please Wait"
    a.dropdown-item.bg-danger.d-none(class="translateError" + langFrom + langTo)="Translate " + langFrom+  "->" +langTo +" "
        i.fa.fa-times
    a.dropdown-item.d-none(class="translateDone" + langFrom + langTo+" "+service)="Translate " + langFrom+  "->" +langTo +" "
       i.fa.fa-check


mixin translationMenu
  - let emptyMenu = true
  li.dropdown.navbar-item#translation.hidden-xs
    a.nav-link.dropdown-toggle#articleTranslateMenu(href='#', data-toggle='dropdown',role='button',aria-haspopup="true",aria-expanded="false") Translate
    ul.dropdown-menu(aria-labelledby="articleTranslateMenu")
      - let tsList = []
      - if (layout.user.translationServices && Array.isArray(layout.user.translationServices)) { tsList = layout.user.translationServices }
      each tService in tsList
        - emptyMenu = false
        li.dropdown-header="Use " + tService +":"
          - list = []
          - for ( i=0;layout.user.getLang(i);i++) {list.push(layout.user.getLang(i));}
          each a in list
            each b in list
              if (a!==b && a!== null && b!== null)
                +articleTranslateMenu(a, b, tService)
      - console.log("Empty Menu ............. " + emptyMenu)         
      if (emptyMenu)
        a.dropdown-item(
          onclick="location.href='" + layout.htmlroot + "/usert/" + layout.user.id + "';"
        )="Configure your Translation services"
        




block scripts
  script(src=layout.path("markdown-it") + '/markdown-it.min.js')
  script(src=layout.path("markdown-it-sup") + '/markdown-it-sup.min.js')
  script(src=layout.path("markdown-it-imsize") + '/markdown-it-imsize.min.js')
  script(src=layout.htmlroot + "/javascripts/osmbc_staff.js")
  script(src=layout.htmlroot + "/javascripts/article_view.js")




  script(nonce=cspNonce).
    // set Constant for Window with JADE Variables
    googleTranslateText = JSON.parse('!{JSON.stringify(googleTranslateText)}');
    activeLanguages = JSON.parse('!{JSON.stringify(layout.activeLanguages)}');
    leftLang = "!{params.left_lang}";
    rightLang = "!{params.right_lang}";
    lang3 = "!{params.lang3}";
    lang4 = "!{params.lang4}";
    translationServices = JSON.parse('!{JSON.stringify(translationServices)}');
    urlWoErrorWhileEdit = JSON.parse('!{JSON.stringify(urlWoErrorWhileEdit)}');
    mainTranslationService = "!{mainTranslationService}";
    htmlroot = "!{layout.htmlroot}";
    placeholder = !{JSON.stringify(placeholder.categories)}
    var catArray = !{JSON.stringify(categories)};
    var articleReferences = !{JSON.stringify(articleReferences)};
    var noCategorie = "no categorie";
    if (catArray && catArray[0] && catArray[0].EN) noCategorie = catArray[0].EN;
