extends ../layout


mixin leftcolumn
  if (params.right_lang === null)
    .col-md-10
      if block
        block
      else
        p No Content provided
  else
    .col-md-5
      if block
        block
      else
        p No Content provided

mixin rightcolumn
  if (params.right_lang !== null)
    .col-md-5
      if block
        block
      else
        p No Content provided
  else
    .col-md-5.hidden
      if block
        block
      else
        p No Content provided

mixin articleMarkdown(lang,disabled)
  - var d = disabled
  - var p=""
  if placeholder.markdown[lang]
    - p = placeholder.markdown[lang];
  if (article.categoryEN === "Upcoming Events")
    - p = "Calendar will be generated from OSMCAL when starting review."  
  textarea.markdownEdit.form-control.af(id="markdown" +lang placeholder = p spellcheck = "true" lang=lang name = "markdown" +lang rows = 6 readonly = d)=article["markdown" + lang]
  p.osmbc-help-text="'no translation' or '-' to specify no translation wanted."
  if (!d)
    div.btn.btn-info(onclick=`window.getEventTable("${lang}",${"markdown" + lang});`) (Re)Generate Calendar
  
  div.alert.markdownMessage.alert-danger(id="text"+lang lang=lang style="display:none" )="Default Error Message"


mixin articlePreview(lang)
  .panel.panel-default.panel-body.preview(id="preview" + lang, lang = lang)
    |!{article["textHtml"+lang]}



mixin articleTextanalyse(lang)
  if (lang === "DE") && (article["markdown" + lang])
    a(href="#" onClick ="taform = document.getElementById('textanalyseform');taf = document.getElementById('textanalysefield');taf.value = document.getElementById('previewDE').innerText; taf.parentElement.submit();") WORTLIGA Analyse (Aufruf einer externen Seite)

mixin articleTranslateButton(langFrom,langTo)
  if (article["markdown" + langFrom] && !article["markdown" + langTo] && article.isChangeAllowed("markdown" + langTo))
    button.btn.btn-small.btn-primary(
         class="translate"+langFrom+langTo name = "translate"+langFrom+langTo
         onClick =`window.translate('${langFrom}','${langTo}',window.mainTranslationService);return false;`
       ) Translate #{langFrom} -> #{langTo}
    button.btn.btn-small.btn-warning.hidden(class="translateWait"+langFrom+langTo)
      span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
      span=" Please Wait"
    button.btn.btn-small.btn-danger.hidden(class="translateError"+langFrom+langTo)
      span="Error occured"



mixin saveButton
  button.btn.btn-large.btn-primary#saveButton(type = "button" onclick ="window.saveButton()") Save

mixin doublettesButton
  if articleReferences.count >= 1
    a(href="#doublettes")
      div.button.btn.btn-large.btn-danger=articleReferences.count + " doub."



mixin cancelButton
  button.btn.btn-large.btn-default(type = "button" onclick =`disableUnchanged(); location.href='${layout.htmlroot}/article/${article.id}?edit=false';`) last Version


mixin noTranslationButton
  div#notranslationArea
    - open = false
    each lang in layout.activeLanguages
      if (article["markdown" + lang] || !article.isChangeAllowed("markdown" + lang))
      else
        - open = true;
    if open
      p
        button.btn.btn-small.btn-default(type = "button" onclick ="window.onbeforeunload=null; setNoTranslation(); document.getElementById('input').submit();") no translation to rest

mixin markdownWithPreview(lang)
  - labelClass = ""
  - if (params.left_lang === lang) labelClass = "osmbclabel-lang";
  - if (params.right_lang === lang) labelClass = "osmbclabel-lang2";
  span.label.label-default(
      class=labelClass
      draggable="true"
      data-toggle="tooltip" data-placement="left" title="Drag me for copy full text"
      ondragstart=`ondragstartLangLabel(event,'${lang}');`)="  " + lang + "  "
  span.label.label-danger(style="display:none" id="markdown" + lang + "_unsaved" )="unsaved"


  textarea.hidden.form-control(id="old_markdown" + lang, name="old_markdown" + lang,rows=1,hide=true)=article["markdown" + lang]
  +articleMarkdown(lang,!article.isChangeAllowed("markdown" + lang))
  +articlePreview(lang)
  +articleTextanalyse(lang)

mixin articleTranslateMenu(langFrom,langTo,service)
  if (article["markdown" + langFrom] && !article["markdown" + langTo] && article.isChangeAllowed("markdown" + langTo))
    li
      a(
        class="translate"+langFrom+langTo name = "translate"+langFrom+langTo
        onClick =`window.translate('${langFrom}','${langTo}','${service}');return false;`
        )="Translate " + langFrom+  "->" +langTo
    li.bg-warning.hidden(class="translateWait" + langFrom + langTo)
      a=" Please Wait"
    li.bg-danger.hidden(class="translateError" + langFrom + langTo)
      a="Translate " + langFrom+  "->" +langTo +" "
        span.glyphicon.glyphicon-remove
    li.hidden(class="translateDone" + langFrom + langTo+" "+service)
      a="Translate " + langFrom+  "->" +langTo +" "
        span.glyphicon.glyphicon-ok


mixin translationMenu
  li.dropdown#translation.hidden-xs
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Translate
      span.caret
    ul.dropdown-menu(role='menu')
      each tService in translationServices
        li.dropdown-header="Use " + tService +":"
          - list = [params.left_lang,params.right_lang,params.lang3,params.lang4]
          each a in list
            each b in list
              if (a!==b && a!== null && b!== null)
                +articleTranslateMenu(a, b, tService)



block scripts
  script(src=layout.path("markdown-it") + '/markdown-it.min.js')
  script(src=layout.path("markdown-it-sup") + '/markdown-it-sup.min.js')
  script(src=layout.path("markdown-it-imsize") + '/markdown-it-imsize.min.js')
  script(src=layout.htmlroot + "/javascripts/osmbc_staff.js")
  script(src=layout.htmlroot + "/javascripts/article_view.js")




  script(nonce=cspNonce).
    // set Constant for Window with JADE Variables
    googleTranslateText = JSON.parse('!{JSON.stringify(googleTranslateText)}');
    activeLanguages = JSON.parse('!{JSON.stringify(layout.activeLanguages)}');
    leftLang = "!{params.left_lang}";
    rightLang = "!{params.right_lang}";
    lang3 = "!{params.lang3}";
    lang4 = "!{params.lang4}";
    translationServices = JSON.parse('!{JSON.stringify(translationServices)}');
    mainTranslationService = "!{mainTranslationService}";
    htmlroot = "!{layout.htmlroot}";
    placeholder = !{JSON.stringify(placeholder.categories)}
    var catArray = !{JSON.stringify(categories)};
    var articleReferences = !{JSON.stringify(articleReferences)};
    var noCategorie = "no categorie";
    if (catArray && catArray[0] && catArray[0].EN) noCategorie = catArray[0].EN;
