extends article


block markdownArea

  .row
    - var lbg;
    - if (params.left_lang===layout.language) lbg = "osmbclabel-lang";
    - if (params.left_lang===layout.language2) lbg = "osmbclabel-lang2";
    - var rbg;
    - if (params.right_lang===layout.language) rbg = "osmbclabel-lang";
    - if (params.right_lang===layout.language2) rbg = "osmbclabel-lang2";




    .row
      .col-md-6
          span.badge.badge-secondary(
            id="left_lang"
            class=lbg
            draggable="true"
            data-toggle="tooltip" data-placement="left" title="Drag me for copy full text"
            ondragstart=`ondragstartLangLabel(event,'${params.left_lang}');`)="  " + params.left_lang + "  "
          span.badge.badge-danger(style="display:none" id="markdown" + params.left_lang + "_unsaved" )="unsaved"

          +articleMarkdown(params.left_lang,!article.isChangeAllowed("markdown" + params.left_lang))
          +articlePreview(params.left_lang)

      .col-md-6

            for l in layout.activeLanguages
              if l === params.right_lang
                span.badge.osmbclabel-lang2.RL(
                  class="RL-" + l
                  draggable="true"
                  data-toggle="tooltip" data-placement="left" title="Drag me for copy full text"
                  ondragstart=`ondragstartLangLabel(event,'${l}');`)=l
                span.badge.badge-secondary.RLOFF.d-none(
                    class="RLOFF-" + l
                    data-toggle="tooltip" data-placement="left" title="Click on language display to enable")="."
                span.badge.badge-danger(style="display:none" id="markdown" + l + "_unsaved" )="unsaved: "+l
              else
                span.badge.badge-secondary.RL.d-none(
                  class= "RL-" + l
                  draggable="true"
                  data-toggle="tooltip" data-placement="left" title="Drag me for copy full text"
                  ondragstart=`ondragstartLangLabel(event,'${l}');`)=l
                if l === params.left_lang
                  span.badge.badge-secondary.RLOFF(class="RLOFF-" + l)="-"
                else
                  span.badge.badge-secondary.RLOFF(
                      class="RLOFF-" + l
                      data-toggle="tooltip" data-placement="left" title="Click on language display to see "+l+" here")="."
                span.badge.badge-danger(style="display:none" id="markdown" + l + "_unsaved")="unsaved: "+l


            for l in layout.activeLanguages
              textarea.d-none.form-control(id="old_markdown" + l, name="old_markdown" + l,rows=1,hide=true) #{article["markdown" + l]}
              if l === params.right_lang
                .RL(class= "RL-" + l)
                  +articleMarkdown(l,!article.isChangeAllowed("markdown" + l))
              else
                if l !== params.left_lang
                  .RL.d-none(class= "RL-" + l)
                    +articleMarkdown(l,!article.isChangeAllowed("markdown" + l))

            for l in layout.activeLanguages
              if l === params.right_lang
                .RL(class= "RL-" + l)
                  +articlePreview(l)
              else
                .RL.d-none(class= "RL-" + l)
                  +articlePreview(l)





    .row
      .col-md-6
        i#languageFlagsShow.fa.fa-flag.fa-2x(
        onclick="$('#languageFlagsShow').hide();$('.row#languageFlags').removeClass('d-none');")

    .row#languageFlags.d-none
      .col-md-6
        - for (lang in languageFlags)
          img.flag(id=lang,
            src=languageFlags[lang],
            class="img-thumbnail" ,
            width = 40,
            data-toggle="tooltip" data-placement="bottom" title=lang
            onclick="javascript:myclick(this.id)"
            ondragstart = "ondragstartflag(event,this.id);")
        p.osmbc-help-text="Click to copy to clipboard, or use drag and drop."












  .row
    .col-md-1
    +leftcolumn
      p
        +articleTextanalyse(params.left_lang)
      for l in layout.activeLanguages
        if (l === params.right_lang)
          p.RL(class="RL-" + l)
            +articleTranslateButton(params.left_lang,l)
        else
          p.RL(class="RL-" + l)d-none
            +articleTranslateButton(params.left_lang,l)

    +rightcolumn
      for l in layout.activeLanguages
        if (l === params.right_lang)
          div.RL(class="RL-" + l)
            p
              +articleTextanalyse(l)
            p
              +articleTranslateButton(l,params.left_lang)
        else
          div.RL(class="RL-" + l)d-none
            p
              +articleTextanalyse(l)
            p
              +articleTranslateButton(l,params.left_lang)
