h2
  | Blog #{blog.name} changed status for #{lang}.

p
  | Blog 
  a(href="#{layout.url}#{layout.htmlroot}/blog/#{blog.name}") #{(blog.name)?blog.name:"MISSING NAME"}
  |  was changed by #{user.OSMUser}

p
  | Review status was set to #{status}
  

