h2
  | Welcome #{user.displayName}

p
  | #{inviter} has invited you to OSMBC. (May be he just changed your EMail adress in OSMBC)
  | You can login to OSMBC with your OpenStreetMap credentials via OAuth.
p
  a(href="#{layout.url}/osmbc.html") OSMBC
  |  is the tool for the international Weekly OSM and the German Wochennotiz Team to collaborate writing and translating the weekly news.
  | Someone has invited you to join. You can login with your OpenStreetMap credentials, and the above link.
p
  | If you would like to use this email address for OSMBC click on this link: 
  a(href='#{layout.url}#{layout.htmlroot}/usert/#{user.id}?verify=#{user.emailValidationKey}') Link To Click On.
p
  | If you would like to check your User Settings go to
  a(href='#{layout.url}#{layout.htmlroot}/usert/#{user.id}') User Settings 
  | .
p
  | Thanks for supporting Weekly & Wochennotiz.
p
  | Have fun with OSMBC. 
p
  | Christoph (TheFive).
