h2
  | Blog #{logblog} changed.

p
  | Blog 
  a(href="#{layout.url}#{layout.htmlroot}/blog/#{newBlog.name}") #{(newBlog.name)?newBlog.name:"MISSING NAME"}
  |  was changed by #{changeby.OSMUser} 

- for (prop in newBlog)
  if (prop !== "version")
    if newBlog[prop]!==blog[prop]
        p=newBlog[prop]


