extends blog_mixin


mixin userLabel(user,style)
  - bgColor = ""
  if (user == layout.user.OSMUser)
    - style = "osmbclabel-user-self"
  if (showColoredUser)
    - style = "osmbclabel-user-guest"
    if (userMap[user] && userMap[user])
      - style = "osmbclabel-user-"+userMap[user].access
    if (user === layout.user.OSMUser)
      - style = "osmbclabel-user-self"
    if (userMap[user] && userMap[user].access === "full" && typeof userMap[user].color === "string")
      - bgColor =  "background-color:"+ userMap[user].color
  if (bgColor !== "")
    span.badge.small-margin(class=style,style=bgColor)=user
  else
    span.badge.small-margin(class=style)=user


mixin previewDiv(article, lang)
  - previewClass = ""
  - if (!article.isFormulated(lang)) previewClass = "not-formulated";
  - if (article.isNoTranslation(lang)) previewClass = "hide-text";
  - if (article.isTranslatedAutomated(lang)) previewClass = "automated-translation"
  div(class=previewClass )
    if block
      block

//- Mixin to display the reviewBlog left and right
    It allows Editing a review comment, adding new ones, and is asking for
    at last non empty comments.
mixin reviewBlog(reviewComments,lang)
  if reviewComments
    .card
      .card-header
        .card-title
          span="Review "+lang
          if (reviewComments.length>0 && reviewComments[0].text=="startreview")
            - var reviewStarter= reviewComments[0].user
            - var reviewStartTime = reviewComments[0].timestamp
            span.text-muted.small=" (enabled by "+reviewStarter
            span.text-muted.small=" "+layout.moment(reviewComments[0].timestamp).fromNow()
            span.text-muted.small=") "
            a.text-muted.small(href=layout.htmlroot+"/changes/log?blog=" + blog.name + "&table=article&property=markdown"+lang+"&date=>="+reviewComments[0].timestamp) [changes]
      .card-body
        - personalReviewStarted=false
        each comment,i in reviewComments
          if comment.text!="startreview" && comment.text != "reviewing..."
            p
              b.span=comment.user
              span=" "
              span.text-muted.small=layout.moment(comment.timestamp).fromNow()
              if comment.editstamp
                span=" "
                i.text-muted.small="Edit: "+layout.moment(comment.editstamp).fromNow()
              if layout.user.OSMUser === comment.user && (!blog["close"+lang])
                span=" "
                a(onclick=`document.getElementById('editReview${lang}${i}').classList.remove('d-none');document.getElementById('reviewLeftText${lang}${i}').classList.add('d-none');`)
                  i.fa.fa-pencil
              if reviewStartTime
                span=" "
                a.text-muted.small(href=layout.htmlroot+"/changes/log?blog=" + blog.name + "&user="+comment.user+"&table=article&property=markdown"+lang+"&date=>="+reviewStartTime) [changes]
            p(id="reviewLeftText"+lang+i)=comment.text
            if (!comment.text)
              p.text-muted.small="Empty Comment"
            div.d-none(id="editReview"+lang+i)
              if (!blog["close"+lang])
                form(id="editreview"+lang+i name="review"+lang+i, action=layout.htmlroot+"/blog/" + blog.name +"/editReviewComment/"+i, method="post")
                  textarea(rows=5,class="form-control",name ="text",id="reviewComment"+lang+i)=comment.text
                  input.d-none(type="text",name="lang" value = lang)
                  button.btn.btn-large.btn-primary(id="reviewButton"+lang+i type="submit") Change
          if comment.text == "reviewing..."
            if layout.user.OSMUser === comment.user
              - personalReviewStarted = true
            h3
              div.badge.badge-warning
                b.span=comment.user
                span=" is reviewing since "+layout.moment(comment.timestamp).fromNow()


        .form-group
          if (!blog["close"+lang])
            if personalReviewStarted
              form(id="review"+lang name="review"+lang, action=layout.htmlroot+"/blog/" + blog.name +"/setReviewComment", method="post")

                  textarea(rows=5,
                        class="form-control",
                        name ="text",
                        id="reviewComment"+lang
                        placeholder="Please Type your Review here"
                        onkeyup="document.getElementById('reviewButton" + lang +"').disabled = (document.getElementById('reviewComment" + lang +"').value === '');")
                  input.d-none(type="text",name="lang" value = lang)

                  button.btn.btn-large.btn-primary(id="reviewButton"+lang type="submit" disabled) Review
                  button.btn.btn-large.btn-secondary(
                    id="reviewButtonCancel"+lang
                    type="button"
                    onclick="document.getElementById('reviewComment" + lang +"').value='delete';\
                       document.getElementById('review" +  lang + "').submit();") cancel
            else
              form(id="review" + lang name="review" + lang, action=layout.htmlroot+"/blog/" + blog.name +"/setReviewComment", method="post")
                .col-md-8
                  input.d-none(type="text",
                  class="form-control",
                  name ="text",
                  value ="reviewing..."
                  id="reviewComment" + lang
                  placeholder="Please Type your Review here"
                  onkeyup="document.getElementById('reviewButton" + lang + "').disabled = (document.getElementById('reviewComment" + lang +"').value === '');")
                  input.d-none(type="text",name="lang" value = lang)
                .col-md-4
                  button.btn.btn-large.btn-primary(id="reviewButton" + lang type="submit") Start Personal Review


mixin blogTranslateMenu(langFrom,langTo,service)
  if (!blog["closed"+langTo])
    a.dropdown-item(
        class="translate"+langFrom+langTo name = "translate"+langFrom+langTo
        onClick =`window.translate('${langFrom}','${langTo}','${service}');return false;`
        )="Translate " + langFrom+  "->" +langTo


mixin translationBlogMenu
  if (layout.blogTranslationVisibleFor === "full" || (Array.isArray(layout.blogTranslationVisibleFor) && layout.blogTranslationVisibleFor.indexOf(layout.user.OSMUser)>=0))
    li.dropdown.navbar-item
      a.nav-link.dropdown-toggle#translateMenu(href='#', data-toggle='dropdown', role='button',aria-haspopup="true",aria-expanded="false") 
        | Translate Blog
      div.dropdown-menu(aria-labelledby="translateMenu")
        each tService in layout.user.getTranslations()
          a.dropdown-header="Use " + tService +":"
            - list = [layout.user.getLang(0), layout.user.getLang(1)]
            each a in list
              each b in list
                if (a!==b && a!== null && b!== null)
                  +blogTranslateMenu(a, b, tService)

block additionalMenuMain
  +translationBlogMenu

block additionalMenuRight  
  +langMenu(2)

  



block content
  .row
    - unedited = blog.getUnEdited(left_lang);
    - notranslate = blog.getNoTranslate(left_lang);
    - autoTranslate = blog.getAutoTranslate(left_lang);
    - total = blog.getExpected(left_lang);
    - ready = (total-unedited - notranslate - autoTranslate)
    - if (total == 0) total = 1
  .row
    .col-md-1
      div.badge.osmbclabel-lang=left_lang
      if blog._unsolvedComments[left_lang] > 0
        span.badge.osmbclabel-no-markdown=blog._unsolvedComments[left_lang]+"(*)"
      else
        span.badge.osmbclabel-markdown="0(*)"
    .col-md-11
     div.progress(style="margin-bottom:2px")
      div.progress-bar.osmbclabel-markdown(style="width:" +parseInt(100*ready/total)+"%")=ready
      div.progress-bar.progress-bar.automated-translation(style=`width:${parseInt(100*autoTranslate/total)}%`)=autoTranslate
      div.progress-bar.osmbclabel-no-markdown(style="width:" + parseInt(100*unedited/total) + "%")=unedited
      div.progress-bar.osmbclabel-no-translation(style="width:" + parseInt(100*notranslate/total)+"%")=notranslate
  div.d-none.d-md-block
    if (right_lang!= "--" && right_lang != null)
      .row
        - unedited = blog.getUnEdited(right_lang);
        - notranslate = blog.getNoTranslate(right_lang);
        - autoTranslate = blog.getAutoTranslate(right_lang);
        - total = blog.getExpected(right_lang);
        - ready = (total-unedited - notranslate - autoTranslate)
        - if (total == 0) total = 1
        .col-md-1
          div.badge.badge-info.osmbclabel-lang2=right_lang
          if blog._unsolvedComments[right_lang] > 0
            span.badge.osmbclabel-no-markdown=blog._unsolvedComments[right_lang] + "(*)"
          else
            span.badge.osmbclabel-markdown="0(*)"
        .col-md-11
         div.progress(style="margin-bottom:10px")
          div.progress-bar.osmbclabel-markdown(style="width:" + parseInt(100*ready/total)+"%")=ready
          div.progress-bar.progress-bar.automated-translation(style=`width:${parseInt(100*autoTranslate/total)}%`)=autoTranslate
          div.progress-bar.osmbclabel-no-markdown(style="width:" +parseInt(100*unedited/total)+"%")=unedited
          div.progress-bar.osmbclabel-no-translation(style="width:" +parseInt(100*notranslate/total)+"%")=notranslate


  .row
    - columnLeftSize = "col-md-6"
    - columnRightSize = "col-md-6"
    - if (right_lang== "--" || right_lang == null)  {columnLeftSize = "col-md-12";columnRightSize = "d-none";}
    .col-md-6
      h2
        span.d-none.d-md-block=blog.getBlogName(left_lang)+" "
        |#{blog.name}
        span.d-none.d-md-block=" ("+blog.getStatus(left_lang)+")"


    .col-md-3
      +blogReviewButtons(left_lang)
    .col-md-3.d-none.d-md-block
      +blogReviewButtons(right_lang)

  .row
    div(class=columnLeftSize)
      +reviewBlog(blog["reviewComment"+left_lang],left_lang)
    div.d-none.d-md-block(class=columnRightSize)
      +reviewBlog(blog["reviewComment"+right_lang],right_lang)



  .row
    .col-md-12
      ul.nav.nav-tabs
        li.nav-item.d-none.d-md-block(role="presentation")
          a.nav-link(href="#filter")
            i.fa.fa-filter
        +navbutton("Overview",tab,"")
        +navbutton("Full",tab,"")
        +navbutton("Review",tab,"")

        //
          - v = 0
          while layout.user["blogSetting"+v]
            if layout.user["blogSetting"+v]!="-"
              - style0 = layout.user["blogSetting"+v]+layout.user["blogLanguages"+v]
              +navbutton(style0,style)
            - v++
        li.nav-item.d-none.d-md-block
          a.nav-link(href=layout.htmlroot+"/blog/" + blog.name +"/preview?lang=" +left_lang)
            i.fa.fa-download
            | #{left_lang}
            if !(blog.getUnEdited(left_lang) == 0)
              span=" "
              i.fa.fa-exclamation-triangle
        if (right_lang != "--" && right_lang != null)
          li.nav-item.d-none.d-md-block
            a.nav-link(href=layout.htmlroot+"/blog/" + blog.name +"/preview?lang=" + right_lang)
              i.fa.fa-download
              | #{right_lang}
              if !(blog.getUnEdited(right_lang) == 0)
                span=" "
                i.fa.fa-exclamation-triangle

        li.nav-item.dropdown.show
          a.nav-link.dropdown-toggle#dropdownExportLanguages(role="button", data-toggle='dropdown',aria-haspopup="true",aria-expanded="false")
            i.fa.fa-download
          div.dropdown-menu(aria-labelledby="dropdownExportLanguages")
            - var closedLangs = []
            for lang in layout.activeLanguages
              - if ( blog["close"+lang] === true) closedLangs.push(lang)
              a.dropdown-item(href=layout.htmlroot+"/blog/" + blog.name + "/preview?lang=" + lang)
                span="Export "+ lang
                if !(blog.getUnEdited(lang) == 0)
                  span=" "
                  i.fa.fa-exclamation-triangle
            - if (closedLangs.length>1)
              a.dropdown-item(href=layout.htmlroot+"/blog/" + blog.name + "/preview?lang=ALL&download=true")
                span
                  span="Export All: "
                  each lang in closedLangs
                    span=lang+" "
                    if !(blog.getUnEdited(lang) == 0)
                      span=" "
                      i.fa.fa-exclamation-triangle
                    span=","
              a.dropdown-item(href=layout.htmlroot+"/blog/" + blog.name + "/preview?lang=ALL&download=true&markdown=true")
                span
                  span="Export All as zipped *.md: "
                  each lang in closedLangs
                    span=lang+" "
                    if !(blog.getUnEdited(lang) == 0)
                      span=" "
                      i.fa.fa-exclamation-triangle
                    span=","
              a.dropdown-item(href=layout.htmlroot+"/blog/" + blog.name + "/previewHeader")
                span="Download corresponding Headers."
                
                    
              

                  






  block blogcontent
  .row
    .col-md-8
    .col-md-1
      p
        a(href=layout.htmlroot+"/changes/log?blog=" + blog.name +"&table=blog") [changes]
    .col-md-1
      p
        a(href=layout.htmlroot+"/blog/" + blog.name +"/stat") [Statistic]

    .col-md-2
      p
        a#editBlogDetail(href=layout.htmlroot+"/blog/edit/" + blog.name) [Edit Blog Detail]




