h2
  | Change in article of #{newArticle.blog}

p
  | Article 
  a(href="#{layout.url}#{layout.htmlroot}/article/#{article.id}") #{(newArticle.title)?newArticle.title:"NO TITLE"}
  |  was changed by #{changeby.displayName} 

- for (prop in change)
  p
    if (prop !== "version")
      if newArticle[prop]!==article[prop]
        if article[prop]
          h3
            | #{prop} was changed
        else
          h3
            | #{prop} was added
        p=newArticle[prop]


