h2
  | Change in article of #{logblog}

p
  | Article was changed by #{changeby.displayName}
  a(href="#{layout.url}#{layout.htmlroot}/article/#{article.id}") #{(article.title)?article.title:"NO TITLE"}


- for (prop in change)
  if (prop !== "version")
    if change[prop] && change[prop]!==article[prop]
      if article[prop]
        p
          | #{prop} was changed
      else
        p
          | #{prop} was added
      p=change[prop]


