h2
  | Blog #{blog.name} changed status for #{lang}.

p
  | Blog 
  a(href=layout.url + layout.htmlroot +"/blog/" + blog.name)=((blog.name)?blog.name:"MISSING NAME")
  |  was changed by #{user.OSMUser}


if status === "markexported"
  p
    | Review status was set to exported.
else if status === "startreview"
  p
    | Blog is set to Review.
    | Please start your review with the *REVIEW* Tab - short howto: https://www.youtube.com/watch?v=ye4U0XMq0lQ
    | Don't forget to mark your review in the textbox. Thank you in advance.
else
  p
    | Review status was set to #{status}
  

