h2
  if status
    | Blog #{blog.name} was closed for #{lang}.
  else
    | Blog #{blog.name} was reopened for #{lang}.

p
  if status
    | Blog 
    a(href="#{layout.url}#{layout.htmlroot}/blog/#{blog.name}") #{(blog.name)?blog.name:"MISSING NAME"}
    |(#{lang}) was closed by #{user.OSMUser}.
  else
    | Blog 
    a(href="#{layout.url}#{layout.htmlroot}/blog/#{blog.name}") #{(blog.name)?blog.name:"MISSING NAME"}
    |(#{lang}) was reopened by #{user.OSMUser}.



