h2
  if status
    | Blog #{blog.name} was closed for #{lang}.
  else
    | #{user.OSMUser} has reopend blog #{blog.name} for #{lang}

p
  | Blog 
  a(href="#{layout.url}#{layout.htmlroot}/blog/#{blog.name}") #{(blog.name)?blog.name:"MISSING NAME"}
  |  was changed by #{user.OSMUser}



